{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 24.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 494.6 199.4" style="enable-background:new 0 0 494.6 199.4;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#FFFFFF;}
</style>
      <g>
        <path class="st0" d="M122.1,195.4c0-0.1,0-0.1,0-0.1l2.6-1.9c0.1,0,0.1,0,0.1,0c1.1,1.7,2.9,2.6,4.8,2.6c1.6,0,2.5-1.1,2.5-2.2
		c0-1.2-0.8-2.3-3-3.1c-3.6-1.3-5.8-3-5.8-6.3c0-3.3,2.5-5.4,5.7-5.4c3.2,0,5.2,1.7,6.5,3.4c0,0,0,0.1,0,0.1l-2.4,2c0,0-0.1,0-0.1,0
		c-1-1.2-2.3-2.1-3.8-2.1c-1.4,0-2.2,0.9-2.2,2.2c0,1.2,1.1,1.8,3.3,2.6c3.5,1.1,5.5,3.3,5.5,6.2c0,3.1-2,6-6.6,6
		C125.4,199.4,123.2,197.3,122.1,195.4z"/>
        <path class="st0" d="M144.2,183C144.1,183,144.1,182.9,144.2,183l-0.1-3.5c0-0.1,0-0.1,0.1-0.1h17.6c0.1,0,0.1,0,0.1,0.1v3.5
		c0,0.1,0,0.1-0.1,0.1l-6.9,0.1v15.9c0,0.1,0,0.1-0.1,0.1h-3.6c-0.1,0-0.1,0-0.1-0.1V183L144.2,183z"/>
        <path class="st0" d="M171.1,190.8v-11.3c0-0.1,0-0.1,0.1-0.1h3.5c0.1,0,0.1,0,0.1,0.1v11.9c0,3,2,4.6,4,4.6c2.4,0,4.1-1.7,4.1-4.2
		v-12.4c0-0.1,0-0.1,0.1-0.1h3.5c0.1,0,0.1,0,0.1,0.1v11.7c0,4.3-2.5,8.3-7.6,8.3C175,199.4,171.1,196.7,171.1,190.8z"/>
        <path class="st0" d="M205.9,199h-7.8c-0.1,0-0.1,0-0.1-0.1v-19.5c0-0.1,0-0.1,0.1-0.1h7.1c1.5,0,3.1,0.4,4.5,1
		c2.7,1.3,4.8,3.9,4.8,9.1C214.5,196.2,210,199,205.9,199z M207.9,183.6c-0.8-0.4-1.8-0.8-2.9-0.8h-3.1v12.8h4.1
		c2,0,4.8-1.5,4.8-6.4C210.7,186.1,209.6,184.5,207.9,183.6z"/>
        <path class="st0" d="M238.2,195.4C238.2,195.4,238.3,195.4,238.2,195.4l0.1,3.5c0,0.1,0,0.1-0.1,0.1h-13.7c-0.1,0-0.1,0-0.1-0.1
		v-19.5c0-0.1,0-0.1,0.1-0.1h13c0.1,0,0.1,0,0.1,0.1v3.4c0,0.1,0,0.1-0.1,0.1l-9.2,0.1v4.6l6.4,0.1c0.1,0,0.1,0,0.1,0.1v3.3
		c0,0.1,0,0.1-0.1,0.1l-6.4,0.1v4.2H238.2z"/>
        <path class="st0" d="M248.7,198.9v-19.5c0-0.1,0-0.1,0.1-0.1h3.9c0,0,0.1,0,0.1,0l9.6,13.7v-13.6c0-0.1,0-0.1,0.1-0.1h3.3
		c0.1,0,0.1,0,0.1,0.1v19.5c0,0.1,0,0.1-0.1,0.1h-3.6l-0.1,0l-9.9-13.9v13.8c0,0.1,0,0.1-0.1,0.1L248.7,198.9
		C248.8,199,248.7,199,248.7,198.9z"/>
        <path class="st0" d="M275.4,183C275.3,183,275.3,182.9,275.4,183l-0.1-3.5c0-0.1,0-0.1,0.1-0.1h17.6c0.1,0,0.1,0,0.1,0.1v3.5
		c0,0.1,0,0.1-0.1,0.1l-6.9,0.1v15.9c0,0.1,0,0.1-0.1,0.1h-3.7c-0.1,0-0.1,0-0.1-0.1V183L275.4,183z"/>
        <path class="st0" d="M316.3,195.4C316.3,195.4,316.4,195.5,316.3,195.4l0.1,3.5c0,0.1,0,0.1-0.1,0.1h-13.7c-0.1,0-0.1,0-0.1-0.1
		v-19.5c0-0.1,0-0.1,0.1-0.1h3.7c0.1,0,0.1,0,0.1,0.1v16L316.3,195.4z"/>
        <path class="st0" d="M326.8,198.9v-19.5c0-0.1,0-0.1,0.1-0.1h3.7c0.1,0,0.1,0,0.1,0.1v19.5c0,0.1,0,0.1-0.1,0.1L326.8,198.9
		C326.8,199,326.8,199,326.8,198.9z"/>
        <path class="st0" d="M351.8,188C351.9,188,351.9,188.1,351.8,188l0.1,3.4c0,0.1,0,0.1-0.1,0.1l-5.7,0.1v7.4c0,0.1,0,0.1-0.1,0.1
		h-3.7c-0.1,0-0.1,0-0.1-0.1v-19.5c0-0.1,0-0.1,0.1-0.1h13c0.1,0,0.1,0,0.1,0.1v3.4c0,0.1,0,0.1-0.1,0.1l-9.2,0.1v5L351.8,188z"/>
        <path class="st0" d="M379.5,195.4C379.5,195.4,379.5,195.4,379.5,195.4l0.1,3.5c0,0.1,0,0.1-0.1,0.1h-13.7c-0.1,0-0.1,0-0.1-0.1
		v-19.5c0-0.1,0-0.1,0.1-0.1h13c0.1,0,0.1,0,0.1,0.1v3.4c0,0.1,0,0.1-0.1,0.1l-9.2,0.1v4.6l6.4,0.1c0.1,0,0.1,0,0.1,0.1v3.3
		c0,0.1,0,0.1-0.1,0.1l-6.4,0.1v4.2H379.5z"/>
      </g>
      <polygon class="st0" points="280.6,59.1 321.9,59.1 322,80.5 200.5,80.5 200.4,99 241.7,99 241.7,120.4 180.5,120.4 180.5,59.1
	260.2,59.1 260.2,18.6 340.5,18.6 340.5,0 241.7,0 241.7,40.5 161.9,40.5 161.9,139 260.2,139 260.2,99 340.5,99 340.5,40.5
	280.6,40.5 "/>
      <rect x="120.8" y="40.5" class="st0" width="18.6" height="98.5"/>
      <rect x="120.8" class="st0" width="18.6" height="18.6"/>
      <rect x="362.9" y="120.4" class="st0" width="18.6" height="18.6"/>
      <rect x="363" y="0" class="st0" width="18.6" height="99"/>
      <polygon class="st0" points="494.6,40.5 403.8,40.5 403.8,59.1 439.9,59.1 439.9,139 458.5,139 458.5,59.1 494.6,59.1 "/>
      <path class="st0" d="M63.3,40.6H0V139h63.3c19.4,0,35.1-15.8,35.1-35.1V75.7C98.4,56.3,82.6,40.6,63.3,40.6z M79.8,103.8
	c0,9.1-7.4,16.5-16.5,16.5H18.6V59.2h44.7c9.1,0,16.5,7.4,16.5,16.5V103.8z"/>
</svg>

  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
