// Non-modular or client styles for .l-footer region.
footer#footer {
  @include flex-grid-row();
  flex-direction: column;
  align-items: center;
  padding: 30px 0;


  .region {
    @include grid-col-gutter();
    width: 100%;
    @include breakpoint(mediumplus){
      margin-bottom: 0;
    }
    div.region-wrapper{
      @include breakpoint(mediumplus){
        max-width: 710px;
        margin: 0 auto;
      }
      @include breakpoint(large){
        max-width: 880px;
      }
      @include breakpoint(xlarge){
        max-width: 1060px;
      }
      @include breakpoint(xxlarge){
        max-width: 1290px;
      }
    }


  }

  .paragraph--type--branch {
    @include breakpoint(smallplus){
      flex-direction: row;
      align-items: unset;
    }
    @include breakpoint(mediumplus) {
      justify-content: flex-end;
    }
    .base-contact-fields {
      @include breakpoint(smallplus){
        padding-right: 15px;
        text-align: right;
      }
      @include breakpoint(mediumplus) {
        padding-right: 30px;
      }
    }
    .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        padding-left: 15px;
        text-align: left;
      }
      @include breakpoint(mediumplus) {
        text-align: right;
        padding-left: 0;
      }
    }
    .base-contact-fields, .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        flex: 1 0 50%;
      }
      @include breakpoint(mediumplus){
        flex: unset;
      }
    }
  }

  .block-social {
    .linkicon {

    }
  }
}



.block-base-footer {
  ul.menu {
    justify-content: center;
    @include breakpoint(mediumplus){
      justify-content: flex-start;
      flex-direction: column;
    }
    @include breakpoint(xlarge){
      flex-direction: row;
    }
    &>li {
      a, &>span {
        text-transform: lowercase;
        font-weight: normal;
        font-size: rem-calc(12);
        padding: $menu-items-padding;
        display: block;
        line-height: 1;
        &:hover, &:focus {
          color: $primary-color;
        }
        @include breakpoint(mediumplus){
          padding-left: 0;
        }
        @include breakpoint(xlarge){
          padding-left: 1rem;
        }
        @include breakpoint(xlarge){
          &:first-of-type{
            padding-left: 0;
          }
        }
      }
      &>span {
        cursor: pointer;
      }
    }
  }
}
.region-footer_first{
  background-color: $primary-color;
  padding-top: 25px;
  padding-bottom: 40px;
  z-index: 1;
  @include breakpoint(xlarge){
    padding-bottom: 25px;
  }
  @include breakpoint(xxlarge){
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 55Px!important;
  }
  @include breakpoint(xlarge) {
    div.region-wrapper {
      @include flex-grid-row();
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  .block-system-branding-block{
    display: none;
    @include breakpoint(mediumplus){
      display: block;
      padding-left: 0!important;
      svg{
        width: 151px;
        height: 65px;
      }
    }
    @include breakpoint(xlarge){
      @include flex-grid-column(4 of 12);
      svg{
        width: 261px;
        height: 105px;
      }
    }
  }
  .block-studentenkamer{
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.45px;
    line-height: 28px;
    max-width: 256px;
    margin: 0 auto;
    @include breakpoint(mediumplus){
  margin-top: -92px;
      max-width: 465px;
      margin-left: auto;
      margin-right: 0;
    }
    @include breakpoint(xlarge){
      margin-top: 0px;
      @include flex-grid-column(5 of 12);
      padding-left: 0px!important;
      padding-right: 0px!important;
    }
    @include breakpoint(xxlarge){
      margin-left: -30px;
    }
  }
  .block-diggitstudentlife{
    max-width: 256px;
    margin: 0 auto;
    @include breakpoint(mediumplus){
      max-width: 465px;
      margin-left: auto;
      margin-right: 0;
    }
    @include breakpoint(xlarge){
      @include flex-grid-column(3 of 12);
    }
    h2{
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: -0.3px;
      line-height: 30px;
      margin-bottom: 0px;
    }
    .field-name-field-telephone{
      .field-item{
        &::before{
          content: 'T.';
          color: black;
          margin-right: 3px;
        }
      }
    }
    a{
      color: black;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.3px;
      line-height: 30px;
    }
  }
}

.region-footer_middle {
  text-align: center;
  background-color: #16E473;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='266px' height='75px' viewBox='0 0 266 75' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EGroup 2%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Footer-320' transform='translate(-27.000000, -747.000000)'%3E%3Crect id='Rectangle-Copy-19' fill='%2316E473' x='0' y='331' width='320' height='480'%3E%3C/rect%3E%3Cg id='Group' transform='translate(32.000000, 752.000000)'%3E%3Cg id='Group-2'%3E%3Cpath d='M23.2369518,44.442 C27.0449518,44.442 29.9349518,42.674 29.9349518,39.036 C29.9349518,35.874 27.6909518,34.548 25.1409518,33.664 C22.6929518,32.848 21.1969518,32.678 21.1969518,31.692 C21.1969518,30.978 21.7749518,30.536 22.7949518,30.536 C24.2229518,30.536 25.7869518,31.012 26.8409518,31.93 C26.8749518,31.964 26.9429518,31.964 26.9769518,31.93 L29.1529518,29.176 C29.1869518,29.142 29.1869518,29.074 29.1529518,29.04 C27.5209518,27.544 25.7189518,26.592 22.6249518,26.592 C19.4629518,26.592 16.5729518,28.7 16.5729518,31.726 C16.5729518,34.854 18.5109518,36.282 20.9589518,37.132 C23.5429518,38.016 25.2089518,38.118 25.2089518,39.376 C25.2089518,40.056 24.5969518,40.532 23.2029518,40.532 C21.1629518,40.532 19.5309518,39.682 18.2729518,38.628 C18.2389518,38.594 18.1709518,38.594 18.1369518,38.628 L15.8249518,41.348 C15.7569518,41.416 15.7909518,41.45 15.8249518,41.484 C17.8649518,43.66 20.6189518,44.442 23.2369518,44.442 Z M39.7220361,44.442 C41.9660361,44.442 43.7680361,43.422 44.7880361,42.742 C44.8900361,42.674 44.8900361,42.674 44.8560361,42.572 L43.7000361,39.002 C43.6660361,38.866 43.5980361,38.866 43.5300361,38.934 C42.8160361,39.546 41.8980361,40.26 40.8440361,40.26 C39.5860361,40.26 38.9400361,39.614 38.9400361,37.064 L38.9400361,31.114 C38.9400361,31.08 43.8360361,31.012 43.8360361,31.012 C43.9040361,31.012 43.9380361,30.978 43.9380361,30.91 L43.9380361,27.102 C43.9380361,27.034 43.9040361,27 43.8360361,27 L38.9400361,27 L38.9400361,20.744 C38.9400361,20.676 38.9060361,20.608 38.8040361,20.642 L34.1120361,21.628 C34.0440361,21.628 33.9760361,21.696 33.9760361,21.798 C33.9760361,21.798 33.8740361,27 33.8400361,27 L30.9500361,27 C30.8820361,27 30.8480361,27.034 30.8480361,27.102 L30.8480361,30.91 C30.8480361,30.978 30.8820361,31.012 30.9500361,31.012 L33.8400361,31.114 L33.8400361,38.152 C33.8400361,42.13 36.1860361,44.442 39.7220361,44.442 Z M52.4671205,44.442 C55.3911205,44.442 56.9891205,43.83 58.3151205,42.3 C58.9611205,43.592 59.8111205,44.306 63.7891205,44.136 C63.8571205,44.136 63.8911205,44.102 63.8911205,44.034 L63.8911205,40.43 C63.8911205,40.362 63.8571205,40.328 63.7891205,40.328 L63.3131205,40.328 C62.2931205,40.328 62.1231205,39.92 62.1231205,38.73 L62.1231205,33.018 C62.1231205,29.006 59.4031205,26.592 55.0171205,26.592 C51.6851205,26.592 49.8831205,27.136 47.4011205,28.224 C47.3331205,28.258 47.2991205,28.292 47.3331205,28.36 L48.5911205,31.998 C48.6251205,32.066 48.6591205,32.066 48.7271205,32.032 C49.8491205,31.454 52.1611205,30.774 54.0651205,30.774 C56.2751205,30.774 57.1251205,31.624 57.1251205,33.358 L57.1251205,33.562 L52.5691205,33.698 C48.8291205,33.8 46.1431205,35.874 46.1431205,39.138 C46.1431205,42.436 49.0331205,44.442 52.4671205,44.442 Z M53.5891205,40.566 C51.9911205,40.566 50.8351205,39.988 50.8351205,38.832 C50.8351205,37.676 52.1271205,36.928 54.0991205,36.928 L57.1251205,36.928 L57.1251205,37.676 C57.1251205,39.478 56.1731205,40.566 53.5891205,40.566 Z M72.8962048,50.256 C72.9642048,50.256 72.9982048,50.222 73.0322048,50.154 L83.0282048,27.136 C83.0622048,27.034 83.0282048,27 82.9262048,27 L78.0642048,27 C77.9962048,27 77.9622048,27 77.9282048,27.068 L73.8482048,36.758 L69.6662048,27.102 C69.6322048,27.034 69.5982048,27 69.5302048,27 L64.2262048,27 C64.1242048,27 64.0902048,27.068 64.1242048,27.136 L71.1962048,42.504 L67.9662048,50.12 C67.9322048,50.222 67.9662048,50.256 68.0682048,50.256 L72.8962048,50.256 Z M97.7743735,24.552 C97.8423735,24.552 97.8763735,24.518 97.8763735,24.45 L97.9783735,19.758 C97.9783735,19.69 97.9443735,19.656 97.8763735,19.656 L92.7763735,19.656 C92.7083735,19.656 92.6743735,19.69 92.6743735,19.758 L92.7763735,24.45 C92.7763735,24.518 92.8103735,24.552 92.8783735,24.552 L97.7743735,24.552 Z M97.7743735,44 C97.8423735,44 97.8763735,43.966 97.8763735,43.898 L97.8763735,27.102 C97.8763735,27.034 97.8423735,27 97.7743735,27 L92.9463735,27 C92.8783735,27 92.8443735,27.034 92.8443735,27.102 L92.8443735,43.898 C92.8443735,43.966 92.8783735,44 92.9463735,44 L97.7743735,44 Z M106.371458,44 C106.439458,44 106.473458,43.966 106.473458,43.898 L106.473458,35.126 C106.473458,32.168 108.071458,31.012 110.417458,31.012 C112.321458,31.012 113.749458,31.964 113.749458,34.854 L113.749458,43.898 C113.749458,43.966 113.783458,44 113.851458,44 L118.679458,44 C118.747458,44 118.781458,43.966 118.781458,43.898 L118.781458,34.412 C118.781458,29.414 115.755458,26.592 111.913458,26.592 C109.227458,26.592 107.425458,27.374 106.473458,28.836 L106.473458,27.102 C106.473458,27.034 106.439458,27 106.371458,27 L101.543458,27 C101.475458,27 101.441458,27.034 101.441458,27.102 L101.441458,43.898 C101.441458,43.966 101.475458,44 101.543458,44 L106.371458,44 Z M128.568542,44 C128.636542,44 128.670542,43.966 128.670542,43.898 L128.670542,31.114 L133.532542,31.012 C133.600542,31.012 133.634542,30.978 133.634542,30.91 L133.634542,27.102 C133.634542,27.034 133.600542,27 133.532542,27 L128.670542,27 L128.670542,26.184 C128.670542,23.94 129.146542,22.818 130.234542,22.818 C130.914542,22.818 131.356542,23.328 131.662542,24.654 C131.696542,24.756 131.730542,24.79 131.866542,24.722 L135.300542,22.852 C135.368542,22.818 135.402542,22.784 135.368542,22.682 C134.382542,19.826 132.818542,18.602 130.030542,18.602 C126.664542,18.602 123.638542,21.016 123.638542,25.47 L123.638542,27 L120.646542,27 C120.578542,27 120.544542,27.034 120.544542,27.102 L120.544542,30.91 C120.544542,30.978 120.578542,31.012 120.646542,31.012 L123.638542,31.114 L123.638542,43.898 C123.638542,43.966 123.672542,44 123.740542,44 L128.568542,44 Z M143.829627,44.442 C148.657627,44.442 153.417627,40.974 153.417627,35.5 C153.417627,30.128 148.657627,26.592 143.829627,26.592 C139.069627,26.592 134.241627,30.06 134.241627,35.5 C134.241627,41.212 139.205627,44.442 143.829627,44.442 Z M143.829627,40.26 C140.973627,40.26 139.443627,38.05 139.443627,35.5 C139.443627,32.984 140.939627,30.808 143.829627,30.808 C146.787627,30.808 148.215627,33.086 148.215627,35.5 C148.215627,37.948 146.651627,40.26 143.829627,40.26 Z M160.926711,44 C160.994711,44 161.028711,43.966 161.028711,43.898 L161.028711,36.622 C161.028711,32.338 162.014711,30.944 165.108711,30.944 C166.740711,30.944 168.168711,31.896 168.712711,32.44 C168.780711,32.508 168.882711,32.542 168.916711,32.406 L169.596711,27.578 C169.596711,27.51 169.562711,27.442 169.460711,27.408 C168.440711,27 167.318711,26.592 165.924711,26.592 C163.748711,26.592 162.218711,27.374 161.028711,28.836 L161.028711,27.102 C161.028711,27.034 160.994711,27 160.926711,27 L156.098711,27 C156.030711,27 155.996711,27.034 155.996711,27.102 L155.996711,43.898 C155.996711,43.966 156.030711,44 156.098711,44 L160.926711,44 Z M176.153795,44 C176.221795,44 176.255795,43.966 176.255795,43.898 L176.255795,34.888 C176.255795,32.202 177.649795,31.012 179.757795,31.012 C181.559795,31.012 182.715795,31.93 182.715795,34.684 L182.715795,43.898 C182.715795,43.966 182.749795,44 182.817795,44 L187.645795,44 C187.713795,44 187.747795,43.966 187.747795,43.898 L187.747795,34.888 C187.747795,32.236 189.141795,31.012 191.249795,31.012 C193.085795,31.012 194.207795,31.93 194.207795,34.684 L194.207795,43.898 C194.207795,43.966 194.241795,44 194.309795,44 L199.137795,44 C199.205795,44 199.239795,43.966 199.239795,43.898 L199.239795,34.174 C199.239795,29.278 196.315795,26.592 192.677795,26.592 C190.263795,26.592 188.223795,26.966 186.489795,28.938 C185.367795,27.442 183.531795,26.592 181.491795,26.592 C178.873795,26.592 177.173795,27.442 176.255795,28.836 L176.255795,27.102 C176.255795,27.034 176.221795,27 176.153795,27 L171.325795,27 C171.257795,27 171.223795,27.034 171.223795,27.102 L171.223795,43.898 C171.223795,43.966 171.257795,44 171.325795,44 L176.153795,44 Z M210.96488,44.442 C213.68488,44.442 215.79288,43.864 217.76488,42.708 C217.83288,42.674 217.86688,42.64 217.79888,42.538 L216.03088,39.206 C215.96288,39.138 215.92888,39.104 215.82688,39.172 C214.90888,39.818 213.58288,40.328 211.37288,40.328 C208.44888,40.328 207.05488,39.104 206.64688,36.996 L218.58088,37.2 C218.71688,37.2 218.78488,37.132 218.78488,37.03 C218.81888,36.758 218.85288,36.112 218.85288,35.874 C218.78488,28.258 213.82088,26.592 210.52288,26.592 C206.51088,26.592 201.51288,29.584 201.51288,35.5 C201.51288,41.518 206.13688,44.442 210.96488,44.442 Z M213.99088,33.562 L206.74888,33.562 C207.29288,31.794 208.61888,30.536 210.59088,30.536 C212.39288,30.536 213.65088,31.454 213.99088,33.562 Z M228.673964,44.408 C231.121964,44.408 232.821964,43.728 234.011964,42.47 L234.011964,43.898 C234.011964,43.966 234.045964,44 234.113964,44 L238.941964,44 C239.009964,44 239.043964,43.966 239.043964,43.898 L239.043964,20.064 C239.043964,19.996 239.009964,19.962 238.941964,19.962 L234.113964,19.962 C234.045964,19.962 234.011964,19.996 234.011964,20.064 L234.011964,28.156 C233.059964,27.204 231.087964,26.558 229.047964,26.558 C223.845964,26.558 220.547964,30.774 220.547964,35.466 C220.547964,40.226 223.845964,44.408 228.673964,44.408 Z M229.727964,40.226 C227.177964,40.226 225.749964,38.084 225.749964,35.466 C225.749964,33.052 227.109964,30.672 230.033964,30.672 C232.379964,30.672 234.147964,32.338 234.147964,34.31 L234.147964,36.826 C234.147964,38.662 232.515964,40.226 229.727964,40.226 Z' id='stayinformed' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3Crect id='Rectangle-Copy-5' stroke='%23FFFFFF' stroke-width='10' x='0' y='0' width='256' height='65'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3Crect id='Rectangle-Copy-6' stroke='%23FFFFFF' stroke-width='10' fill='%23FFFFFF' x='32' y='817' width='256' height='52'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: bottom;

  background-repeat: no-repeat;
  background-size: 254px;
  padding-bottom: 130px;
  padding-top: 50px;
  z-index: 2;
  margin-bottom: 0px!important;
  border-bottom: solid 10px white;
  @include breakpoint(mediumplus){
    background-image: none;
    padding-bottom: 0px;
  }
  div.region-wrapper{
    @include breakpoint(mediumplus){
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='266px' height='75px' viewBox='0 0 266 75' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EGroup 2%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Footer-320' transform='translate(-27.000000, -747.000000)'%3E%3Crect id='Rectangle-Copy-19' fill='%2316E473' x='0' y='331' width='320' height='480'%3E%3C/rect%3E%3Cg id='Group' transform='translate(32.000000, 752.000000)'%3E%3Cg id='Group-2'%3E%3Cpath d='M23.2369518,44.442 C27.0449518,44.442 29.9349518,42.674 29.9349518,39.036 C29.9349518,35.874 27.6909518,34.548 25.1409518,33.664 C22.6929518,32.848 21.1969518,32.678 21.1969518,31.692 C21.1969518,30.978 21.7749518,30.536 22.7949518,30.536 C24.2229518,30.536 25.7869518,31.012 26.8409518,31.93 C26.8749518,31.964 26.9429518,31.964 26.9769518,31.93 L29.1529518,29.176 C29.1869518,29.142 29.1869518,29.074 29.1529518,29.04 C27.5209518,27.544 25.7189518,26.592 22.6249518,26.592 C19.4629518,26.592 16.5729518,28.7 16.5729518,31.726 C16.5729518,34.854 18.5109518,36.282 20.9589518,37.132 C23.5429518,38.016 25.2089518,38.118 25.2089518,39.376 C25.2089518,40.056 24.5969518,40.532 23.2029518,40.532 C21.1629518,40.532 19.5309518,39.682 18.2729518,38.628 C18.2389518,38.594 18.1709518,38.594 18.1369518,38.628 L15.8249518,41.348 C15.7569518,41.416 15.7909518,41.45 15.8249518,41.484 C17.8649518,43.66 20.6189518,44.442 23.2369518,44.442 Z M39.7220361,44.442 C41.9660361,44.442 43.7680361,43.422 44.7880361,42.742 C44.8900361,42.674 44.8900361,42.674 44.8560361,42.572 L43.7000361,39.002 C43.6660361,38.866 43.5980361,38.866 43.5300361,38.934 C42.8160361,39.546 41.8980361,40.26 40.8440361,40.26 C39.5860361,40.26 38.9400361,39.614 38.9400361,37.064 L38.9400361,31.114 C38.9400361,31.08 43.8360361,31.012 43.8360361,31.012 C43.9040361,31.012 43.9380361,30.978 43.9380361,30.91 L43.9380361,27.102 C43.9380361,27.034 43.9040361,27 43.8360361,27 L38.9400361,27 L38.9400361,20.744 C38.9400361,20.676 38.9060361,20.608 38.8040361,20.642 L34.1120361,21.628 C34.0440361,21.628 33.9760361,21.696 33.9760361,21.798 C33.9760361,21.798 33.8740361,27 33.8400361,27 L30.9500361,27 C30.8820361,27 30.8480361,27.034 30.8480361,27.102 L30.8480361,30.91 C30.8480361,30.978 30.8820361,31.012 30.9500361,31.012 L33.8400361,31.114 L33.8400361,38.152 C33.8400361,42.13 36.1860361,44.442 39.7220361,44.442 Z M52.4671205,44.442 C55.3911205,44.442 56.9891205,43.83 58.3151205,42.3 C58.9611205,43.592 59.8111205,44.306 63.7891205,44.136 C63.8571205,44.136 63.8911205,44.102 63.8911205,44.034 L63.8911205,40.43 C63.8911205,40.362 63.8571205,40.328 63.7891205,40.328 L63.3131205,40.328 C62.2931205,40.328 62.1231205,39.92 62.1231205,38.73 L62.1231205,33.018 C62.1231205,29.006 59.4031205,26.592 55.0171205,26.592 C51.6851205,26.592 49.8831205,27.136 47.4011205,28.224 C47.3331205,28.258 47.2991205,28.292 47.3331205,28.36 L48.5911205,31.998 C48.6251205,32.066 48.6591205,32.066 48.7271205,32.032 C49.8491205,31.454 52.1611205,30.774 54.0651205,30.774 C56.2751205,30.774 57.1251205,31.624 57.1251205,33.358 L57.1251205,33.562 L52.5691205,33.698 C48.8291205,33.8 46.1431205,35.874 46.1431205,39.138 C46.1431205,42.436 49.0331205,44.442 52.4671205,44.442 Z M53.5891205,40.566 C51.9911205,40.566 50.8351205,39.988 50.8351205,38.832 C50.8351205,37.676 52.1271205,36.928 54.0991205,36.928 L57.1251205,36.928 L57.1251205,37.676 C57.1251205,39.478 56.1731205,40.566 53.5891205,40.566 Z M72.8962048,50.256 C72.9642048,50.256 72.9982048,50.222 73.0322048,50.154 L83.0282048,27.136 C83.0622048,27.034 83.0282048,27 82.9262048,27 L78.0642048,27 C77.9962048,27 77.9622048,27 77.9282048,27.068 L73.8482048,36.758 L69.6662048,27.102 C69.6322048,27.034 69.5982048,27 69.5302048,27 L64.2262048,27 C64.1242048,27 64.0902048,27.068 64.1242048,27.136 L71.1962048,42.504 L67.9662048,50.12 C67.9322048,50.222 67.9662048,50.256 68.0682048,50.256 L72.8962048,50.256 Z M97.7743735,24.552 C97.8423735,24.552 97.8763735,24.518 97.8763735,24.45 L97.9783735,19.758 C97.9783735,19.69 97.9443735,19.656 97.8763735,19.656 L92.7763735,19.656 C92.7083735,19.656 92.6743735,19.69 92.6743735,19.758 L92.7763735,24.45 C92.7763735,24.518 92.8103735,24.552 92.8783735,24.552 L97.7743735,24.552 Z M97.7743735,44 C97.8423735,44 97.8763735,43.966 97.8763735,43.898 L97.8763735,27.102 C97.8763735,27.034 97.8423735,27 97.7743735,27 L92.9463735,27 C92.8783735,27 92.8443735,27.034 92.8443735,27.102 L92.8443735,43.898 C92.8443735,43.966 92.8783735,44 92.9463735,44 L97.7743735,44 Z M106.371458,44 C106.439458,44 106.473458,43.966 106.473458,43.898 L106.473458,35.126 C106.473458,32.168 108.071458,31.012 110.417458,31.012 C112.321458,31.012 113.749458,31.964 113.749458,34.854 L113.749458,43.898 C113.749458,43.966 113.783458,44 113.851458,44 L118.679458,44 C118.747458,44 118.781458,43.966 118.781458,43.898 L118.781458,34.412 C118.781458,29.414 115.755458,26.592 111.913458,26.592 C109.227458,26.592 107.425458,27.374 106.473458,28.836 L106.473458,27.102 C106.473458,27.034 106.439458,27 106.371458,27 L101.543458,27 C101.475458,27 101.441458,27.034 101.441458,27.102 L101.441458,43.898 C101.441458,43.966 101.475458,44 101.543458,44 L106.371458,44 Z M128.568542,44 C128.636542,44 128.670542,43.966 128.670542,43.898 L128.670542,31.114 L133.532542,31.012 C133.600542,31.012 133.634542,30.978 133.634542,30.91 L133.634542,27.102 C133.634542,27.034 133.600542,27 133.532542,27 L128.670542,27 L128.670542,26.184 C128.670542,23.94 129.146542,22.818 130.234542,22.818 C130.914542,22.818 131.356542,23.328 131.662542,24.654 C131.696542,24.756 131.730542,24.79 131.866542,24.722 L135.300542,22.852 C135.368542,22.818 135.402542,22.784 135.368542,22.682 C134.382542,19.826 132.818542,18.602 130.030542,18.602 C126.664542,18.602 123.638542,21.016 123.638542,25.47 L123.638542,27 L120.646542,27 C120.578542,27 120.544542,27.034 120.544542,27.102 L120.544542,30.91 C120.544542,30.978 120.578542,31.012 120.646542,31.012 L123.638542,31.114 L123.638542,43.898 C123.638542,43.966 123.672542,44 123.740542,44 L128.568542,44 Z M143.829627,44.442 C148.657627,44.442 153.417627,40.974 153.417627,35.5 C153.417627,30.128 148.657627,26.592 143.829627,26.592 C139.069627,26.592 134.241627,30.06 134.241627,35.5 C134.241627,41.212 139.205627,44.442 143.829627,44.442 Z M143.829627,40.26 C140.973627,40.26 139.443627,38.05 139.443627,35.5 C139.443627,32.984 140.939627,30.808 143.829627,30.808 C146.787627,30.808 148.215627,33.086 148.215627,35.5 C148.215627,37.948 146.651627,40.26 143.829627,40.26 Z M160.926711,44 C160.994711,44 161.028711,43.966 161.028711,43.898 L161.028711,36.622 C161.028711,32.338 162.014711,30.944 165.108711,30.944 C166.740711,30.944 168.168711,31.896 168.712711,32.44 C168.780711,32.508 168.882711,32.542 168.916711,32.406 L169.596711,27.578 C169.596711,27.51 169.562711,27.442 169.460711,27.408 C168.440711,27 167.318711,26.592 165.924711,26.592 C163.748711,26.592 162.218711,27.374 161.028711,28.836 L161.028711,27.102 C161.028711,27.034 160.994711,27 160.926711,27 L156.098711,27 C156.030711,27 155.996711,27.034 155.996711,27.102 L155.996711,43.898 C155.996711,43.966 156.030711,44 156.098711,44 L160.926711,44 Z M176.153795,44 C176.221795,44 176.255795,43.966 176.255795,43.898 L176.255795,34.888 C176.255795,32.202 177.649795,31.012 179.757795,31.012 C181.559795,31.012 182.715795,31.93 182.715795,34.684 L182.715795,43.898 C182.715795,43.966 182.749795,44 182.817795,44 L187.645795,44 C187.713795,44 187.747795,43.966 187.747795,43.898 L187.747795,34.888 C187.747795,32.236 189.141795,31.012 191.249795,31.012 C193.085795,31.012 194.207795,31.93 194.207795,34.684 L194.207795,43.898 C194.207795,43.966 194.241795,44 194.309795,44 L199.137795,44 C199.205795,44 199.239795,43.966 199.239795,43.898 L199.239795,34.174 C199.239795,29.278 196.315795,26.592 192.677795,26.592 C190.263795,26.592 188.223795,26.966 186.489795,28.938 C185.367795,27.442 183.531795,26.592 181.491795,26.592 C178.873795,26.592 177.173795,27.442 176.255795,28.836 L176.255795,27.102 C176.255795,27.034 176.221795,27 176.153795,27 L171.325795,27 C171.257795,27 171.223795,27.034 171.223795,27.102 L171.223795,43.898 C171.223795,43.966 171.257795,44 171.325795,44 L176.153795,44 Z M210.96488,44.442 C213.68488,44.442 215.79288,43.864 217.76488,42.708 C217.83288,42.674 217.86688,42.64 217.79888,42.538 L216.03088,39.206 C215.96288,39.138 215.92888,39.104 215.82688,39.172 C214.90888,39.818 213.58288,40.328 211.37288,40.328 C208.44888,40.328 207.05488,39.104 206.64688,36.996 L218.58088,37.2 C218.71688,37.2 218.78488,37.132 218.78488,37.03 C218.81888,36.758 218.85288,36.112 218.85288,35.874 C218.78488,28.258 213.82088,26.592 210.52288,26.592 C206.51088,26.592 201.51288,29.584 201.51288,35.5 C201.51288,41.518 206.13688,44.442 210.96488,44.442 Z M213.99088,33.562 L206.74888,33.562 C207.29288,31.794 208.61888,30.536 210.59088,30.536 C212.39288,30.536 213.65088,31.454 213.99088,33.562 Z M228.673964,44.408 C231.121964,44.408 232.821964,43.728 234.011964,42.47 L234.011964,43.898 C234.011964,43.966 234.045964,44 234.113964,44 L238.941964,44 C239.009964,44 239.043964,43.966 239.043964,43.898 L239.043964,20.064 C239.043964,19.996 239.009964,19.962 238.941964,19.962 L234.113964,19.962 C234.045964,19.962 234.011964,19.996 234.011964,20.064 L234.011964,28.156 C233.059964,27.204 231.087964,26.558 229.047964,26.558 C223.845964,26.558 220.547964,30.774 220.547964,35.466 C220.547964,40.226 223.845964,44.408 228.673964,44.408 Z M229.727964,40.226 C227.177964,40.226 225.749964,38.084 225.749964,35.466 C225.749964,33.052 227.109964,30.672 230.033964,30.672 C232.379964,30.672 234.147964,32.338 234.147964,34.31 L234.147964,36.826 C234.147964,38.662 232.515964,40.226 229.727964,40.226 Z' id='stayinformed' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3Crect id='Rectangle-Copy-5' stroke='%23FFFFFF' stroke-width='10' x='0' y='0' width='256' height='65'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3Crect id='Rectangle-Copy-6' stroke='%23FFFFFF' stroke-width='10' fill='%23FFFFFF' x='32' y='817' width='256' height='52'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: 40px 100%;
    background-repeat: no-repeat;
    background-size: 254px;
      padding-bottom: 120px;
      position: relative;
    }
    @include breakpoint(xlarge){
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  nav.block-mainnavigation-2 {
    position: relative;
    &::after{
      @include breakpoint(mediumplus) {
        content: "";
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='655px' height='120px' viewBox='0 0 655 120' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EGroup 246%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Footer-1440' transform='translate(-450.000000, -451.000000)' fill='%23FFFFFF'%3E%3Cg id='Group-246' transform='translate(450.000000, 451.000000)'%3E%3Cpolygon id='Fill-1' points='0.148148148 6 6.14814815 6 6.14814815 0 0.148148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-2' points='19.1481481 6 25.1481481 6 25.1481481 0 19.1481481 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-3' points='38.1481481 6 44.1481481 6 44.1481481 0 38.1481481 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-4' points='57.1481481 6 63.1481481 6 63.1481481 0 57.1481481 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-5' points='76.1481481 6 82.1481481 6 82.1481481 0 76.1481481 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-6' points='95.1481481 6 101.148148 6 101.148148 0 95.1481481 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-7' points='114.148148 6 120.148148 6 120.148148 0 114.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-8' points='133.148148 6 139.148148 6 139.148148 0 133.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-9' points='152.148148 6 158.148148 6 158.148148 0 152.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-10' points='171.148148 6 177.148148 6 177.148148 0 171.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-11' points='190.148148 6 196.148148 6 196.148148 0 190.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-12' points='209.148148 6 215.148148 6 215.148148 0 209.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-13' points='228.148148 6 234.148148 6 234.148148 0 228.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-14' points='247.148148 6 253.148148 6 253.148148 0 247.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-15' points='266.148148 6 272.148148 6 272.148148 0 266.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-16' points='285.148148 6 291.148148 6 291.148148 0 285.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-17' points='305.148148 6 311.148148 6 311.148148 0 305.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-18' points='324.148148 6 330.148148 6 330.148148 0 324.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-19' points='343.148148 6 349.148148 6 349.148148 0 343.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-20' points='362.148148 6 368.148148 6 368.148148 0 362.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-21' points='381.148148 6 387.148148 6 387.148148 0 381.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-22' points='400.148148 6 406.148148 6 406.148148 0 400.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-23' points='419.148148 6 425.148148 6 425.148148 0 419.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-24' points='438.148148 6 444.148148 6 444.148148 0 438.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-25' points='457.148148 6 463.148148 6 463.148148 0 457.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-26' points='476.148148 6 482.148148 6 482.148148 0 476.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-27' points='495.148148 6 501.148148 6 501.148148 0 495.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-28' points='514.148148 6 520.148148 6 520.148148 0 514.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-29' points='533.148148 6 539.148148 6 539.148148 0 533.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-30' points='552.148148 6 558.148148 6 558.148148 0 552.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-31' points='571.148148 6 577.148148 6 577.148148 0 571.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-32' points='590.148148 6 596.148148 6 596.148148 0 590.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-33' points='609.148148 6 615.148148 6 615.148148 0 609.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-34' points='628.148148 6 634.148148 6 634.148148 0 628.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-35' points='648.148148 6 654.148148 6 654.148148 0 648.148148 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-36' points='0.148148148 25 6.14814815 25 6.14814815 19 0.148148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-37' points='19.1481481 25 25.1481481 25 25.1481481 19 19.1481481 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-38' points='38.1481481 25 44.1481481 25 44.1481481 19 38.1481481 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-39' points='57.1481481 25 63.1481481 25 63.1481481 19 57.1481481 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-40' points='76.1481481 25 82.1481481 25 82.1481481 19 76.1481481 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-41' points='95.1481481 25 101.148148 25 101.148148 19 95.1481481 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-42' points='114.148148 25 120.148148 25 120.148148 19 114.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-43' points='133.148148 25 139.148148 25 139.148148 19 133.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-44' points='152.148148 25 158.148148 25 158.148148 19 152.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-45' points='171.148148 25 177.148148 25 177.148148 19 171.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-46' points='190.148148 25 196.148148 25 196.148148 19 190.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-47' points='209.148148 25 215.148148 25 215.148148 19 209.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-48' points='228.148148 25 234.148148 25 234.148148 19 228.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-49' points='247.148148 25 253.148148 25 253.148148 19 247.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-50' points='266.148148 25 272.148148 25 272.148148 19 266.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-51' points='285.148148 25 291.148148 25 291.148148 19 285.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-52' points='305.148148 25 311.148148 25 311.148148 19 305.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-53' points='324.148148 25 330.148148 25 330.148148 19 324.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-54' points='343.148148 25 349.148148 25 349.148148 19 343.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-55' points='362.148148 25 368.148148 25 368.148148 19 362.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-56' points='381.148148 25 387.148148 25 387.148148 19 381.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-57' points='400.148148 25 406.148148 25 406.148148 19 400.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-58' points='419.148148 25 425.148148 25 425.148148 19 419.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-59' points='438.148148 25 444.148148 25 444.148148 19 438.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-60' points='457.148148 25 463.148148 25 463.148148 19 457.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-61' points='476.148148 25 482.148148 25 482.148148 19 476.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-62' points='495.148148 25 501.148148 25 501.148148 19 495.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-63' points='514.148148 25 520.148148 25 520.148148 19 514.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-64' points='533.148148 25 539.148148 25 539.148148 19 533.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-65' points='552.148148 25 558.148148 25 558.148148 19 552.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-66' points='571.148148 25 577.148148 25 577.148148 19 571.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-67' points='590.148148 25 596.148148 25 596.148148 19 590.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-68' points='609.148148 25 615.148148 25 615.148148 19 609.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-69' points='628.148148 25 634.148148 25 634.148148 19 628.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-70' points='648.148148 25 654.148148 25 654.148148 19 648.148148 19'%3E%3C/polygon%3E%3Cpolygon id='Fill-71' points='0.148148148 44 6.14814815 44 6.14814815 38 0.148148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-72' points='19.1481481 44 25.1481481 44 25.1481481 38 19.1481481 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-73' points='38.1481481 44 44.1481481 44 44.1481481 38 38.1481481 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-74' points='57.1481481 44 63.1481481 44 63.1481481 38 57.1481481 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-75' points='76.1481481 44 82.1481481 44 82.1481481 38 76.1481481 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-76' points='95.1481481 44 101.148148 44 101.148148 38 95.1481481 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-77' points='114.148148 44 120.148148 44 120.148148 38 114.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-78' points='133.148148 44 139.148148 44 139.148148 38 133.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-79' points='152.148148 44 158.148148 44 158.148148 38 152.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-80' points='171.148148 44 177.148148 44 177.148148 38 171.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-81' points='190.148148 44 196.148148 44 196.148148 38 190.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-82' points='209.148148 44 215.148148 44 215.148148 38 209.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-83' points='228.148148 44 234.148148 44 234.148148 38 228.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-84' points='247.148148 44 253.148148 44 253.148148 38 247.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-85' points='266.148148 44 272.148148 44 272.148148 38 266.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-86' points='285.148148 44 291.148148 44 291.148148 38 285.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-87' points='305.148148 44 311.148148 44 311.148148 38 305.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-88' points='324.148148 44 330.148148 44 330.148148 38 324.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-89' points='343.148148 44 349.148148 44 349.148148 38 343.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-90' points='362.148148 44 368.148148 44 368.148148 38 362.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-91' points='381.148148 44 387.148148 44 387.148148 38 381.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-92' points='400.148148 44 406.148148 44 406.148148 38 400.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-93' points='419.148148 44 425.148148 44 425.148148 38 419.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-94' points='438.148148 44 444.148148 44 444.148148 38 438.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-95' points='457.148148 44 463.148148 44 463.148148 38 457.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-96' points='476.148148 44 482.148148 44 482.148148 38 476.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-97' points='495.148148 44 501.148148 44 501.148148 38 495.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-98' points='514.148148 44 520.148148 44 520.148148 38 514.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-99' points='533.148148 44 539.148148 44 539.148148 38 533.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-100' points='552.148148 44 558.148148 44 558.148148 38 552.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-101' points='571.148148 44 577.148148 44 577.148148 38 571.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-102' points='590.148148 44 596.148148 44 596.148148 38 590.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-103' points='609.148148 44 615.148148 44 615.148148 38 609.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-104' points='628.148148 44 634.148148 44 634.148148 38 628.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-105' points='648.148148 44 654.148148 44 654.148148 38 648.148148 38'%3E%3C/polygon%3E%3Cpolygon id='Fill-106' points='0.148148148 63 6.14814815 63 6.14814815 57 0.148148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-107' points='19.1481481 63 25.1481481 63 25.1481481 57 19.1481481 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-108' points='38.1481481 63 44.1481481 63 44.1481481 57 38.1481481 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-109' points='57.1481481 63 63.1481481 63 63.1481481 57 57.1481481 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-110' points='76.1481481 63 82.1481481 63 82.1481481 57 76.1481481 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-111' points='95.1481481 63 101.148148 63 101.148148 57 95.1481481 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-112' points='114.148148 63 120.148148 63 120.148148 57 114.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-113' points='133.148148 63 139.148148 63 139.148148 57 133.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-114' points='152.148148 63 158.148148 63 158.148148 57 152.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-115' points='171.148148 63 177.148148 63 177.148148 57 171.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-116' points='190.148148 63 196.148148 63 196.148148 57 190.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-117' points='209.148148 63 215.148148 63 215.148148 57 209.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-118' points='228.148148 63 234.148148 63 234.148148 57 228.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-119' points='247.148148 63 253.148148 63 253.148148 57 247.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-120' points='266.148148 63 272.148148 63 272.148148 57 266.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-121' points='285.148148 63 291.148148 63 291.148148 57 285.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-122' points='305.148148 63 311.148148 63 311.148148 57 305.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-123' points='324.148148 63 330.148148 63 330.148148 57 324.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-124' points='343.148148 63 349.148148 63 349.148148 57 343.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-125' points='362.148148 63 368.148148 63 368.148148 57 362.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-126' points='381.148148 63 387.148148 63 387.148148 57 381.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-127' points='400.148148 63 406.148148 63 406.148148 57 400.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-128' points='419.148148 63 425.148148 63 425.148148 57 419.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-129' points='438.148148 63 444.148148 63 444.148148 57 438.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-130' points='457.148148 63 463.148148 63 463.148148 57 457.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-131' points='476.148148 63 482.148148 63 482.148148 57 476.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-132' points='495.148148 63 501.148148 63 501.148148 57 495.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-133' points='514.148148 63 520.148148 63 520.148148 57 514.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-134' points='533.148148 63 539.148148 63 539.148148 57 533.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-135' points='552.148148 63 558.148148 63 558.148148 57 552.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-136' points='571.148148 63 577.148148 63 577.148148 57 571.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-137' points='590.148148 63 596.148148 63 596.148148 57 590.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-138' points='609.148148 63 615.148148 63 615.148148 57 609.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-139' points='628.148148 63 634.148148 63 634.148148 57 628.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-140' points='648.148148 63 654.148148 63 654.148148 57 648.148148 57'%3E%3C/polygon%3E%3Cpolygon id='Fill-141' points='0.148148148 82 6.14814815 82 6.14814815 76 0.148148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-142' points='19.1481481 82 25.1481481 82 25.1481481 76 19.1481481 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-143' points='38.1481481 82 44.1481481 82 44.1481481 76 38.1481481 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-144' points='57.1481481 82 63.1481481 82 63.1481481 76 57.1481481 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-145' points='76.1481481 82 82.1481481 82 82.1481481 76 76.1481481 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-146' points='95.1481481 82 101.148148 82 101.148148 76 95.1481481 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-147' points='114.148148 82 120.148148 82 120.148148 76 114.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-148' points='133.148148 82 139.148148 82 139.148148 76 133.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-149' points='152.148148 82 158.148148 82 158.148148 76 152.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-150' points='171.148148 82 177.148148 82 177.148148 76 171.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-151' points='190.148148 82 196.148148 82 196.148148 76 190.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-152' points='209.148148 82 215.148148 82 215.148148 76 209.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-153' points='228.148148 82 234.148148 82 234.148148 76 228.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-154' points='247.148148 82 253.148148 82 253.148148 76 247.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-155' points='266.148148 82 272.148148 82 272.148148 76 266.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-156' points='285.148148 82 291.148148 82 291.148148 76 285.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-157' points='305.148148 82 311.148148 82 311.148148 76 305.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-158' points='324.148148 82 330.148148 82 330.148148 76 324.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-159' points='343.148148 82 349.148148 82 349.148148 76 343.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-160' points='362.148148 82 368.148148 82 368.148148 76 362.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-161' points='381.148148 82 387.148148 82 387.148148 76 381.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-162' points='400.148148 82 406.148148 82 406.148148 76 400.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-163' points='419.148148 82 425.148148 82 425.148148 76 419.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-164' points='438.148148 82 444.148148 82 444.148148 76 438.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-165' points='457.148148 82 463.148148 82 463.148148 76 457.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-166' points='476.148148 82 482.148148 82 482.148148 76 476.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-167' points='495.148148 82 501.148148 82 501.148148 76 495.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-168' points='514.148148 82 520.148148 82 520.148148 76 514.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-169' points='533.148148 82 539.148148 82 539.148148 76 533.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-170' points='552.148148 82 558.148148 82 558.148148 76 552.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-171' points='571.148148 82 577.148148 82 577.148148 76 571.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-172' points='590.148148 82 596.148148 82 596.148148 76 590.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-173' points='609.148148 82 615.148148 82 615.148148 76 609.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-174' points='628.148148 82 634.148148 82 634.148148 76 628.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-175' points='648.148148 82 654.148148 82 654.148148 76 648.148148 76'%3E%3C/polygon%3E%3Cpolygon id='Fill-176' points='0.148148148 101 6.14814815 101 6.14814815 95 0.148148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-177' points='19.1481481 101 25.1481481 101 25.1481481 95 19.1481481 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-178' points='38.1481481 101 44.1481481 101 44.1481481 95 38.1481481 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-179' points='57.1481481 101 63.1481481 101 63.1481481 95 57.1481481 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-180' points='76.1481481 101 82.1481481 101 82.1481481 95 76.1481481 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-181' points='95.1481481 101 101.148148 101 101.148148 95 95.1481481 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-182' points='114.148148 101 120.148148 101 120.148148 95 114.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-183' points='133.148148 101 139.148148 101 139.148148 95 133.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-184' points='152.148148 101 158.148148 101 158.148148 95 152.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-185' points='171.148148 101 177.148148 101 177.148148 95 171.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-186' points='190.148148 101 196.148148 101 196.148148 95 190.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-187' points='209.148148 101 215.148148 101 215.148148 95 209.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-188' points='228.148148 101 234.148148 101 234.148148 95 228.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-189' points='247.148148 101 253.148148 101 253.148148 95 247.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-190' points='266.148148 101 272.148148 101 272.148148 95 266.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-191' points='285.148148 101 291.148148 101 291.148148 95 285.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-192' points='305.148148 101 311.148148 101 311.148148 95 305.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-193' points='324.148148 101 330.148148 101 330.148148 95 324.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-194' points='343.148148 101 349.148148 101 349.148148 95 343.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-195' points='362.148148 101 368.148148 101 368.148148 95 362.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-196' points='381.148148 101 387.148148 101 387.148148 95 381.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-197' points='400.148148 101 406.148148 101 406.148148 95 400.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-198' points='419.148148 101 425.148148 101 425.148148 95 419.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-199' points='438.148148 101 444.148148 101 444.148148 95 438.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-200' points='457.148148 101 463.148148 101 463.148148 95 457.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-201' points='476.148148 101 482.148148 101 482.148148 95 476.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-202' points='495.148148 101 501.148148 101 501.148148 95 495.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-203' points='514.148148 101 520.148148 101 520.148148 95 514.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-204' points='533.148148 101 539.148148 101 539.148148 95 533.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-205' points='552.148148 101 558.148148 101 558.148148 95 552.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-206' points='571.148148 101 577.148148 101 577.148148 95 571.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-207' points='590.148148 101 596.148148 101 596.148148 95 590.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-208' points='609.148148 101 615.148148 101 615.148148 95 609.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-209' points='628.148148 101 634.148148 101 634.148148 95 628.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-210' points='648.148148 101 654.148148 101 654.148148 95 648.148148 95'%3E%3C/polygon%3E%3Cpolygon id='Fill-211' points='0.148148148 120 6.14814815 120 6.14814815 114 0.148148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-212' points='19.1481481 120 25.1481481 120 25.1481481 114 19.1481481 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-213' points='38.1481481 120 44.1481481 120 44.1481481 114 38.1481481 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-214' points='57.1481481 120 63.1481481 120 63.1481481 114 57.1481481 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-215' points='76.1481481 120 82.1481481 120 82.1481481 114 76.1481481 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-216' points='95.1481481 120 101.148148 120 101.148148 114 95.1481481 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-217' points='114.148148 120 120.148148 120 120.148148 114 114.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-218' points='133.148148 120 139.148148 120 139.148148 114 133.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-219' points='152.148148 120 158.148148 120 158.148148 114 152.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-220' points='171.148148 120 177.148148 120 177.148148 114 171.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-221' points='190.148148 120 196.148148 120 196.148148 114 190.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-222' points='209.148148 120 215.148148 120 215.148148 114 209.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-223' points='228.148148 120 234.148148 120 234.148148 114 228.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-224' points='247.148148 120 253.148148 120 253.148148 114 247.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-225' points='266.148148 120 272.148148 120 272.148148 114 266.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-226' points='285.148148 120 291.148148 120 291.148148 114 285.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-227' points='305.148148 120 311.148148 120 311.148148 114 305.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-228' points='324.148148 120 330.148148 120 330.148148 114 324.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-229' points='343.148148 120 349.148148 120 349.148148 114 343.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-230' points='362.148148 120 368.148148 120 368.148148 114 362.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-231' points='381.148148 120 387.148148 120 387.148148 114 381.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-232' points='400.148148 120 406.148148 120 406.148148 114 400.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-233' points='419.148148 120 425.148148 120 425.148148 114 419.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-234' points='438.148148 120 444.148148 120 444.148148 114 438.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-235' points='457.148148 120 463.148148 120 463.148148 114 457.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-236' points='476.148148 120 482.148148 120 482.148148 114 476.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-237' points='495.148148 120 501.148148 120 501.148148 114 495.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-238' points='514.148148 120 520.148148 120 520.148148 114 514.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-239' points='533.148148 120 539.148148 120 539.148148 114 533.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-240' points='552.148148 120 558.148148 120 558.148148 114 552.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-241' points='571.148148 120 577.148148 120 577.148148 114 571.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-242' points='590.148148 120 596.148148 120 596.148148 114 590.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-243' points='609.148148 120 615.148148 120 615.148148 114 609.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-244' points='628.148148 120 634.148148 120 634.148148 114 628.148148 114'%3E%3C/polygon%3E%3Cpolygon id='Fill-245' points='648.148148 120 654.148148 120 654.148148 114 648.148148 114'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 370px;
        height: 120px;
        background-size: cover;
        position: absolute;
        bottom: -155px;
        right: -572px;
      }
      @include breakpoint(xlarge){
        width: 100%;
        right: auto;
        left: 0;
        bottom: -153px;
      }
      @include breakpoint(xxlarge){
        bottom: -142px;
      }
    }
    @include breakpoint(mediumplus) {
    @include flex-grid-column(2 of 12);
      padding-left: 0px!important;
      padding-right: 0px!important;
      margin-left: 40px;
  }
    @include breakpoint(xlarge){
      @include flex-grid-column(8 of 12);
      margin-left: auto;
      margin-right: 0;
    }
      ul.menu.dropdown{
        font-weight: 500;
        font-size: 16px;
        color: #28334A;
        letter-spacing: -0.58px;
        max-width: 256px;
        margin: 0 auto;
        justify-content: flex-start;
        @include breakpoint(mediumplus) {
          display: flex;
          flex-direction: column;

        }
        @include breakpoint(xlarge){
          max-width: 390px;
          flex-direction: row;
          margin-left: -0px;
          margin-right: auto;
        }

        li{
          @include flex-grid-column(1 of 2);
          padding-left: 0px!important;
          padding-right: 0px!important;
          @include breakpoint(mediumplus){
            @include flex-grid-column(2 of 2);
          }
          @include breakpoint(xlarge){
            @include flex-grid-column(1 of 3);
          }
          a{
            text-align: left;
            padding: 0px;
            padding-bottom: 16px;

          }

        }

    }
  }

}

.region-footer_last {
  z-index: 3;
  margin-top: -20px;
  background-color: white;
  @include breakpoint(xlarge){
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  div.region-wrapper{
    @include breakpoint(xlarge){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
.block-social{
  padding-top: 20px;
  margin-bottom: 30px;
  @include breakpoint(xlarge){
    @include flex-grid-column(4 of 12);
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  @include breakpoint(xxlarge){
    padding-right: .9375rem!important;
    padding-left: .9375rem!important;
  }
  &>div {
  @include flex-grid-row();
    justify-content: center;
    max-width: 256px;
    margin: 0 auto;
    @include breakpoint(mediumplus){
      margin-left: 40px;
    }
    a {
      @include flex-grid-column(1 of 4);
      font-size: 30px;
    }
  }
}
  nav.block-base-footer,section.block-websiteikoon{
    max-width: 256px;
    margin: 0 auto;
    @include breakpoint(mediumplus){
      max-width: 100%;
    }
    a,h2, span{
      font-weight: 200!important;
      font-size: 14px;
      color: #28334A;
      letter-spacing: -0.51px;
      text-transform: capitalize!important;
    }
    font-weight: 200;
    font-size: 14px;
    color: #28334A;
    letter-spacing: -0.51px;
    text-transform: capitalize!important;
  }
  section.block-websiteikoon{
    @include breakpoint(mediumplus){
      margin-top: -21px;
      h2{
        max-width: 100px;
        margin-left: auto;
        margin-right: 0;
      }
    }
    @include breakpoint(xlarge){
      @include flex-grid-column(3 of 12);
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  nav.block-base-footer{
    margin-bottom: 30px;
    @include breakpoint(mediumplus){
      margin-bottom: 0px;
    }
    @include breakpoint(xlarge){
      @include flex-grid-column(5 of 12);

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0px!important;
      padding-right: 0px!important;
    }
    ul.menu{
      justify-content: flex-start;
      flex-direction: row;
      li{
        a,span{
          padding: 0px;
          display: inline-flex;
        }
        &::after{
          content: "-";
          padding-left: 7px;
          padding-right: 7px;
          display: inline-flex;
        }
      }
      li:last-of-type{
        &::after{
          content: "";
          display: none;
        }
      }
    }
  }
}

