// Non-modular or client styles for .l-header region.
.path-frontpage {
  #main-wrapper {
    z-index: 1;
    margin-top: -24px;
  }
}
@include breakpoint(xlarge){
  body{
    zoom: 0.9;
    -moz-transform: scale(0.9);
    -moz-transform-origin: 0 0;
  }
}
#header-wrapper {
  z-index: 2;
  header#header {
    max-width: $global-width;
    margin: 0 auto;
    background-color: $primary-color;
    @include breakpoint(mediumplus){
      background-color: transparent;
    }

  }
}
.xd-9{
  .block-base-branding{
    background-color: #091838;
    position: relative;
    &::before{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 100%;
      background-color: #091838;
      left: 0;
    }
  }
  header{
    background-color: #091838!important;
    @include breakpoint(mediumplus){
      background-color: transparent!important;
    }
    figcaption{
      background-color: #091838!important;
      h1{
        color: $primary-color!important;
        em{
          -moz-text-stroke-color: $primary-color!important;
          -webkit-text-stroke-color: $primary-color!important;
        }
      }
    }
  }
}

.region-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 262px;
  margin: 0 auto;
  @include breakpoint(mediumplus){
       max-width: 710px;
     }
  @include breakpoint(large){
     max-width: 880px;
   }
  @include breakpoint(xlarge){
    max-width: 1060px;
    background-color: $primary-color;

  }
  @include breakpoint(xxlarge){
    max-width: 1290px;
    position: relative;
    div.whitehead{
      background-color: white;
      height: 100%;
      width: calc(100% - 630px);
      position: absolute;
      right: 0;
      z-index: 4;
    }
  }
}
.path-frontpage{
  div.whitehead{
    display: none;
  }
}
.block-system-branding-block{
  padding-right: 24px;
  background-color: $primary-color;
  height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include breakpoint(mediumplus){
    @include flex-grid-column(10 of 12);
    padding-left: 40px!important;
  }
  @include breakpoint(xlarge){
    @include flex-grid-column(4 of 12);
    margin-bottom: -103px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 140px;
  }
  svg{
    width: 121px;
    height: 49px;
    @include breakpoint(xlarge){
      width: 194px;
      height: 78px;

    }
  }
}
.path-frontpage{
  .block-system-branding-block{
    @include breakpoint(xlarge){
      @include flex-grid-column(4 of 12);
      margin-bottom: -103px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 140px;
    }
    svg{
      @include breakpoint(xlarge){
        width: 251px;
        height: 101px;
      }
    }
  }
  .off-canvas-wrapper {
    ul.menu {
      justify-content: center;}}
}

.block-nav-toggle {
  background-color: white;
  @include hide-for(xlarge);
  position: relative;
  z-index: 13;
  height: 83px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: -1px;
  @include breakpoint(xlarge){
    height: 140px;
  }
  span{
    background-color: $primary-color;
    &::before, &::after{
      background-color: $primary-color;
    }
  }
}
.block-dropdownlanguage{
  height: 83px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  position: relative;
  z-index: 1;
  @include breakpoint(xlarge){
    @include flex-grid-column(1 of 12);
    height: 140px;
    padding-left: 34px!important;
    z-index: 5;
    padding-right: 0px!important;
  }
  &::after{
    content: "";
    background-color: white;
    height: 83px;
    position: absolute;
    width: 50vw;
    right: -45vw;
    z-index: -1;
    @include breakpoint(xlarge){
      height: 140px;
    }

  }
  div.dropbutton-wrapper{
    background-color: white;
font-weight: 300;
    font-size: rem-calc(16);
    color: $primary-color;
    letter-spacing: -0.3px;
    margin-bottom: 0px;
    li.dropbutton-toggle{
      button{
        &>span{
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3ETriangle%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='320' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home---768' transform='translate(-294.000000, -40.000000)'%3E%3Crect id='Rectangle-Copy-7' fill='%2317FF7F' x='0' y='-17' width='322' height='528'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-7' fill='%23FFFFFF' x='185' y='-2' width='137' height='83'%3E%3C/rect%3E%3Ctext id='NL' font-family='CaslonsEgyptian-Book, Caslons Egyptian' font-size='16' font-weight='300' line-spacing='23' letter-spacing='-0.3' fill='%2317FF7F'%3E%3Ctspan x='258' y='48'%3ENL%3C/tspan%3E%3C/text%3E%3Cpolygon id='Triangle' stroke='%2317FF7F' transform='translate(298.500000, 43.500000) rotate(180.000000) translate(-298.500000, -43.500000) ' points='298.5 41 302 46 295 46'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          border: none;
          width: 7px;
          height: 5px;
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }
    }
  }
}

.block-base-main-menu{
  @include breakpoint(xlarge){
    @include flex-grid-column(7 of 12);
    padding-left: 0px!important;
    padding-right: 0px!important;
    z-index: 5;

  }
  .menu.dropdown{
    flex-wrap: nowrap;
  }
}


.block-base-main-menu {
  @include show-for(xlarge);
}



.off-canvas-wrapper {
  ul.menu {
    justify-content: flex-start;
    &>li {
      &>a {
        text-transform: capitalize;
        font-weight: 500;
        font-size: rem-calc(14);
        color: $secondary-color;
        letter-spacing: -0.58px;
        transition: color .25s ease-out;
        padding-left: 10px;
        padding-right: 10px;
        @include breakpoint(xxlarge){
          font-size: rem-calc(16);
        }
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
.drilldown{
  margin-top: 25px;
  margin-left: 25px;
  @include breakpoint(mediumplus){
    margin-top: 80px;
    margin-left: 50px;
  }
}
.drilldown a{
  background: transparent;
}

div.is-open-right{
  max-height: 100vh;
  div#header-wrapper{
    z-index: 13;
  }
}
.region-right_off_canvas{
  margin: 0 auto;
  position: relative;
  max-width: 262px;
  @include breakpoint(mediumplus){
    max-width: 710px;
  }
  @include breakpoint(large){
    max-width: 880px;
  }
  @include breakpoint(xlarge){
    max-width: 1060px;
  }
  @include breakpoint(xxlarge){
    max-width: 1290px;
  }
  div.item-list--linkicon{
    margin-left: 40px;
    margin-top: 90px;
    @include breakpoint(mediumplus) {
      ul {
        justify-content: flex-end;
        margin-right: 50px;
      }
    }
    @include breakpoint(large){
      ul{
        margin-right: 72px;
      }
    }
    li{
      margin-right: 25px;
      a{
        color: white;
      }
    }
  }
  #block-languageswitcher{
    position: absolute;
    top: 83px;
    right: 0px;
    height: 385px;
    border-left: solid 1px white;
    padding-left: 22px;
    @include breakpoint(mediumplus){
      height: 100%;
    }
    @include breakpoint(large){
      right: 28px;
      height: calc(100% - 90px);
    }
    ul{
      list-style-type: none;
      margin-left: 0 ;
      margin-bottom: 0;
      li{
        list-style-type: none;
        margin-left: 0 ;
        margin-bottom: 0;
        margin-top: 16px;
        &.is-active{
         display: none;
        }
        a{
          font-weight: 300;
          font-size: 16px;
          color: #FFFFFF;
          letter-spacing: -0.3px;
          line-height: 23px;
        }
      }
    }
  }
}


