// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin bodytext{
  font-weight: 200;
  font-size: rem-calc(16);
  color: $secondary-color;
  letter-spacing: -0.3px;
}

@mixin inside-out{
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: white;
  -webkit-text-stroke-color: white;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
  font-style: normal;

}

@mixin green-title{
  font-weight: 500;
  font-size: rem-calc(28);
  color: $primary-color;
  letter-spacing: -1.01px;
}

@mixin big-title{
  font-weight: 500;
  font-size: 50px;
  color: white;
  letter-spacing: -2px;
  text-transform: lowercase;
  @include breakpoint(xxlarge){
    font-size: 90px;
  }
}

@mixin buttondots{
  position: relative;
  &::after{
    content: "";

    width: 100%;
    height: 70%;
    background-size: inherit;
    position: absolute;
    right: -8px;
    bottom: -8px;
    /* border: dotted 3px; */
    border-right: dotted 3Px;
    border-bottom: dotted 3px;
  }
}
@mixin button{
  padding: $button-padding;
  text-transform: lowercase;
  font-weight: 500;
  font-size: rem-calc(18);
  background-color: $button-background;
  color: $white;
  transition: 0.3s ease;
  &:hover, &:focus {
    background-color: $primary-color;
  }
}
@mixin button-inverse{
  color:$secondary-color!important;
  background-color: $primary-color!important;
  &:hover, &:focus {
    background-color: $secondary-color!important;
    color: white!important;
  }
  &::after{
    border-right: dotted 3Px $primary-color!important;
    border-bottom: dotted 3px $primary-color!important;
  }
}
@mixin transparent-button{
  background-color:white;
  color: $secondary-color;
  border:solid 5px $primary-color
}
