article.building.full, article.roomtype.full{
  header{
    @include breakpoint(large){
      margin-bottom: 256px;
    }
    @include breakpoint(xlarge){
      margin-bottom: 235px;
    }
  }
  h1{
    @include inside-out;
  }
  h2{
    font-weight: 500;
    font-size: 45px;
    color: #FFFFFF;
    letter-spacing: -1.63px;
    max-width: 212Px;
    margin: 0 auto;
    word-break: break-word;
    @include breakpoint(xxlarge){
      max-width: 432px;
    }
  }
  h3{
    max-width: 212Px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 26px;
    color: #091838;
    letter-spacing: -0.94px;
    line-height: 28px;
    margin-top: 20px;
    @include breakpoint(xxlarge){
      max-width: 432px;
    }
  }
  div.field-name-field-intro{
    @include breakpoint(xlarge){
      padding-left: 100px;
      .paragraph--type--text-blocks{
        margin: 0!important;
        max-width: 911px!important;
      }
    }

    .field-name-field-text-blocks{
      &>.field-items{
        @include breakpoint(xlarge){
          justify-content: flex-start;
        }
        &>.field-item{
          &:first-of-type{
            max-width: 510px;
          }
          &:nth-of-type(2){
            @include breakpoint(xlarge){
              margin-left: 100px;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }
          .field-name-field-text{

            @include breakpoint(xlarge){
              max-width: 410px;
            }
            @include breakpoint(xxlarge){

            }
          }
        }
      }
      h3{
        font-weight: 500;
        font-size: 40px;
        color: #17FF7F;
        letter-spacing: -1.45px;
        line-height: 47px;
        max-width: 100%;
        position: relative;
        margin-bottom: 30px;
        &::before{
          content: "";
          display: inline-block;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='5px' height='63px' viewBox='0 0 5 63' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3ELine Copy%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='320' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-dasharray='1,13' stroke-linecap='square'%3E%3Cg id='0.0-Home---768' transform='translate(-36.000000, -889.000000)' stroke='%2317FF7F' stroke-width='5'%3E%3Cline x1='38.5' y1='892' x2='38.5' y2='954.5' id='Line-Copy'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");        background-repeat: no-repeat;
          width: 5px;
          height: 64px;
          position: absolute;
          left: -28px;
          top: 5px;
          background-size: 5Px;
        }
      }
      h4{
        font-weight: 500;
        font-size: 26px;
        color: #091838;
        letter-spacing: -0.94px;
        line-height: 28px;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      p{
        font-weight: 200;
        font-size: 16px;
        color: #28334A;
        letter-spacing: -0.3px;
        line-height: 23px;
      }
      ul{
        list-style-type: none;
        margin: 0;
        li{
          padding-left: 30px;
          margin-bottom: 10px;
          &::before{
            content: "";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EFill 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='320' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home---768' transform='translate(-68.000000, -1042.000000)' fill='%2317FF7F'%3E%3Cpolygon id='Fill-1' points='68 1042 68 1058 84 1058 84 1048.47242 82.5500661 1048.47242 82.5500661 1048.49046 74.2678183 1048.49046 74.2678183 1051.51441 80.9760797 1051.51441 80.9760797 1054.97621 71.0237577 1054.97621 71.0237577 1045.02395 83.9920333 1045.02395 84 1043.51222 84 1042'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            background-size: 16px;
            margin-right: 14px;
            margin-left: -30px;
            display: inline-block;
          }
        }
      }
      a.button{
        @include button-inverse;
        @include buttondots;
        margin-top: 50px;
      }
    }
  }
  figure{

    img{
      @include grid-col-gutter();
      padding-left: .625rem!important;
      margin: 0 auto;
      @include breakpoint(mediumplus){
        max-width: 400px;
        padding-left: 0!important;
        padding-right: 0px!important;
      }
      @include breakpoint(large){
        max-width: 535px;
      }
      @include breakpoint(xlarge){
        max-width: 660px;
      }
    }
    figcaption{
      @include breakpoint(mediumplus){
        margin-bottom: 0px!important;
      }
      @include breakpoint(xlarge){
        max-width: 400px!important;
        padding-top: 30px!important;
        padding-bottom: 70px!important;
      }
      @include breakpoint(xxlarge){
        max-width: 630px!important;
      }
    }
  }
  div.street-wrapper{
  @include grid-col-gutter();
    @include flex-grid-row();
    flex-wrap: nowrap;
    background-color: #BFFFDC;
    flex-direction: column;
    justify-content: space-between;

    padding-right: 0px!important;
    width: 100%;
    @include breakpoint(medium){

    }
    @include breakpoint(mediumplus){
      padding-left: 0px!important;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='43px' height='42px' viewBox='0 0 43 42' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3Emaps-and-location%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.2-detail-gebouw---1440' transform='translate(-111.000000, -485.000000)'%3E%3Crect id='Rectangle-Copy-7' fill='%23BFFFDC' x='75' y='443' width='440' height='128'%3E%3C/rect%3E%3Cg id='maps-and-location' transform='translate(111.000000, 485.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M38.8395614,4.87052479 L39.3731494,0 L32.3959362,2.58022314 L29.6598078,3.58748554 L29.2220273,7.43703719 L26.5679828,8.47185124 C25.8975453,6.9127314 24.9810284,5.51913843 23.8044072,4.34634917 C21.3144874,1.83498347 17.8669227,0.441520661 14.0772989,0.441520661 C10.2876751,0.441520661 6.84011041,1.82127273 4.35023364,4.34630579 C1.72359347,6.99542975 0.328125,10.6931219 0.328125,14.9979483 C0.328125,29.1819298 12.8733594,41.2272955 13.4069044,41.7378037 L13.46167,41.7930372 L13.5300302,41.8344298 C13.6941979,41.9447665 13.8856409,42 14.0773419,42 C14.3373171,42 14.569888,41.903374 14.7477794,41.7378037 C15.3497276,41.1582645 27.8402825,29.1267831 27.8265588,14.9979483 C27.8265588,13.2732583 27.6076255,11.6451074 27.169845,10.1549752 L29.8376132,9.12016116 L32.6285071,11.7693285 L35.3646354,10.7620661 L42.328125,8.19568388 L38.8395614,4.87052479 Z M14.0772989,39.8751384 C11.628464,37.3779174 2.10669445,26.9329773 2.10669445,14.9842376 C2.10669445,7.46458884 7.03176846,2.20764669 14.0773419,2.20764669 C19.0982234,2.20764669 23.0245676,4.87065496 24.8852209,9.12029132 L21.7387163,10.3345165 C20.3158436,7.51964876 17.4155045,5.60175 14.077428,5.60175 C9.33024532,5.60175 5.47230438,9.49269421 5.47230438,14.2803905 C5.47230438,19.0680868 9.33028834,22.959031 14.077428,22.959031 C18.8245676,22.959031 22.6825515,19.0680868 22.6825515,14.2803905 C22.6825515,13.4939318 22.5731494,12.7349814 22.3815344,12.0175971 L25.486997,10.8172128 C25.8563313,12.1003822 26.0479182,13.4939318 26.0479182,14.9841074 C26.06167,26.9191364 16.5261337,37.3779174 14.0772989,39.8751384 Z M14.4056343,15.1084153 L20.7124531,12.6662107 C20.8355789,13.1905165 20.9039391,13.7285764 20.9039391,14.280564 C20.9039391,18.0748822 17.8395184,21.1656136 14.0772129,21.1656136 C10.3150364,21.1656136 7.25048664,18.0750124 7.25048664,14.280564 C7.25048664,10.4862459 10.3149073,7.39551446 14.0772129,7.39551446 C16.6628971,7.39551446 18.9064793,8.84429752 20.0694199,10.9828698 L13.7626011,13.4250744 L14.4056343,15.1084153 Z M34.7489635,9.0787686 L33.0388833,9.69970041 L30.9730634,7.74040909 L31.2876751,4.88432231 L37.2798822,2.67667562 L36.9653135,5.56031405 L39.0036861,7.50576446 L34.7489635,9.0787686 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;

      background-position: center left;
      background-position-x: 10px;
      background-position-y: 40px;

    }
    @include breakpoint(large){
      max-width: 344px;
      position: absolute;
      flex-direction: column;
      top: 100%;
      left: 0;
      margin-bottom: 150px;
    }
    @include breakpoint(xlarge){
      flex-direction: column;
      max-width: 400px;

      &::before{
        content:'';
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='38px' height='61px' viewBox='0 0 38 61' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EGroup 5%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='0.0-Home-1440' transform='translate(-264.000000, -1290.000000)' stroke='%2317FF7F' stroke-width='3'%3E%3Cg id='Group-5' transform='translate(266.000000, 1292.000000)'%3E%3Cpath d='M15,22 C15.3833239,28.6893946 15.7686761,35.3787891 16.152,42.0661222 C16.188507,42.6783719 16.2635493,43.371018 16.7462535,43.7379555 C17.1518873,44.0471725 17.7055775,44.0162508 18.2105915,43.9729604 C23.1410704,43.5359337 28.0695211,43.1009685 33,42.6639418' id='Stroke-1'%3E%3C/path%3E%3Cpath d='M0,0 C0.166525577,18.5120064 0.333051155,37.0260835 0.501632604,55.5380899 C11.6670698,56.024703 22.8345628,56.5133869 34,57' id='Stroke-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 34px;
        height: 61px;
        position: absolute;
        bottom: -25px;
        right: -32px;
        transform: scaleX(-1);
      }
    }
    @include breakpoint(xxlarge){
      background-position-x: 35px;
      max-width: 630px;
    }
    div.geolocation-google-map{
      @include breakpoint(large){
      margin-left: auto;
      margin-right: 14Px;
    }
      @include breakpoint(xlarge){
        margin-left: 0;
        margin-right: auto;
      }
    }
    .field-name-field-straatnaam{
      font-weight: 300;
      font-size: 18px;
      color: #091838;
      letter-spacing: -0.65px;
      line-height: 24px;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 0px;
      @include breakpoint(mediumplus){
        padding-left: 140px;
      }
      @include breakpoint(xlarge){
padding-left: 60px;
      }
      @include breakpoint(xxlarge){
        padding-left: 140px;
      }
    }
  }
  div.image-budget{
    @include breakpoint(large){


    position: absolute;
      right: 0;
    }
    @include breakpoint(xlarge){
      top: 139%;

    }
    @include breakpoint(xxlarge){
      top: 129%;
    }

  }
  .field-name-field-available-rooms{
    .field-items{
      margin-top: 20px;
      margin-bottom: 20px;
      @include flex-grid-row();
      justify-content: center;
      @include breakpoint(mediumplus){
        justify-content: flex-end;
      }
    }
    .field-item{
      font-weight: 500;
      font-size: 25px;
      color: #FFFFFF;
      letter-spacing: -0.9px;
      line-height: 28px;
      background-color: #FFBE17;
      padding: 10px;
      display: inline-flex;
    }
  }
  div.chambertypes{
    background-color: #BFFFDC;
    position: relative;
    margin-top: 90px;
    padding-bottom: 65px;
    div.button-wrapper{
      @include flex-grid-row();
      justify-content: center;
      @include breakpoint(large){
        margin-top: 50px;
      }
    }
    a.button{
      @include button();
      @include button-inverse;
      @include buttondots;

    }
    &::after,&::before{
      content: "";
      background-color: #BFFFDC;
      width: 100vw;
      height: 100%;
      left: -50%;
      position: absolute;
      display: block;
      top: 0;
      z-index: -1;
    }
    &::before{
      right: -50%;
      left: auto;
    }
    .field-name-field-available-rooms{
      padding-top: 25px;
    }
    .field-name-field-chambertypes{
      @include grid-col-gutter();
      @include breakpoint(xlarge){
        padding-left: 115px;
        margin-top: -67px;
      }

      div.field-label{
        font-weight: 500;
        font-size: 40px;
        color: #17FF7F;
        letter-spacing: -1.45px;
        line-height: 47px;
        position: relative;
        margin-bottom: 30px;
        text-transform: lowercase;
        &::before{
          content: "";
          display: inline-block;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='5px' height='63px' viewBox='0 0 5 63' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3ELine Copy%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='320' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-dasharray='1,13' stroke-linecap='square'%3E%3Cg id='0.0-Home---768' transform='translate(-36.000000, -889.000000)' stroke='%2317FF7F' stroke-width='5'%3E%3Cline x1='38.5' y1='892' x2='38.5' y2='954.5' id='Line-Copy'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");        background-repeat: no-repeat;
          width: 5px;
          height: 40px;
          position: absolute;
          left: -28px;
          top: 5px;
          background-size: 5Px;
        }
      }
      &>.field-items{
        @include flex-grid-row();
        justify-content: flex-start;
        @include breakpoint(xlarge){
          justify-content: space-between;
          max-width: 1000px;
          margin-left: 0;
          margin-right: auto ;

        }
        &>.field-item{
          max-width: 260px;
          margin-right: 55px;
          margin-bottom: 50px;
          @include breakpoint(large){
            margin-bottom: 0px;
          }
          @include breakpoint(xlarge){
            @include flex-grid-column(1 of 3);
            max-width: 260px;
            padding-left: 0px!important;
            padding-right: 0px!important;
           margin-right: 0;
          }
        }
      }
      .paragraph--type--chambertype{

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul{
          list-style-type: none;
          margin: 0;
          li{
            padding-left: 30px;
            margin-bottom: 10px;
            font-weight: 200;
            font-size: 16px;
            color: #2F3A55;
            letter-spacing: -0.3px;
            line-height: 21px;
            &::before{
              content: "";
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EFill 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='320' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home---768' transform='translate(-68.000000, -1042.000000)' fill='%2317FF7F'%3E%3Cpolygon id='Fill-1' points='68 1042 68 1058 84 1058 84 1048.47242 82.5500661 1048.47242 82.5500661 1048.49046 74.2678183 1048.49046 74.2678183 1051.51441 80.9760797 1051.51441 80.9760797 1054.97621 71.0237577 1054.97621 71.0237577 1045.02395 83.9920333 1045.02395 84 1043.51222 84 1042'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              background-repeat: no-repeat;
              width: 16px;
              height: 16px;
              background-size: 16px;
              margin-right: 14px;
              margin-left: -30px;
              display: inline-block;
            }
          }
        }
        .field-name-field-title{
          font-weight: 500;
          font-size: 26px;
          color: #091838;
          letter-spacing: -0.94px;
          line-height: 28px;
          margin-bottom: 20px;
        }
        .field-name-field-text{
          .field-item{
            p{
              font-weight: 200;
              font-size: 16px;
              color: #2F3B57;
              letter-spacing: -0.3px;
              line-height: 21px;
            }
          }
        }

        div.budgwrap{
          font-weight: 500;
          font-size: 16px;
          color: #05193D;
          letter-spacing: -0.34px;
          text-align: left;
          display: block;
          margin: 0 auto;
          position: relative;
          padding-top: 10px;
          width: 100%;
          border-top:solid 1px black ;
          @include breakpoint(mediumplus){
            margin-left: auto;
            margin-right: 0;
          }
          b.permonth{
      position: absolute;
            top: 32px;
            left: 90px;
          }
          &>b:first-of-type{
            display: block;
            font-size: 18px;
            margin-bottom: -25px;
          }
          &>p:last-of-type{
            margin-bottom: 0px;
            margin-top: -5px;
            font-weight: 300;

          }
          .field-name-field-budget{
            font-size: 26px;
            margin-bottom: -25px;
          }
        }

      }
    }
  }
}
div.budget-wrapper{
  font-weight: 500;
  font-size: 13px;
  color: #05193D;
  letter-spacing: -0.34px;
  text-align: right;
  border:solid 10px $primary-color;
  display: block;
  padding: 20px;
  padding-left: 50px;
  max-width: 190px;
  margin: 0 auto;
  @include breakpoint(mediumplus){
    margin-left: auto;
    margin-right: 0;
  }
  &>b:first-of-type{
    display: block;
    margin-bottom: -15Px;
    font-size: 18px;
  }
  &>p:last-of-type{
    margin-bottom: 0px;
    margin-top: -5px;
    font-weight: 300;

  }
  p.numberbig{
    font-size: 38px;
    @include flex-grid-row();
    flex-wrap: nowrap;
    margin-left: -30px;
  }
  .field-name-field-budget{
    margin-top: -75Px;
    font-size: 38px;
    margin-bottom: -30Px;
  }


}

.block-selectsearch{
  margin: 0 auto;
  @include breakpoint(mediumplus){
    max-width: 710px;
  }
  @include breakpoint(large){
    max-width: 880px;
  }
  @include breakpoint(xlarge){
    max-width: 1060px;
    margin-bottom: 150px;
  }
  @include breakpoint(xxlarge){
    max-width: 1290px;
  }
div.room-wrapper{
  @include breakpoint(mediumplus){
    margin-right: 25px;
  }
  @include breakpoint(large){
    margin-right: 50px;
  }
  @include breakpoint(xlarge){
    margin-right: 75px;
  }
}

select{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='11px' viewBox='0 0 16 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3ETriangle%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home-1440' transform='translate(-668.000000, -3494.000000)' stroke='%2317FF7F'%3E%3Crect id='Rectangle' stroke-width='5' fill='%23FFFFFF' x='297.5' y='3477.5' width='405' height='43'%3E%3C/rect%3E%3Cpolygon id='Triangle' stroke-width='3' transform='translate(676.500000, 3499.000000) rotate(180.000000) translate(-676.500000, -3499.000000) ' points='676 3496 681 3502 672 3502'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding-right: 25px;
  font-weight: 500;
  font-size: 18px;
  color: $primary-color;
  letter-spacing: -0.34px;
  border: solid 5px $primary-color;
  min-height: 48px;
  line-height: 20px;

  &:hover, &:focus{
    border: solid 5px $secondary-color;
  }
  @include breakpoint(xxlarge){
    min-width: 400px;
  }
}
    @include breakpoint(mediumplus){
      margin-top: 75px;
      margin-bottom: 100px;
    }
    @include breakpoint(large){
      margin-top: 275px;
    }
    @include breakpoint(xlarge){
      margin-top: 220px;
      margin-bottom: 150px;
    }
    .form-item-search {
      border: solid 10px $primary-color;
      margin-bottom: 0;
      padding: 30px;
      background-color: white;
      margin-top: 25px;
      @include breakpoint(mediumplus){
        @include flex-grid-row();
        flex-wrap: nowrap;
        max-width: 75%;
        margin-left: auto;
        margin-right: 0px;
        margin-top: 225px;
        position: relative;
        &::after{
          @include breakpoint(xlarge) {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='615px' height='359px' viewBox='0 0 615 359' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EGroup%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0.148189879 0.284 35.2095818 0.284 35.2095818 62.6764317 0.148189879 62.6764317'%3E%3C/polygon%3E%3Cpolygon id='path-3' points='0.000154973359 0.533585841 49.3779158 0.533585841 49.3779158 71 0.000154973359 71'%3E%3C/polygon%3E%3Cpolygon id='path-5' points='0.565122401 0.495343676 3.63528503 0.495343676 3.63528503 5 0.565122401 5'%3E%3C/polygon%3E%3Cpolygon id='path-7' points='0 0.369351313 92.731 0.369351313 92.731 68.4271253 0 68.4271253'%3E%3C/polygon%3E%3Cpolygon id='path-9' points='0 -0.000601941748 75.5709291 -0.000601941748 75.5709291 61.9999575 0 61.9999575'%3E%3C/polygon%3E%3Cpolygon id='path-11' points='0 0.671374956 45.0585905 0.671374956 45.0585905 36.4613393 0 36.4613393'%3E%3C/polygon%3E%3Cpolygon id='path-13' points='0.689304571 0.518033831 7.43090063 0.518033831 7.43090063 7 0.689304571 7'%3E%3C/polygon%3E%3Cpolygon id='path-15' points='0 0.441710744 103.567528 0.441710744 103.567528 97 0 97'%3E%3C/polygon%3E%3Cpolygon id='path-17' points='0 0 15 0 15 16 0 16'%3E%3C/polygon%3E%3Cpolygon id='path-19' points='0 0 15 0 15 16 0 16'%3E%3C/polygon%3E%3Cpolygon id='path-21' points='0 0 15 0 15 16 0 16'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.0-Locations---1440' transform='translate(-68.000000, -771.000000)'%3E%3Cg id='Group' transform='translate(49.000000, 750.000000)'%3E%3Cg id='Group-25' transform='translate(100.500000, 83.000000) rotate(16.000000) translate(-100.500000, -83.000000) translate(14.000000, 22.000000)'%3E%3Cpath d='M51.7785,88.2606 C89.1245,73.3726 125.2945,54.5176 160.3165,34.8566 C162.3045,33.7396 160.5195,30.6756 158.5285,31.7966 C123.3855,51.5836 87.1365,68.4816 50.5535,85.3546 C48.9375,86.0996 50.0995,88.9296 51.7785,88.2606' id='Fill-1' fill='%2317FF7F'%3E%3C/path%3E%3Cg id='Group-5' transform='translate(137.000000, 0.716000)'%3E%3Cmask id='mask-2' fill='%2317FF7F'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-4'%3E%3C/g%3E%3Cpath d='M0.4006,2.7433 C6.1526,12.3573 11.8636,21.9743 17.1486,31.8573 C22.4216,41.7163 26.7226,52.1473 32.1316,61.9073 C33.0066,63.4863 35.7576,62.4183 35.1126,60.6503 C31.3746,50.3963 25.7536,40.5203 20.6186,30.9093 C15.2006,20.7673 9.5066,10.7293 3.2776,1.0613 C2.1226,-0.7317 -0.7074,0.8903 0.4006,2.7433' id='Fill-3' fill='%2317FF7F' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M32.6062,97.6034 C41.7732,93.2584 50.9442,88.7774 60.0652,84.3334 C61.6302,83.5704 60.5282,80.8814 58.8672,81.4914 C49.4272,84.9604 39.6992,89.8454 31.3742,95.4954 C30.0652,96.3834 31.1872,98.2764 32.6062,97.6034' id='Fill-6' fill='%2317FF7F'%3E%3C/path%3E%3Cg id='Group-10' transform='translate(0.000000, 50.716000)'%3E%3Cmask id='mask-4' fill='%2317FF7F'%3E%3Cuse xlink:href='%23path-3'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-9'%3E%3C/g%3E%3Cpath d='M0.2234,2.3522 C8.4064,14.1212 16.8734,25.6842 25.6114,37.0462 C33.7024,47.5662 41.8554,58.0532 47.1064,70.3442 C47.7364,71.8192 49.8904,70.5472 49.2654,69.0822 C44.0144,56.7922 35.8624,46.3022 27.7704,35.7842 C19.0304,24.4242 10.5644,12.8592 2.3824,1.0902 C1.4704,-0.2218 -0.6976,1.0262 0.2234,2.3522' id='Fill-8' fill='%2317FF7F' mask='url(%23mask-4)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M23.9909,81.0746 C34.0729,75.2336 44.2179,69.5066 54.4279,63.8926 C55.8379,63.1166 54.5779,60.9576 53.1659,61.7336 C42.9559,67.3476 32.8109,73.0746 22.7289,78.9156 C21.3379,79.7216 22.5949,81.8836 23.9909,81.0746' id='Fill-11' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M47.8,55.4633 C49.967,65.2023 54.525,74.0973 61.342,81.4043 C62.622,82.7753 64.631,80.7373 63.392,79.3553 C56.998,72.2173 52.676,64.0653 50.572,54.6993 C50.167,52.8943 47.398,53.6583 47.8,55.4633' id='Fill-13' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M83.7458,34.5243 C101.5408,24.9243 120.0318,16.7573 138.5398,8.6523 C140.0108,8.0083 138.7398,5.8533 137.2788,6.4933 C118.7698,14.5993 100.2788,22.7663 82.4838,32.3653 C81.0678,33.1293 82.3288,35.2893 83.7458,34.5243' id='Fill-15' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M49.7956,56.1127 C53.6516,53.2077 57.5936,50.4257 61.6126,47.7517 C62.9456,46.8647 61.6956,44.6987 60.3506,45.5927 C56.3316,48.2677 52.3896,51.0497 48.5336,53.9537 C47.2646,54.9107 48.5086,57.0817 49.7956,56.1127' id='Fill-17' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M52.7702,62.2694 C49.6242,55.3974 40.5332,55.4154 34.4862,57.7414 C26.4032,60.8504 17.5992,66.9594 12.1502,73.7334 C11.1172,75.0184 12.6752,76.5954 13.9592,75.5424 C22.7562,68.3404 39.6422,51.5994 50.5032,64.0184 C51.6582,65.3384 53.4062,63.6574 52.7702,62.2694' id='Fill-19' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M60.6667,46.6317 C63.1207,57.0977 67.1317,66.8567 72.8877,75.9417 C73.8267,77.4257 76.2027,76.0477 75.2487,74.5617 C69.5867,65.7467 65.3977,56.1937 62.9077,46.0137 C62.5527,44.5597 60.3257,45.1757 60.6667,46.6317' id='Fill-21' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M63.7654,49.0507 C71.4514,43.9467 79.0914,38.4577 85.7544,32.0507 C86.3904,31.4397 85.5514,30.2897 84.7934,30.8047 C77.2274,35.9587 69.9254,41.4737 62.3144,46.5687 C60.7854,47.5917 62.2164,50.0787 63.7654,49.0507' id='Fill-23' fill='%2317FF7F'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-23' transform='translate(477.000000, 257.000000)'%3E%3Cpath d='M13.1245,63.8627 C12.8695,63.1937 12.1875,62.6597 11.4355,62.9037 C10.7325,63.1307 10.2645,63.8537 10.4765,64.5927 C10.6865,65.3277 10.9175,66.0527 11.1555,66.7797 C11.3875,67.4837 12.1475,68.0147 12.9015,67.7707 C13.6005,67.5457 14.1485,66.7777 13.8945,66.0247 C13.6485,65.2987 13.3965,64.5787 13.1245,63.8627' id='Fill-1' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M9.0015,78.7206 C9.0015,79.9406 9.0395,81.1316 9.1835,82.3436 C9.3605,83.8426 11.3405,83.8456 11.5195,82.3436 C11.6625,81.1316 11.7005,79.9406 11.7005,78.7206 C11.7005,76.9836 9.0015,76.9806 9.0015,78.7206' id='Fill-3' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M7.3677,92.7079 C7.7607,94.8019 7.7987,96.8849 7.5807,98.9999 C7.4347,100.4069 9.7897,100.7289 10.0577,99.3359 C10.5297,96.8919 10.3717,94.4579 9.5177,92.1149 C9.0257,90.7639 7.1017,91.2909 7.3677,92.7079' id='Fill-5' fill='%2317FF7F'%3E%3C/path%3E%3Cg id='Group-9' transform='translate(5.000000, 117.631000)'%3E%3Cmask id='mask-6' fill='%2317FF7F'%3E%3Cuse xlink:href='%23path-5'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-8'%3E%3C/g%3E%3Cpath d='M2.7642,0.5374 C2.1282,0.3624 1.5172,0.7524 1.3212,1.3574 C1.0842,2.0834 0.8482,2.8094 0.6132,3.5364 C0.4192,4.1294 0.8372,4.7984 1.4202,4.9584 C2.0542,5.1324 2.6402,4.7434 2.8422,4.1504 C3.0902,3.4274 3.3372,2.7044 3.5842,1.9814 C3.7892,1.3814 3.3492,0.6984 2.7642,0.5374' id='Fill-7' fill='%2317FF7F' mask='url(%23mask-6)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M20.1167,79.4452 C20.0827,80.1812 20.0657,80.8802 20.1287,81.6192 C20.2487,83.0222 22.1917,83.0242 22.3117,81.6192 C22.3757,80.8812 22.3587,80.1802 22.3237,79.4452 C22.2577,78.0262 20.1837,78.0232 20.1167,79.4452' id='Fill-10' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M17.8696,98.2758 C18.1086,100.7968 18.1836,103.3538 18.7676,105.8248 C19.0696,107.1008 20.9476,106.7708 20.9936,105.5238 C21.0826,103.0978 20.6726,100.6848 20.4286,98.2758 C20.2646,96.6558 17.7146,96.6308 17.8696,98.2758' id='Fill-12' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M33.8736,78.7206 C33.8426,79.9286 33.8226,81.1346 33.8266,82.3436 C33.8316,83.8396 36.1456,83.8416 36.1506,82.3436 C36.1546,81.1346 36.1346,79.9286 36.1036,78.7206 C36.0676,77.2856 33.9096,77.2836 33.8736,78.7206' id='Fill-14' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M33.231,92.4887 C33.142,93.4647 33.126,94.4077 33.155,95.3867 C33.197,96.8147 35.332,96.8167 35.374,95.3867 C35.402,94.4077 35.386,93.4647 35.297,92.4887 C35.176,91.1617 33.352,91.1587 33.231,92.4887' id='Fill-16' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M33.3345,112.4354 C33.1055,111.7774 32.4515,111.3394 31.7465,111.5334 C31.0935,111.7134 30.6335,112.4544 30.8455,113.1224 C31.0765,113.8494 31.3145,114.5734 31.5135,115.3114 C31.6965,115.9934 32.4825,116.4774 33.1735,116.2534 C33.8055,116.0494 34.3965,115.2954 34.1155,114.5934 C33.8315,113.8824 33.5875,113.1584 33.3345,112.4354' id='Fill-18' fill='%2317FF7F'%3E%3C/path%3E%3Cg id='Group-22' transform='translate(0.000000, 0.631000)'%3E%3Cmask id='mask-8' fill='%2317FF7F'%3E%3Cuse xlink:href='%23path-7'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-21'%3E%3C/g%3E%3Cpath d='M26.3218,32.531 C37.5778,33.046 42.8148,49.662 45.4808,59.646 C31.8278,59.057 18.1738,58.51 4.5178,57.967 C4.7168,51.911 5.6958,46.515 10.2128,41.818 C14.2668,37.602 20.0338,32.243 26.3218,32.531 M92.7028,29.742 C91.6418,23.496 92.4228,17.388 91.7658,11.188 C91.4128,7.85 89.8768,5.122 87.0108,3.313 C83.9678,1.391 80.1778,0.911 76.6628,0.665 C70.3458,0.224 63.9788,0.343 57.6578,0.591 C51.5478,0.83 45.4248,1.157 39.3468,1.864 C35.6438,2.294 31.7278,2.785 28.6618,5.092 C22.1858,9.964 21.7838,21.966 23.3458,29.448 C16.9398,30.656 11.5718,35.404 7.2148,40.002 C2.3308,45.154 1.2668,51.251 1.1068,57.924 C-0.4212,58.36 -0.3672,60.846 1.2688,61.266 C1.8288,62.34 3.5098,62.397 4.1848,61.431 C10.0488,61.68 15.9128,61.928 21.7768,62.173 C21.6298,62.353 21.5158,62.574 21.5018,62.872 C21.4408,64.09 21.4678,65.279 21.5368,66.495 C21.6188,67.952 23.7208,67.954 23.8018,66.495 C23.8708,65.279 23.8978,64.09 23.8378,62.872 C23.8248,62.616 23.7358,62.42 23.6218,62.251 C26.9908,62.391 30.3598,62.523 33.7278,62.66 C33.6738,64.181 33.7178,65.719 33.7388,67.22 C33.7608,68.828 36.2168,68.831 36.2388,67.22 C36.2598,65.752 36.3008,64.25 36.2518,62.762 C40.0898,62.917 43.9268,63.078 47.7648,63.226 C48.9148,63.271 49.7218,62.079 49.4448,61.021 C46.5048,49.796 40.1248,27.876 24.9588,29.23 C25.6118,20.933 24.2698,8.506 33.8518,5.451 C41.9558,2.867 52.1198,3.362 60.5548,3.389 C65.0618,3.403 69.5748,3.531 74.0758,3.759 C77.7798,3.946 82.1738,3.98 85.3488,6.157 C89.7468,9.171 88.2908,14.715 88.3348,19.259 C88.3718,23.089 88.7968,26.877 89.3768,30.659 C89.7108,32.834 93.0738,31.928 92.7028,29.742' id='Fill-20' fill='%2317FF7F' mask='url(%23mask-8)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Group-7' transform='translate(180.000000, 182.000000)' fill='%2317FF7F'%3E%3Cpath d='M2.25133068,24.6773933 C5.17583573,34.8590138 8.59249049,44.9137436 12.0217645,54.9388914 C13.7371902,59.9538008 15.4857413,64.9593684 17.2918677,69.943139 C18.8069632,74.124306 20.0073669,78.9593886 22.4278917,82.7520986 C26.4936477,89.1215473 34.3853946,88.5151185 40.8961253,86.9947649 C50.3084886,84.7971416 59.5023816,81.4629509 68.2396165,77.384542 C75.1573171,74.1546664 81.1301533,71.2338437 79.8177541,62.687012 C79.1047679,58.0426548 77.210307,53.4208732 75.7062533,48.9867031 C74.037361,44.0652103 72.2769793,39.1756348 70.41801,34.3218689 C66.8940918,25.1226786 63.3756945,15.5023356 58.6592598,6.82082849 C54.6431919,-0.571530888 48.2523439,-0.872020644 40.6555713,0.902892939 C29.9489489,3.40489831 18.6302941,6.04080068 8.51283164,10.3831112 C2.62438647,12.9108061 -3.56928616,20.2798114 2.48005411,26.0389388 C3.69702047,27.1973035 5.537061,25.3873587 4.33823477,24.2048615 C0.60373331,20.5203589 4.17812837,15.785699 7.70993355,13.7461053 C11.0224797,11.8341809 15.1205726,10.8719909 18.7509654,9.73542343 C26.4502692,7.32372067 34.249738,5.12765435 42.1264996,3.35274077 C46.3917971,2.39210771 51.0246295,1.6681298 54.3056276,5.21640003 C56.7001253,7.80559414 57.9604702,11.6450125 59.366725,14.7908133 C62.7526204,22.3700056 65.8963844,30.0542916 68.8114251,37.8226524 C71.5458531,45.1106967 74.2739714,52.4890436 76.4034654,59.9755979 C77.5021265,63.8391489 78.2048596,68.0903783 74.6935606,70.9193414 C71.7698443,73.2773297 67.6898916,74.7572028 64.2724481,76.2767779 C56.9611855,79.5276723 49.3478502,82.1487837 41.5815068,84.1167581 C38.2673833,84.9567281 34.8357432,85.7523254 31.3962161,85.348299 C25.7869712,84.6889342 23.8948764,80.3886611 22.1218755,75.6687922 C15.7215631,58.6265079 10.0515882,41.3740365 4.21519734,24.1425838 C3.80270647,22.9258338 1.89010541,23.4217198 2.25133068,24.6773933' id='Fill-1'%3E%3C/path%3E%3Cpath d='M16.2480629,26.0455583 C22.0246311,40.8058511 29.5186207,55.0415956 36.2265658,69.4045974 C36.4289371,69.8375826 37.1188749,70.1215836 37.572843,69.9485447 C41.2905369,68.5339714 48.1953838,67.9287233 47.0241305,62.8143773 C45.4551668,55.9603311 42.3367732,49.369335 38.6268928,43.422385 C38.3627943,44.0648791 38.0994772,44.7081491 37.8361601,45.3506432 C45.1520005,42.5416715 52.3350103,38.8496584 53.7844265,30.4359345 C55.0111561,23.3149584 50.8926263,16.1784631 44.2229677,13.4113932 C36.8422747,10.3494588 26.9252987,12.7859702 19.8860585,15.8176422 C15.2072961,17.8328078 11.2325359,23.927966 16.51138,27.7324932 C17.8975063,28.7311525 19.203153,26.4544887 17.8490622,25.4604851 C13.4484627,22.2317196 20.3314317,18.4962528 22.789579,17.658993 C24.985972,16.9117444 27.2683142,16.3111521 29.5287784,15.7881557 C34.9326395,14.5396376 41.1311402,13.9956903 45.8981959,17.4060303 C50.521482,20.7139437 52.4404934,26.7167628 50.6339973,32.0662244 C48.583718,38.1396558 42.6766633,40.6801457 37.1329393,42.8179129 C36.369554,43.1127773 35.8538588,43.9655563 36.3429879,44.747723 C39.0324168,49.0449842 41.3022573,53.55641 42.9915499,58.3370937 C43.3658196,59.3955018 43.7143046,60.4624455 44.0354421,61.5379247 C44.4612814,62.9687932 44.9347834,63.5678335 43.9862167,64.6914222 C42.7657379,66.1370339 38.6565843,67.0037802 36.9391629,67.6648973 C37.3884428,67.8456957 37.8369414,68.0272701 38.2862214,68.2088446 C31.577495,53.9583568 25.470413,39.1709054 17.8576572,25.3712499 C17.3896246,24.5239026 15.880044,25.1050959 16.2480629,26.0455583' id='Fill-3'%3E%3C/path%3E%3Cpath d='M27.8959366,24.4121257 C28.1627177,27.0244352 29.6170287,29.6012289 30.6219829,32.0231127 C31.090227,33.1497987 31.5309273,34.6792504 32.9561207,34.9603552 C34.6339299,35.292089 36.9239976,33.4588628 38.0603749,32.5573629 C39.4627463,31.4465456 40.5881061,30.0198634 40.9217792,28.2674926 C42.2076798,21.5255122 27.2443296,16.1218021 25.0463367,23.6504224 C24.682759,24.8980137 26.5573093,25.6763414 27.2317382,24.5352979 C29.0409705,21.4771501 32.323401,22.4058538 35.010886,23.7343005 C38.0564401,25.2388155 40.4905225,27.6402965 37.4874645,30.690132 C36.7799831,31.4080071 35.2658626,32.7689471 34.1908686,32.9752417 C32.321827,33.3349349 32.1077726,30.9772821 31.5789322,29.7206229 C30.7683584,27.793695 30.1136036,25.7118574 28.7718285,24.0637673 C28.5050474,23.7350561 27.8542274,24.0040703 27.8959366,24.4121257' id='Fill-5'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-12' transform='translate(41.000000, 262.000000)'%3E%3Cpath d='M23.4831309,16.166694 C22.6519884,17.0016622 21.0047603,17.3491669 19.8947634,17.7068395 C18.7275502,18.0830537 17.5398596,18.3839055 16.330487,18.5920494 C14.4598141,18.9144333 12.2681274,19.4054855 11.6152589,17.2397119 C10.681127,14.1444679 15.8896201,12.3668708 18.2553649,11.5737706 C18.3565475,11.5396781 18.440264,11.4936233 18.5149464,11.4421854 C18.8546307,11.4045042 19.1973264,11.3769909 19.5424313,11.3680192 C22.0358588,11.3064133 27.1142601,12.518792 23.4831309,16.166694 M9.26577559,18.1811446 C11.2490744,23.1616463 19.5785679,20.3241898 22.9254222,18.8534256 C26.4403119,17.3096913 28.9156712,13.3758905 25.023756,10.4899867 C20.589189,7.20155164 13.4853296,9.944506 9.81083644,13.045133 C9.26216193,13.5080738 9.41634489,14.1097773 9.8331207,14.4614688 C9.04654669,15.5751585 8.73035117,16.8365825 9.26577559,18.1811446' id='Fill-1' fill='%2317FF7F'%3E%3C/path%3E%3Cg id='Group-5'%3E%3Cmask id='mask-10' fill='%2317FF7F'%3E%3Cuse xlink:href='%23path-9'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-4'%3E%3C/g%3E%3Cpath d='M71.5718929,44.3520311 C69.6868535,46.3239922 66.7467906,47.8992738 64.2902551,49.012866 C59.9660346,50.9733903 53.6412787,52.0623029 49.5187276,49.1729825 C49.819137,48.6529049 49.6252472,48.1581087 49.2446488,47.8679728 C49.0597354,42.1663806 48.2392945,36.4407107 46.9664441,30.9154874 C46.1843024,27.519934 45.2130583,24.1653126 44.0425386,20.8847301 C42.9522079,17.827468 41.4579402,14.8496621 40.666822,11.689468 C44.3441449,15.9716816 50.4576567,18.1880311 55.9894992,17.2110796 C61.3400189,16.2654291 65.6612472,12.5430214 67.9209008,7.78106019 C68.6886803,16.8908466 69.9986331,25.9518757 71.8920504,34.8967301 C72.5724598,38.1092932 74.1385386,41.6679728 71.5718929,44.3520311 M19.1253102,58.8672544 C18.8213102,58.7763612 18.5185071,58.6764388 18.2169008,58.571701 C18.8087433,57.6988854 18.8931213,56.4992155 18.3006803,55.6011184 C18.1588535,55.3850214 17.9410268,55.3242252 17.7411528,55.3609437 C17.7249953,55.2712544 17.6759244,55.1857786 17.5801764,55.1225748 C16.5969638,54.4670602 15.234948,54.6837592 14.4240819,55.5294874 C14.3678299,55.5884777 14.3283339,55.6528854 14.2804598,55.7148854 C13.4121449,54.2690214 12.987263,52.319934 12.4498772,50.7560893 C11.2979087,47.4020699 10.1459402,44.0486524 8.9951685,40.695235 C7.18912126,35.4366718 5.42855433,30.1570408 3.56805039,24.915934 C5.32742047,26.476167 7.54937323,27.6631961 9.73242835,28.4071961 C9.5959874,28.5263806 9.52178268,28.7111767 9.5935937,28.9363029 C9.5983811,28.9537592 9.60436535,28.9718175 9.61034961,28.9892738 C9.58342047,29.3498369 9.68515276,29.6285359 9.84971969,29.9927107 C9.99334173,30.309332 10.1692787,30.6066913 10.3410268,30.9082641 C10.7186331,31.5697981 11.8729953,31.1291767 11.599515,30.3749437 C11.4750425,30.0318369 11.3547591,29.689332 11.2033575,29.3570602 C11.0956409,29.1204971 10.9927118,28.9212544 10.8490898,28.7503029 C11.4852157,28.9242641 12.1099717,29.0615068 12.7101921,29.1542058 C20.2264126,30.3171573 27.4494047,26.0102641 33.0560504,21.3795262 C35.131389,19.6651961 37.8087433,16.9016816 39.3012157,13.9238757 C39.7967118,15.5810214 40.4663496,17.1924194 41.098885,18.8567883 C42.4010583,22.2830408 43.5135307,25.7851379 44.4087748,29.3420117 C45.8599559,35.1074097 46.6145701,40.9101282 46.9837984,46.7898951 C46.0867591,46.471468 44.9359874,47.3834097 45.6199874,48.3296621 C45.9251843,48.7528272 46.2603024,49.1344583 46.6091843,49.4956233 C40.3969323,57.723565 29.0974677,61.8564971 19.1253102,58.8672544 M17.3545701,56.1573126 C17.8165543,56.8676039 17.6017197,57.6603612 17.1014362,58.1280699 C16.2181606,57.7199534 15.4114835,57.1794097 14.7735622,56.4131379 C15.1990425,55.6450602 16.3007433,55.1653126 17.2073575,55.7636427 C17.2318929,55.7798951 17.2552315,55.7829049 17.2791685,55.7925359 C17.2582236,55.905701 17.2707906,56.029099 17.3545701,56.1573126 M12.5067276,7.29047767 C12.7185701,7.69438058 13.1482394,7.9815068 13.7173417,7.8460699 C17.5729953,6.92690485 21.4178772,5.86267184 25.3082394,5.10302136 C28.9059717,4.40115728 33.7280819,3.86723495 36.6860976,6.60847767 C40.3448693,9.99861359 36.2654047,15.2884777 33.6149795,17.9695262 C31.0980031,20.5151379 28.0490268,22.570167 24.9509795,24.3320505 C18.1379087,28.2067495 8.96045984,28.7551184 3.58540472,22.001934 C-1.45872126,15.6646913 6.06886929,10.5993515 12.5067276,7.29047767 M74.5059717,36.5917981 C73.6998929,32.9825553 72.9865701,29.3528466 72.3654047,25.7068854 C70.9758614,17.5463612 70.0919874,9.31841942 69.6198299,1.05496311 C69.5396409,-0.346959223 67.5061921,-0.358396117 67.4451528,1.05496311 C67.1620976,7.65645825 62.3836724,13.7511184 55.8404913,15.0868272 C49.3242394,16.4171184 43.515326,12.7579146 40.0253102,7.51078835 C39.7243024,6.73909903 39.2497512,5.9932932 38.5537827,5.29263301 C33.6197669,0.323603883 25.3070425,2.27269126 18.474822,4.22539029 C18.7064126,3.71554563 18.2390425,2.94385631 17.5903496,3.15634175 C11.4074205,5.17465243 1.46039685,9.4032932 0.223451969,16.7620311 C0.0540976378,17.7720893 0.0858141732,18.7321864 0.27312126,19.6417204 C0.0475149606,19.8331379 -0.0739653543,20.1371184 0.0475149606,20.5265748 C2.68836535,28.9820505 5.66553071,37.3394097 8.5176252,45.7250602 C9.76115276,49.3812544 10.6121134,53.7609825 12.6222236,57.0843029 C14.0662236,59.4710019 16.7860661,60.4973126 19.3545071,61.1672738 C29.4762709,63.8085942 40.4849008,59.9916816 47.2518929,52.1887107 C47.5134047,53.2655845 49.2458457,53.1867301 49.2757669,51.9419146 C49.2793575,51.8016621 49.2757669,51.6620117 49.2781606,51.5223612 C52.3349165,53.1704777 56.1121764,53.4401476 59.5986016,52.815332 C64.7773732,51.885934 71.4809323,48.6673515 74.7507276,44.373701 C76.462822,42.1248466 75.0487433,39.0200311 74.5059717,36.5917981' id='Fill-3' fill='%2317FF7F' mask='url(%23mask-10)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M11.9615089,36.2815626 C11.8510613,35.9174639 11.7391346,35.5722983 11.5995959,35.2307736 C11.5177464,35.0312475 11.3461583,34.9438638 11.2011959,35.0378013 C11.0695463,35.1230004 10.9561404,35.3727721 11.0167879,35.593416 C11.1292077,36.002663 11.2559266,36.379141 11.400889,36.7650857 C11.48619,36.9915551 11.6962375,37.0658313 11.8451445,36.9369403 C12.0098297,36.7949418 12.033497,36.5182268 11.9615089,36.2815626' id='Fill-6' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M14.356737,41.6702256 C14.2715872,41.4684888 14.2051003,41.2600276 14.126949,41.0542561 C14.0348005,40.812172 13.8726659,40.5949688 13.8271748,40.3333835 C13.7379424,39.8209722 12.9809251,39.9278927 13.0264161,40.4584603 C13.0514945,40.7455989 12.9815083,41.0179435 13.004837,41.3104617 C13.0299154,41.6298782 13.0999016,41.9338282 13.1920501,42.2364333 C13.3728478,42.8275219 13.6469604,43.3137074 14.0033068,43.7850989 C14.4535513,44.3802223 15.2426456,43.6190024 14.9277077,42.9620131 C14.725331,42.5390384 14.5387011,42.104632 14.356737,41.6702256' id='Fill-8' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M15.8229235,48.2512682 C15.7940215,48.1022736 15.766845,47.9505576 15.7258646,47.8083663 C15.6758253,47.6328384 15.5955899,47.4960899 15.5524526,47.3151193 C15.4234721,46.7708467 14.9459421,46.9844737 15.0050402,47.5532386 C15.0227265,47.7206024 14.9964127,47.8723184 15.0028833,48.0383215 C15.0093539,48.2199725 15.0404128,48.4036645 15.0658638,48.5805531 C15.1137462,48.9118791 15.1672365,49.2377623 15.231511,49.5622848 C15.3820602,50.3249468 16.0985709,50.0113097 15.9885708,49.2329999 C15.9415511,48.901674 15.885904,48.5771514 15.8229235,48.2512682' id='Fill-10' fill='%2317FF7F'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-11' transform='translate(79.000000, 154.000000)'%3E%3Cg id='Group-3' transform='translate(0.000000, 0.328500)'%3E%3Cmask id='mask-12' fill='%2317FF7F'%3E%3Cuse xlink:href='%23path-11'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M44.2986,5.2674 C33.1976,0.3454 19.6976,-2.2126 9.4216,5.9124 C0.8726,12.6724 -3.3694,26.4824 3.2246,35.9864 C3.8756,36.9244 5.4346,36.3764 5.1236,35.1854 C2.3546,24.5894 2.8886,13.8774 12.9146,7.2694 C22.3336,1.0604 33.4766,4.2774 43.1096,8.0874 C44.7206,8.7254 45.8966,5.9754 44.2986,5.2674' id='Fill-1' fill='%2317FF7F' mask='url(%23mask-12)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M37.0769,18.387 C38.6259,19.041 40.0119,16.908 38.4389,16.056 C32.3729,12.773 23.8689,12.334 18.4129,17.102 C14.0059,20.952 11.7879,28.383 15.8269,33.229 C16.4729,34.004 17.8739,33.176 17.5349,32.235 C15.7729,27.359 16.2939,22.208 20.6719,18.832 C25.5699,15.055 31.8129,16.163 37.0769,18.387' id='Fill-4' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M36.4153,23.4544 C33.0053,21.7704 28.6953,22.3884 26.0913,25.2534 C24.3763,27.1404 22.2683,32.2504 25.2893,33.9644 C25.5873,34.1334 26.0023,34.0414 26.1733,33.7324 C27.2033,31.8684 26.5393,29.5834 27.9123,27.7224 C29.6793,25.3284 32.7163,25.1474 35.2713,26.1674 C36.8273,26.7884 37.9163,24.1964 36.4153,23.4544' id='Fill-6' fill='%2317FF7F'%3E%3C/path%3E%3Cg id='Group-10' transform='translate(33.000000, 34.328500)'%3E%3Cmask id='mask-14' fill='%2317FF7F'%3E%3Cuse xlink:href='%23path-13'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-9'%3E%3C/g%3E%3Cpath d='M6.7649,4.079 C6.7769,3.823 6.7489,3.57 6.6909,3.325 C6.7489,2.336 6.3429,1.294 5.4959,0.688 C5.1639,0.451 4.6059,0.472 4.2719,0.688 C4.1999,0.735 4.1439,0.79 4.0779,0.84 C4.0119,0.821 3.9519,0.796 3.8799,0.78 C3.5039,0.695 3.1809,0.769 2.8999,0.941 C2.5719,0.92 2.2459,1.012 2.0099,1.298 C1.6459,1.74 1.4739,2.245 1.4409,2.754 C1.2439,3.031 1.0379,3.301 0.8489,3.584 C0.5509,4.033 0.7039,4.617 1.0309,4.992 C1.6139,5.66 2.3689,6.132 2.9419,6.801 C3.2319,7.14 3.6629,7.004 3.8779,6.71 C4.3779,6.777 4.8619,6.701 5.2909,6.48 C5.6779,6.579 6.0969,6.609 6.5469,6.532 C7.2979,6.405 7.6669,5.366 7.2679,4.761 C7.1329,4.557 6.9579,4.32 6.7649,4.079' id='Fill-8' fill='%2317FF7F' mask='url(%23mask-14)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Group-14' transform='translate(285.000000, 256.000000)'%3E%3Cg id='Group-3'%3E%3Cmask id='mask-16' fill='%2317FF7F'%3E%3Cuse xlink:href='%23path-15'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M100.138214,62.5396678 C99.3586171,67.4057008 97.9397023,72.2148165 96.2047566,76.8227174 C94.3770977,81.6799322 92.2285705,87.1736595 88.4886016,90.9286017 C86.1715783,93.2549983 82.8355163,95.3649488 79.5083225,93.5155355 C76.8059349,92.013238 75.7699659,88.7264612 75.4684465,85.865362 C74.9339349,80.7860893 75.8650977,75.8022132 74.7468961,70.7429818 C71.1899349,54.6377752 53.0149271,42.3019405 37.2835163,51.5770645 C33.5056558,53.8048579 30.6936248,57.1950479 27.8872372,60.4794198 C24.2230512,64.7674612 20.3371597,68.8406595 16.1360434,72.6140397 C13.9125395,74.6117587 11.6003535,77.2002959 8.61902016,77.8071471 C3.24004341,78.9030066 2.44754729,72.2997917 3.25455504,68.4751058 C4.38243101,63.1296843 6.62931473,57.6824529 8.63595039,52.6168083 C13.0208806,41.5459818 19.4882295,30.6250645 30.7573147,25.4038992 C36.7764155,22.6141471 43.1099349,22.1980893 49.4160434,24.2511223 C52.2869271,25.1858496 55.0288186,26.3706926 57.8352062,27.3358826 C57.5860899,27.9178826 57.706214,28.5952793 58.4712992,28.9295686 C63.1641984,30.979395 67.9538419,32.7622711 72.8773147,34.1836017 C78.1684155,35.7107504 83.7231442,36.3328331 88.9658729,37.9810314 C99.8810357,41.4129074 101.73933,52.5470645 100.138214,62.5396678 M98.3476403,40.2897917 C94.3601674,35.9247917 88.5426171,34.7840397 82.990307,33.6553124 C77.1671132,32.4712711 71.4769426,30.8511306 65.9189891,28.8197421 C66.6413457,28.268205 66.6292527,26.7867504 65.5360434,26.614395 C65.5239504,26.6119901 65.5118574,26.6095851 65.4997643,26.6071802 C67.706338,17.4074116 72.286369,9.03334545 79.6058729,2.80049421 C80.9699659,1.63889917 78.9472062,-0.413332231 77.6193922,0.82602314 C70.2748961,7.68095702 64.9120434,16.2121471 62.9070202,26.0580479 C57.8714853,24.7625769 53.2737178,22.2990975 48.2244775,20.9603372 C43.2510202,19.6408165 38.0695628,19.8604694 33.1791442,21.4381223 C22.666276,24.8299157 14.970276,33.2977752 9.97585736,42.8077835 C7.15576434,48.1780562 5.04915969,53.892238 3.08767132,59.6168413 C1.42367132,64.4772628 -1.26017364,70.2988661 0.671485271,75.4558992 C1.9356093,78.8300562 5.40711318,81.6975686 9.19061705,80.9271802 C13.9044775,79.9651967 18.5199814,74.3680562 21.766555,71.2015273 C30.6734698,62.5164198 37.4923225,49.5673207 51.9362295,51.5554198 C65.6118264,53.4377008 72.9539039,66.583205 72.6604465,79.3607504 C72.5483845,84.2179653 72.1735008,89.4383289 75.3475163,93.5171388 C77.7895008,96.6580149 81.7592372,97.8212132 85.4959814,96.4022876 C89.7285395,94.7941719 92.7493767,90.7346017 94.8116403,86.8986926 C97.7405705,81.4498579 99.9544,75.5208331 101.533749,69.5533289 C104.005563,60.2188826 105.468012,48.0858661 98.3476403,40.2897917' id='Fill-1' fill='%2317FF7F' mask='url(%23mask-16)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M39.5322461,30.5459758 C38.9352268,29.6298435 37.8539972,29.1145713 36.760619,29.0160265 C34.3213442,28.7947183 32.4608657,30.9000689 33.1420577,33.1874768 C33.4544515,34.2372292 34.2337004,35.1809206 35.2576578,35.6586122 C35.7557523,35.890777 36.3640525,36.0594723 36.9185514,35.9801354 C37.6561479,35.8749096 38.3998186,35.2443901 39.0419614,34.8911322 C39.5808407,34.5938276 39.7248889,34.0384694 39.633774,33.4897921 C39.6311708,33.4781004 39.6250964,33.4680789 39.6224932,33.4563871 C40.1891408,32.5978784 40.0841417,31.3936279 39.5322461,30.5459758' id='Fill-4' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M30.9113687,41.6423113 C31.0040307,41.3327595 30.9054854,40.9680619 30.6738304,40.7438023 C29.3927416,39.5055952 27.1784142,39.8702928 26.304744,41.4151106 C26.2900358,41.4430511 26.27974,41.4709917 26.2657672,41.4989322 C26.1422178,41.6298116 26.0672058,41.7996607 26.0730891,41.9893622 C25.6767017,43.4790342 26.9504363,44.8642969 28.4962736,44.9914999 C30.2730305,45.1363495 31.4438074,43.4033007 30.8392983,41.8268659 C30.8643023,41.7658379 30.892248,41.7070157 30.9113687,41.6423113' id='Fill-6' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M27.3603268,37.3981088 C28.0567484,37.0556791 28.1250577,36.2946386 27.8484884,35.6967332 C27.8018381,35.367385 27.6202354,35.0665086 27.2495325,34.8695153 C27.2486995,34.8687458 27.2478664,34.8687458 27.2478664,34.8687458 C27.0979192,34.7240788 26.928812,34.599419 26.7522075,34.4870713 C26.7538736,34.4762982 26.7580388,34.4662947 26.7605379,34.4562911 C26.8821618,33.8522296 26.5831004,33.3289662 25.9424925,33.1242779 C24.5721414,32.6879685 23.2426093,33.4574736 22.6803072,34.5440147 C22.0038786,34.7525505 21.6681634,35.7167403 22.4578855,36.1769043 C22.4628837,36.1799824 22.467882,36.1815214 22.4728802,36.1845994 C22.5336921,36.4108339 22.6303248,36.6339903 22.7769399,36.8479127 C23.0518431,37.2480553 23.4500363,37.5373892 23.9032102,37.7182229 C24.1164685,37.8752019 24.3913717,37.9775461 24.7204226,37.9937057 C25.6700884,38.0421845 26.5281197,37.8074855 27.3603268,37.3981088' id='Fill-8' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M38.2091459,42.3774753 C38.2295202,42.2846118 38.2523393,42.1932961 38.2596741,42.0942417 C38.2955327,41.6593309 37.882343,41.1230442 37.4194401,41.045658 C36.7055266,40.9257093 36.0763698,41.0340501 35.5792382,41.4666392 C35.3665311,41.2886508 35.0641773,41.1880487 34.8107216,41.2236464 C34.3315194,41.2925201 34.0462799,41.6407582 34.0063464,42.0895985 C33.9468536,42.7435123 34.3119601,43.2558092 34.8359857,43.5730929 L34.8359857,43.5738667 C34.9052581,43.8129902 35.0755868,44.0443751 35.2964437,44.2099817 C36.0959291,45.1765359 37.6704509,45.271721 38.6280404,44.4096382 C39.1153924,43.971632 39.1325068,43.1188356 38.6280404,42.683151 C38.4992752,42.5717148 38.3566555,42.4711127 38.2091459,42.3774753' id='Fill-10' fill='%2317FF7F'%3E%3C/path%3E%3Cpath d='M88.8157941,51.6210786 C86.4892249,53.0671728 83.3320901,51.4590512 81.195294,49.6467752 C81.3899963,49.1145153 81.2873052,48.4688362 80.6990907,48.1561234 C81.1648975,47.7964226 81.681639,47.6586994 82.2517799,47.7445739 C82.6896547,47.7502448 83.1258864,47.7713084 83.5621182,47.8069544 C84.5512387,47.8798667 85.5526822,47.981944 86.5163353,48.2233648 C87.7305547,48.5271661 91.305026,50.0737173 88.8157941,51.6210786 M81.2215829,45.0994771 C78.5080737,45.4251521 76.6078779,48.7523841 79.3065996,50.190377 C81.3932824,52.5810907 84.5150914,54.3285559 87.7699881,53.9477916 C90.5023925,53.6285977 93.0351654,51.2954036 91.5703798,48.4761274 C89.9232147,45.306062 84.3359982,44.7268142 81.2215829,45.0994771' id='Fill-12' fill='%2317FF7F'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-3' transform='translate(163.000000, 327.000000)'%3E%3Cmask id='mask-18' fill='%2317FF7F'%3E%3Cuse xlink:href='%23path-17'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M14.9609665,7.10359163 C14.5884452,3.06118186 11.5794079,-0.199709399 7.45211941,0.00953814473 C3.6183117,0.204040057 -0.248486822,3.31255978 0.0422447412,7.48978676 C0.157712596,9.15393669 2.47394278,9.60332739 2.95987001,7.89353622 C4.31592999,3.12578177 11.334726,2.11114183 12.1285675,7.80365808 C13.0330657,14.2910341 4.30768229,15.5394977 1.48765485,10.6130521 C0.96667489,9.70233378 -0.385261246,10.5119392 0.105477138,11.4381054 C1.85467768,14.7397226 5.8080771,16.6987852 9.42950643,15.768406 C13.2275741,14.79379 15.3163051,10.9529038 14.9609665,7.10359163' id='Fill-1' fill='%2317FF7F' mask='url(%23mask-18)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-3-Copy' transform='translate(228.000000, 21.000000)'%3E%3Cmask id='mask-20' fill='%2317FF7F'%3E%3Cuse xlink:href='%23path-19'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M14.9609665,7.10359163 C14.5884452,3.06118186 11.5794079,-0.199709399 7.45211941,0.00953814473 C3.6183117,0.204040057 -0.248486822,3.31255978 0.0422447412,7.48978676 C0.157712596,9.15393669 2.47394278,9.60332739 2.95987001,7.89353622 C4.31592999,3.12578177 11.334726,2.11114183 12.1285675,7.80365808 C13.0330657,14.2910341 4.30768229,15.5394977 1.48765485,10.6130521 C0.96667489,9.70233378 -0.385261246,10.5119392 0.105477138,11.4381054 C1.85467768,14.7397226 5.8080771,16.6987852 9.42950643,15.768406 C13.2275741,14.79379 15.3163051,10.9529038 14.9609665,7.10359163' id='Fill-1' fill='%2317FF7F' mask='url(%23mask-20)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-3-Copy-2' transform='translate(626.500000, 332.000000) scale(-1, 1) translate(-626.500000, -332.000000) translate(619.000000, 324.000000)'%3E%3Cmask id='mask-22' fill='%2317FF7F'%3E%3Cuse xlink:href='%23path-21'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M14.9609665,7.10359163 C14.5884452,3.06118186 11.5794079,-0.199709399 7.45211941,0.00953814473 C3.6183117,0.204040057 -0.248486822,3.31255978 0.0422447412,7.48978676 C0.157712596,9.15393669 2.47394278,9.60332739 2.95987001,7.89353622 C4.31592999,3.12578177 11.334726,2.11114183 12.1285675,7.80365808 C13.0330657,14.2910341 4.30768229,15.5394977 1.48765485,10.6130521 C0.96667489,9.70233378 -0.385261246,10.5119392 0.105477138,11.4381054 C1.85467768,14.7397226 5.8080771,16.6987852 9.42950643,15.768406 C13.2275741,14.79379 15.3163051,10.9529038 14.9609665,7.10359163' id='Fill-1' fill='%2317FF7F' mask='url(%23mask-22)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            content: "";
            width: 635px;
            height: 380px;
            position: absolute;
            left: -230px;
            top: -50px;
            z-index: -1;
          }
        }
      }

      @include breakpoint(xxlarge){
        max-width: 1070px;
      }
      label {
        font-weight: 300;
        font-size: 18px;
        color: $secondary-color;
        letter-spacing: -0.39px;
        b{
          font-weight: 500;
        }
        @include breakpoint(mediumplus){
          line-height: 27px;
        }
      }
      input{
        font-weight: 300;
        font-size: 18px;
        color: $secondary-color;
        letter-spacing: -0.34px;
        border: solid 0px;
        border-bottom: solid 3px $primary-color;
      }
    }

      a.send-search{
        @include button-inverse;
        color: white!important;
        text-decoration: underline;
        margin-left: auto;
        margin-right: 0;
        display: block;

        @include breakpoint(large){
          padding-left: 130px;
          padding-right: 130px;
          width: 515Px;
          margin-bottom:0px;
        }
      }

}
.block-views-block-locations-block-1,.block-views-block-locations-block-2{

  margin: 0 auto;
  max-width: 410px;
  @include breakpoint(mediumplus down){
    @include grid-col-gutter();
  }
  @include breakpoint(mediumplus){
    max-width: 710px;
  }
  @include breakpoint(large){
    max-width: 880px;
  }
  @include breakpoint(xlarge){
    max-width: 1060px;
  }
  @include breakpoint(xxlarge){
    max-width: 1290px;
  }

  h2.block-title{
    @include grid-col-gutter();
    font-weight: 500;
    font-size: 40px;
    color: #17FF7F;
    letter-spacing: -1.45px;
    line-height: 47px;
    margin-bottom: 40px;
  }
  .item-list{

    ul{
      @include flex-grid-row();
      margin: 0;
      list-style-type: none;
    }
    li {
      margin-right: 30px;
      margin-bottom: 60px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      @include breakpoint(large){
        @include flex-grid-column(1 of 3);
        margin-right: 0px;
      }
      .views-field-name{
        margin-bottom: 30px;
        span.field-content{
          @include inside-out;
          -moz-text-stroke-color: $primary-color;
          -webkit-text-stroke-color:$primary-color;
          font-weight: 500;
          font-size: 50px;
          letter-spacing: -2.53px;
          line-height: 83px;
          text-transform: lowercase;
          @include breakpoint(xxlarge){
            font-size: 70px;
          }
        }
      }
      div span div.views-row{

        a{
          font-weight: 500;
          font-size: 18px;
          color: #091838;
          letter-spacing: -0.65px;
          text-decoration: underline;
          line-height: 34px;
        }
      }
      div {


      }

    }
  }
}

.building.teaser{
  max-width: 435px;
  figcaption{
    @include flex-grid-row();
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  div.left-wrapper{
    margin-top: 25px;
    span.field-wrapper{
      font-weight: 500;
      font-size: 26px;
      color: #091838;
      letter-spacing: -0.94px;
      line-height: 28px;


    }
    .field-name-field-location{
      font-weight: 500;
      font-size: 26px;
      color: #17FF7F;
      letter-spacing: -0.94px;
      line-height: 28px;
    }
    .field-name-field-available-rooms{
      font-weight: 200;
      font-size: 18px;
      color: #091838;
      letter-spacing: -0.65px;
      line-height: 28px;
      margin-top: 30px;
    }
  }
  div.right-wrapper{
    max-width: 180px;
    margin-top: -25px;
    a.button{
      @include button-inverse;
      @include buttondots;
      display: block;
      max-width: 160px;
      margin-top: 15px;
    }
  }
.budget-wrapper{

}
}

#block-results{
  .form-item-location,.form-item-budget{
    display: none!important;
  }
  input#edit-submit-buildings{
    display: none!important;
  }
  ul.tabs{
    max-width: 1070px;
    margin: 0 auto;
    border: solid 0px;
    margin-bottom: 50px;
    border-top: dashed 2px $primary-color;
    border-bottom: dashed 2px $primary-color;
    li.tabs-title{
position: relative;
      text-transform: lowercase;

&::before{
  content: "";
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
}
      &:first-of-type {
        margin-right: 25px;
        @include breakpoint(large) {


          margin-right: 75px;
        }
          &::before {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30.7 35.3' style='enable-background:new 0 0 30.7 35.3;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23091838;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M29.1,0H1.6C0.7,0,0,0.7,0,1.6C0,2,0.3,2.3,0.6,2.3S1.3,2,1.3,1.6c0-0.2,0.1-0.3,0.3-0.3h27.6 c0.1,0,0.3,0.1,0.3,0.3v32.1c0,0.2-0.1,0.3-0.3,0.3h-1.6c-0.4,0-0.6,0.3-0.6,0.7s0.3,0.7,0.6,0.7h1.6c0.9,0,1.6-0.7,1.6-1.6V1.6 C30.7,0.7,30,0,29.1,0z'/%3E%3Cpath class='st0' d='M24.5,34H1.6c-0.1,0-0.3-0.1-0.3-0.3V4.1c0-0.4-0.3-0.7-0.6-0.7S0,3.7,0,4.1v29.6c0,0.9,0.7,1.6,1.6,1.6h22.9 c0.4,0,0.6-0.3,0.6-0.7S24.8,34,24.5,34z'/%3E%3Cpath class='st0' d='M5.2,11.6h4.5c0.4,0,0.7-0.3,0.7-0.7V6.3c0-0.4-0.3-0.7-0.7-0.7H5.2C4.8,5.6,4.5,6,4.5,6.3v4.5 C4.5,11.3,4.8,11.6,5.2,11.6z M9,7v3.1H5.9V7H9z'/%3E%3Cpath class='st0' d='M4.5,19.9c0,0.4,0.3,0.7,0.7,0.7h4.5c0.4,0,0.7-0.3,0.7-0.7v-4.5c0-0.4-0.3-0.7-0.7-0.7H5.2 c-0.4,0-0.7,0.3-0.7,0.7V19.9z M9,16.1v3.1H5.9v-3.1H9z'/%3E%3Cpath class='st0' d='M4.5,27.8c0,0.4,0.3,0.7,0.7,0.7h4.5c0.4,0,0.7-0.3,0.7-0.7v-4.5c0-0.4-0.3-0.7-0.7-0.7H5.2 c-0.4,0-0.7,0.3-0.7,0.7V27.8z M9,24v3.1H5.9V24H9z'/%3E%3Cpath class='st0' d='M25.6,5.6H11.9c-0.4,0-0.6,0.3-0.6,0.7v4.5c0,0.4,0.3,0.7,0.6,0.7h13.7c0.4,0,0.6-0.3,0.6-0.7V6.3 C26.3,6,26,5.6,25.6,5.6z M12.6,10.2V7H25v3.1H12.6z'/%3E%3Cpath class='st0' d='M25.6,14.7H11.9c-0.4,0-0.6,0.3-0.6,0.7v4.5c0,0.4,0.3,0.7,0.6,0.7h13.7c0.4,0,0.6-0.3,0.6-0.7v-4.5 C26.3,15,26,14.7,25.6,14.7z M12.6,19.2v-3.1H25v3.1H12.6z'/%3E%3Cpath class='st0' d='M25.6,22.6H11.9c-0.4,0-0.6,0.3-0.6,0.7v4.5c0,0.4,0.3,0.7,0.6,0.7h13.7c0.4,0,0.6-0.3,0.6-0.7v-4.5 C26.3,22.9,26,22.6,25.6,22.6z M12.6,27.1V24H25v3.1H12.6z'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-size: 100%;
            width: 27px;
            height: 31px;
            top: 20px;
        }
      }
      &:nth-of-type(2) {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 35.88'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23091838;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicon-map%3C/title%3E%3Cpath class='cls-1' d='M40,35.18l-2.34-13a.59.59,0,0,0-1.16.21l1,5.49L29.84,19,35,17.85l.76.42.33,1.83a.61.61,0,0,0,.69.48.6.6,0,0,0,.47-.69l-.38-2.1a.57.57,0,0,0-.29-.41l-1.2-.67-3.79-2.12h0L28.65,13h0l-.07,0h0l-.05,0h-.41l-1.34.7a11.45,11.45,0,0,0,1.5-5.41,8.21,8.21,0,1,0-16.42,0,11.53,11.53,0,0,0,1.53,5.47L11.91,13H11.5l-.05,0h0l-.07,0h0L3.44,17.38a.57.57,0,0,0-.29.41L.92,30.12a.61.61,0,0,0,.48.69.6.6,0,0,0,.68-.48l.67-3.7,7.6-4-.61,7.92L1.36,34.29l.3-1.63A.59.59,0,0,0,.5,32.45L0,35.18a.57.57,0,0,0,.22.57.53.53,0,0,0,.36.13.69.69,0,0,0,.24-.05l9.46-4.27,9.47,4.27h.41l.07,0,9.47-4.27,9.46,4.27h.35l.08,0h0l0,0h0l0,0,0,0h0s0,0,0,0l0,0,.05-.06h0a.59.59,0,0,0,0-.08v0l0-.06v0s0,0,0-.05v0a.13.13,0,0,0,0-.06v0A.31.31,0,0,0,40,35.18ZM29.67,14.88l-.6.14,0-.5Zm-1.28,6.61-2.45-1.93a.59.59,0,0,0-.6-.07l-4.75,2.08v-.65a27.85,27.85,0,0,0,2.13-2L28,16.63Zm-.55-7.08.08,1-3.31,1.46c.33-.41.64-.82.92-1.22Zm-15.68,0,2.43,1.27c.36.51.75,1,1.19,1.54s.75.87,1.11,1.25l-5-.71Zm-1.71,6.8L3,25.16l.37-2v0l7.21-3.82Zm.26-3.32L3.65,21.63l.61-3.36L11,14.52l-.17,2.19Zm.2,12.66.56-7.21L18.4,33.92Zm8.5-2.28L15.8,22.55l3.61.44Zm0-6.47-4.7-.57a.6.6,0,0,0-.57.91l5.27,8.33v2.85l-7.8-11.9.2-2.49,6.47.93c.49.46.89.8,1.13,1v.94ZM20,19.85c-1.48-1.26-7-6.32-7-11.6a7,7,0,1,1,14.08,0C27.08,13.53,21.52,18.59,20,19.85Zm.55,14.53V31.76l1.75,1.83Zm2.89-1.31-2.89-3V22.85l4.9-2.14,3,2.37.58,7.47Zm5.68-16.86,2-.48,1.44.81.8.45-4.15.92Zm1.11,14.31-.46-5.94,7.54,9.13Zm-.62-8-.16-2.07v-.08L37.9,30.2l.54,3Z'/%3E%3Cpath class='cls-1' d='M20.5,5a.57.57,0,1,0,0,1.13,2.37,2.37,0,1,1-2.37,2.37,2.33,2.33,0,0,1,.68-1.66.56.56,0,0,0,0-.8A.57.57,0,0,0,18,6a3.51,3.51,0,1,0,2.5-1'/%3E%3C/svg%3E");
          background-size: 100%;
          width: 40px;
          height: 37px;
          top: 15px;
        }
      }
      a{
        background: white!important;
        font-weight: 500;
        font-size: 18px;
        color: #091838;
        letter-spacing: -0.34px;
        line-height: 44px;
        padding-left: 55px;
      }

    }
  }
  div.tabs-content{
    max-width: 1070px;
    margin: 0 auto;
    border: solid 0px;
    div.tabs-panel{
      padding: 0px!important;
    }
  }
  div.views-element-container{
    &>div{


  @include breakpoint(mediumplus){
    @include flex-grid-row();
    justify-content: space-between;
  }
    }
  }
.views-row{
  @include grid-col-gutter();
  @include breakpoint(mediumplus){
    @include flex-grid-column(4 of 10);
  }
  margin: 0 auto;
  margin-bottom: 60px;
  @include breakpoint(mediumplus){
    margin:0;
  }
}
  .views-row:first-of-type {
    @include breakpoint(mediumplus) {


      margin-left: -19%;
    }
  }
  .views.row:nth-of-type(odd){

  }
  .views-row:nth-of-type(even){

    @include breakpoint(mediumplus){
      margin-top: 100px;
    }
  }
  div.geolocation-common-map{
    width: 100vw;
    position: relative;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    div.gm-style-iw{
      width: 350px;
      height: 120px;
      border: solid 1px $primary-color;
      border-radius: 14px;
      overflow-y: hidden!important;
      overflow-x: hidden!important;
      padding: 0px;
    }
    div.gm-style-iw-d{
      overflow-y: hidden!important;
      overflow-x: hidden!important;
      height: 100%;
      &>div{
        position: relative;
        h2.location-title{
          max-width: 165px;
          margin-left: auto;
          margin-right: 0;
          a{
            font-weight: 500;
            font-size: 18px;
            color: #091838;
            letter-spacing: -0.65px;
            line-height: 28px;
            display: block;
            padding-top: 8px;
            padding-bottom: 3px;
          }
        }
        div.location-content{
          max-width: 165px;
          margin-left: auto;
          margin-right: 0;
          display: flex;
          flex-direction: column;
          margin-top: -17px;
          &>a:first-of-type{
            display: none;
          }
          font-weight: 500;
          font-size: 18px;
          color: #17FF7F;
          letter-spacing: -0.65px;
          line-height: 28px;
          a{
            font-weight: 200;
            font-size: 18px;
            color: #091838;
            letter-spacing: -0.65px;
            line-height: 28px;
          }
        }
        img{
          position: absolute;
          height: 120px;
          width: auto;
          object-fit: cover;
          left: 0;
          top: 0;
        }
      }
    }
  }

}


.xd-17{
  div.tabs-content{
    position: relative;
    div.resultaten{
      display: none;
      @include breakpoint(xlarge){


      font-weight: 500;
      font-size: 30px;
      color: #17FF7F;
      letter-spacing: -0.56px;
      text-align: center;
      line-height: 44px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      position: absolute;

      top: -222Px;
      left: 0Px;
      div.amres{
        margin-right: 10px;
      }
      &::after{
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='252px' height='16px' viewBox='0 0 252 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EGroup%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.1-zoekresultaat---lijst-1440' transform='translate(-265.000000, -529.000000)'%3E%3Ctext id='13-resultaten' font-family='CaslonsEgyptian-Medium, Caslons Egyptian' font-size='30' font-weight='400' line-spacing='44' letter-spacing='-0.5625' fill='%2317FF7F'%3E%3Ctspan x='292.82625' y='509'%3E13 resultaten%3C/tspan%3E%3C/text%3E%3Cg id='Group' transform='translate(267.000000, 531.000000)' stroke='%2317FF7F' stroke-width='3'%3E%3Cpath d='M0,2.83103562 C44.1158709,0.287770935 89.0257015,4.07668039 133.297538,3.99881334 C142.818728,3.9820671 152.224685,3.24469605 161.720815,3.00075393 C176.967926,2.60907729 192.272495,2.523735 207.510986,2.09237522 C220.831163,1.71531762 234.843656,-0.432269906 248,0.0779345375' id='Path-38' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M16,10.5023638 C109.708607,8.97033684 -61.6515319,11.373291 133.021963,11.992878 C165.354538,12.0957828 197.673988,11.0570484 230,10.5891337' id='Path-39'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 250px;
        height: 20px;
        content: "";
        position: absolute;
        bottom: -14px;
      }
      }
    }
  }
  header{
    @include breakpoint(xlarge){
     margin-bottom: 150px!important;
      margin-top: -150px;
    }
    figure{
      img{
        @include breakpoint(xlarge){
          max-width: 927px;
        }
        @include breakpoint(xxlarge){
          max-width: 830px;
        }

      }
    }
  }
}


  .region-highlighted.panel.callout.region{
    display: none;
  }

div[aria-label="Error message"]{
  display: none!important;
}
.building.full{
  figure{
    @include breakpoint(large){
      margin-bottom: 450px;
    }
  }
}
