.block.contact-data.full {
  /* if 1 branch, main contact data and contact data from branch should be in rows */
    &.single-branch {
      display: flex;
      justify-content: center;
    }
  /* end if 1 branch*/
  p {
    margin-bottom: 0;
  }
}

.paragraph--type--branch {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include breakpoint(smallplus){
    text-align: left;
  }

  p {
    margin-bottom: 0;
  }
}

.geolocation-common-map {
  height: 320px;
  @include breakpoint(mediumplus){
    height: 100%;
  }
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.webform-button--submit{
  margin-top: 15px;
}
.webform-confirmation{
  @include grid-col-gutter;
  @include grid-row;
}
form.webform-submission-form{
  @include breakpoint(mediumplus){
    @include flex-grid-row();
    justify-content: flex-end;
  }
  .form-item{
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
      display: block!important;
    }
    label{
      font-weight: 500;
      font-size: 18px;
      color: $secondary-color;
      letter-spacing: -0.34px;
    }
    input, textarea, select{
      font-weight: 500;
      font-size: 18px;
      color: $primary-color;
      letter-spacing: -0.34px;
      border: solid 5px $primary-color;
      min-height: 48px;
      line-height: 20px;
      &:hover, &:focus{
        border: solid 5px $secondary-color;
      }
    }
    select{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='11px' viewBox='0 0 16 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3ETriangle%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home-1440' transform='translate(-668.000000, -3494.000000)' stroke='%2317FF7F'%3E%3Crect id='Rectangle' stroke-width='5' fill='%23FFFFFF' x='297.5' y='3477.5' width='405' height='43'%3E%3C/rect%3E%3Cpolygon id='Triangle' stroke-width='3' transform='translate(676.500000, 3499.000000) rotate(180.000000) translate(-676.500000, -3499.000000) ' points='676 3496 681 3502 672 3502'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      padding-right: 25px;
    }
  }
  .form-item-consent, .form-item-message, .captcha,.form-actions{
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 1);
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  .form-item-consent{
    max-width: 650Px;
    margin: 0 auto;
    margin-bottom: 30px;
    label{
      font-weight: 200;
      font-size: 16px;
      color: #28334A;
      letter-spacing: -0.3px;
      text-align: center;
      line-height: 31px;
    }
  }
  div.form-actions{
    input{
      @include button;
      @include button-inverse;
      @include buttondots;
    }
  }
}
