.block-views-blockfaq-block-1{
  @include grid-col-gutter();
  margin-bottom: 100px;
  @include breakpoint(mediumplus){
    margin: 0 auto;
    max-width: 710px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 200px;
  }
  @include breakpoint(large){
    max-width: 880px;
  }
  @include breakpoint(xlarge){
    max-width: 1060px;
  }
  @include breakpoint(xxlarge){
    max-width: 1290px;
  }
  #views-exposed-form-faq-block-1{
    @include breakpoint(mediumplus){
      margin-top: 75px;
      margin-bottom: 100px;
    }
    @include breakpoint(large){
      margin-top: 275px;
    }
    @include breakpoint(xlarge){
      margin-top: 220px;
      margin-bottom: 100px;
    }
    .form-item-search {
      border: solid 10px $primary-color;
      margin-bottom: 0;
      padding: 30px;
      margin-top: 25px;
      @include breakpoint(mediumplus){
        @include flex-grid-row();
        flex-wrap: nowrap;
        max-width: 75%;
        margin-left: auto;
        margin-right: 0px;

      }
      @include breakpoint(xlarge) {
        position: relative;
        &::before {
          content: "";
          background-repeat: no-repeat;
          position: absolute;
          width: 150px;
          height: 210px;
          top: -45Px;
          left: -225px;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='138px' height='207px' viewBox='0 0 138 207' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EGroup%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0.519880835 0.079107171 8.77573293 0.079107171 8.77573293 8 0.519880835 8'%3E%3C/polygon%3E%3Cpolygon id='path-3' points='0.519880835 0.079107171 8.77573293 0.079107171 8.77573293 8 0.519880835 8'%3E%3C/polygon%3E%3Cpolygon id='path-5' points='0.693174446 0.10877236 11.7009772 0.10877236 11.7009772 11 0.693174446 11'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='6.0-FAQ--1440' transform='translate(-121.000000, -801.000000)'%3E%3Cg id='Group' transform='translate(118.000000, 801.000000)'%3E%3Cg id='Group-6' transform='translate(98.000000, 0.000000)'%3E%3Cpath d='M1.82297311,6.98549582 C2.19668882,4.05495953 5.24920851,2.04195808 8.09810495,1.79819156 C10.7360624,1.5722182 13.4465681,2.48085645 15.4779234,4.11723565 C20.5044911,8.16577657 19.9490996,15.4111583 16.5704169,20.2941993 C14.7573166,22.9151343 11.9638983,24.6701346 9.98497302,27.1546553 C8.9534445,28.4488124 8.33160107,29.8360871 7.94020549,31.4232385 C7.75426211,32.1770761 7.59758195,33.0424176 7.05133517,33.6414546 C6.6008035,34.1378842 5.85702998,34.4901891 5.3156604,33.9427524 C4.24816251,32.8638928 4.19634222,30.9884919 4.49811918,29.6196034 C4.86451909,27.9600931 5.77228857,26.508763 6.8849006,25.22113 C9.13146243,22.62214 12.0236441,20.5272899 13.6690906,17.4668634 C15.2633264,14.5013339 15.3291687,10.6064074 12.5003907,8.28973571 C11.1000237,7.14326199 9.4515289,6.92499902 7.69146812,7.26722112 C6.53800951,7.49141516 3.69642887,8.46885369 3.20383133,6.71326021 C2.89656751,5.6183867 1.14565148,6.08338173 1.4541346,7.18240698 C1.88515745,8.71855128 3.44708185,9.44451291 4.98522987,9.49848555 C6.78796619,9.56194788 8.67422461,8.34845319 10.4391626,9.08153209 C11.8401393,9.66396209 12.7137683,11.1526579 12.951532,12.5624707 C13.2466028,14.31154 12.4918556,16.0724714 11.538972,17.5154981 C9.42104638,20.7224217 5.97042496,22.857603 3.97077156,26.1606098 C3.06056348,27.6647264 2.48444382,29.4387061 2.5313869,31.1960789 C2.57284313,32.7440854 3.15262069,34.8158043 4.62553612,35.6639457 C6.16002625,36.5476735 8.03165306,35.5577798 8.85894869,34.2102432 C9.82585426,32.6361401 9.77891118,30.7032079 10.7769089,29.1190221 C12.6204918,26.1920444 15.8242048,24.3445195 17.8738495,21.5557355 C21.8012176,16.2136306 22.5041445,8.00563798 17.2099402,3.25189413 C14.6933033,0.991567522 11.1530632,-0.333431074 7.71524448,0.072846472 C3.92687673,0.520048326 0.493935178,3.17538347 0.00804378731,6.98549582 C-0.135224063,8.11002462 1.68092456,8.09994182 1.82297311,6.98549582' id='Fill-1' fill='%2317FF7F'%3E%3C/path%3E%3Cg id='Group-5' transform='translate(2.000000, 42.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-4'%3E%3C/g%3E%3Cpath d='M2.25462,0.716914286 C0.88302,1.63862857 0.34122,3.18662857 0.57102,4.73748571 C0.78942,6.20548571 1.88322,7.54377143 3.43182,7.89634286 C4.99542,8.25291429 6.77082,7.66662857 7.80762,6.49977143 C8.93442,5.23177143 9.12582,3.45348571 8.12622,2.05177143 C7.06302,0.562057143 4.95702,-0.375085714 3.10842,0.304342857 C2.65842,0.469485714 2.34762,0.875771429 2.48442,1.35005714 C2.60262,1.75977143 3.13062,2.11062857 3.58302,1.94434286 C3.72522,1.89234286 3.86922,1.84777143 4.01862,1.81634286 C4.05642,1.80891429 4.30002,1.77977143 4.07802,1.80034286 C4.15242,1.79405714 4.22682,1.78834286 4.30122,1.78548571 C4.45122,1.78091429 4.60062,1.78891429 4.74942,1.80377143 C4.52622,1.78091429 4.77222,1.81234286 4.80822,1.8192 C4.90662,1.83862857 5.00382,1.86262857 5.09982,1.89062857 C5.17242,1.9112 5.24262,1.93691429 5.31522,1.95977143 C5.54622,2.03291429 5.16462,1.87977143 5.38182,1.98662857 C5.51742,2.05291429 5.65302,2.11748571 5.78322,2.1952 C5.84802,2.23348571 5.91042,2.27634286 5.97402,2.31634286 C6.17862,2.44491429 5.85222,2.20491429 6.03522,2.36148571 C6.15882,2.4672 6.28122,2.57062857 6.39342,2.6872 C6.43662,2.7312 6.47682,2.77748571 6.51882,2.82377143 C6.67842,2.99691429 6.43422,2.68548571 6.56262,2.88034286 C6.64302,3.00262857 6.72642,3.12034286 6.79542,3.24891429 C6.81042,3.2752 6.90822,3.4912 6.83022,3.30491429 C6.85782,3.3712 6.88362,3.43805714 6.90582,3.50605714 C6.92862,3.57348571 6.94842,3.64205714 6.96582,3.7112 C6.97662,3.75577143 7.01142,4.0512 6.99522,3.83748571 C7.00662,3.98377143 7.00182,4.12605714 7.00242,4.27234286 C7.00362,4.49462857 7.04742,4.10377143 6.99942,4.3192 C6.98502,4.38605714 6.97182,4.45234286 6.95442,4.51862857 C6.93702,4.58434286 6.91662,4.64891429 6.89322,4.71291429 C6.88062,4.74891429 6.78522,4.94891429 6.87942,4.76034286 C6.80862,4.90262857 6.73122,5.04034286 6.64002,5.17234286 C6.61422,5.20948571 6.58602,5.24605714 6.55902,5.2832 C6.67962,5.11634286 6.54582,5.29634286 6.52182,5.32377143 C6.42822,5.42605714 6.32802,5.52377143 6.22182,5.6152 C6.16842,5.66148571 6.11382,5.70491429 6.05802,5.74948571 C6.22062,5.61977143 6.03642,5.76205714 6.00822,5.78034286 C5.86902,5.87177143 5.72382,5.95462857 5.57382,6.02777143 C5.50962,6.0592 5.44362,6.08777143 5.37822,6.11634286 C5.57622,6.03062857 5.35722,6.12148571 5.32302,6.13348571 C5.18802,6.1792 5.04942,6.21748571 4.90962,6.24891429 C4.84002,6.26377143 4.76862,6.2752 4.69842,6.28834286 C4.46742,6.33234286 4.88862,6.28434286 4.65342,6.29234286 C4.48722,6.29805714 4.32402,6.3072 4.15782,6.29691429 C4.14762,6.29577143 3.92022,6.2672 4.06602,6.29005714 C4.21182,6.31348571 3.98322,6.27291429 3.97542,6.2712 C3.83562,6.24262857 3.70242,6.20091429 3.56742,6.15748571 C3.76962,6.22205714 3.55542,6.15177143 3.51762,6.13348571 C3.45342,6.10262857 3.39102,6.06948571 3.32982,6.03462857 C3.26982,6.00034286 3.21402,5.96262857 3.15642,5.92548571 C3.07662,5.87005714 3.08262,5.87405714 3.17442,5.9392 C3.13962,5.91177143 3.10542,5.8832 3.07182,5.85348571 C2.97162,5.76605714 2.88282,5.67005714 2.79282,5.57234286 C2.93802,5.73005714 2.79462,5.57177143 2.77062,5.53805714 C2.73222,5.48434286 2.69562,5.42948571 2.66202,5.37405714 C2.59182,5.26205714 2.53122,5.14605714 2.47602,5.02777143 C2.56842,5.2272 2.47962,5.02377143 2.46702,4.98777143 C2.43702,4.90491429 2.41002,4.82148571 2.38662,4.73691429 C2.35122,4.60948571 2.32542,4.48091429 2.30322,4.35062857 C2.34222,4.57577143 2.30742,4.35691429 2.30382,4.31462857 C2.29662,4.2272 2.29242,4.13862857 2.29182,4.0512 C2.29182,3.89634286 2.30202,3.74377143 2.31942,3.59062857 C2.29362,3.81805714 2.32182,3.5992 2.33082,3.55748571 C2.34822,3.47177143 2.36922,3.38662857 2.39322,3.30262857 C2.41242,3.23977143 2.43222,3.17748571 2.45442,3.11577143 C2.47002,3.07005714 2.59482,2.81805714 2.48982,3.01748571 C2.56122,2.88205714 2.63142,2.74891429 2.71842,2.62205714 C2.74122,2.59005714 2.87862,2.4192 2.73822,2.58548571 C2.79462,2.51805714 2.85402,2.45291429 2.91702,2.3912 C2.96502,2.34434286 3.01422,2.2992 3.06522,2.2552 C3.09882,2.22662857 3.13422,2.19862857 3.16962,2.17062857 C3.08022,2.23634286 3.07542,2.24091429 3.15642,2.18548571 C3.54942,1.92091429 3.73482,1.44262857 3.47682,1.02148571 C3.24882,0.6512 2.65062,0.450628571 2.25462,0.716914286' id='Fill-3' fill='%2317FF7F' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Group-6-Copy' transform='translate(15.500000, 111.000000) rotate(10.000000) translate(-15.500000, -111.000000) translate(5.000000, 86.000000)'%3E%3Cpath d='M1.82297311,6.98549582 C2.19668882,4.05495953 5.24920851,2.04195808 8.09810495,1.79819156 C10.7360624,1.5722182 13.4465681,2.48085645 15.4779234,4.11723565 C20.5044911,8.16577657 19.9490996,15.4111583 16.5704169,20.2941993 C14.7573166,22.9151343 11.9638983,24.6701346 9.98497302,27.1546553 C8.9534445,28.4488124 8.33160107,29.8360871 7.94020549,31.4232385 C7.75426211,32.1770761 7.59758195,33.0424176 7.05133517,33.6414546 C6.6008035,34.1378842 5.85702998,34.4901891 5.3156604,33.9427524 C4.24816251,32.8638928 4.19634222,30.9884919 4.49811918,29.6196034 C4.86451909,27.9600931 5.77228857,26.508763 6.8849006,25.22113 C9.13146243,22.62214 12.0236441,20.5272899 13.6690906,17.4668634 C15.2633264,14.5013339 15.3291687,10.6064074 12.5003907,8.28973571 C11.1000237,7.14326199 9.4515289,6.92499902 7.69146812,7.26722112 C6.53800951,7.49141516 3.69642887,8.46885369 3.20383133,6.71326021 C2.89656751,5.6183867 1.14565148,6.08338173 1.4541346,7.18240698 C1.88515745,8.71855128 3.44708185,9.44451291 4.98522987,9.49848555 C6.78796619,9.56194788 8.67422461,8.34845319 10.4391626,9.08153209 C11.8401393,9.66396209 12.7137683,11.1526579 12.951532,12.5624707 C13.2466028,14.31154 12.4918556,16.0724714 11.538972,17.5154981 C9.42104638,20.7224217 5.97042496,22.857603 3.97077156,26.1606098 C3.06056348,27.6647264 2.48444382,29.4387061 2.5313869,31.1960789 C2.57284313,32.7440854 3.15262069,34.8158043 4.62553612,35.6639457 C6.16002625,36.5476735 8.03165306,35.5577798 8.85894869,34.2102432 C9.82585426,32.6361401 9.77891118,30.7032079 10.7769089,29.1190221 C12.6204918,26.1920444 15.8242048,24.3445195 17.8738495,21.5557355 C21.8012176,16.2136306 22.5041445,8.00563798 17.2099402,3.25189413 C14.6933033,0.991567522 11.1530632,-0.333431074 7.71524448,0.072846472 C3.92687673,0.520048326 0.493935178,3.17538347 0.00804378731,6.98549582 C-0.135224063,8.11002462 1.68092456,8.09994182 1.82297311,6.98549582' id='Fill-1' fill='%2317FF7F'%3E%3C/path%3E%3Cg id='Group-5' transform='translate(2.000000, 42.000000)'%3E%3Cmask id='mask-4' fill='white'%3E%3Cuse xlink:href='%23path-3'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-4'%3E%3C/g%3E%3Cpath d='M2.25462,0.716914286 C0.88302,1.63862857 0.34122,3.18662857 0.57102,4.73748571 C0.78942,6.20548571 1.88322,7.54377143 3.43182,7.89634286 C4.99542,8.25291429 6.77082,7.66662857 7.80762,6.49977143 C8.93442,5.23177143 9.12582,3.45348571 8.12622,2.05177143 C7.06302,0.562057143 4.95702,-0.375085714 3.10842,0.304342857 C2.65842,0.469485714 2.34762,0.875771429 2.48442,1.35005714 C2.60262,1.75977143 3.13062,2.11062857 3.58302,1.94434286 C3.72522,1.89234286 3.86922,1.84777143 4.01862,1.81634286 C4.05642,1.80891429 4.30002,1.77977143 4.07802,1.80034286 C4.15242,1.79405714 4.22682,1.78834286 4.30122,1.78548571 C4.45122,1.78091429 4.60062,1.78891429 4.74942,1.80377143 C4.52622,1.78091429 4.77222,1.81234286 4.80822,1.8192 C4.90662,1.83862857 5.00382,1.86262857 5.09982,1.89062857 C5.17242,1.9112 5.24262,1.93691429 5.31522,1.95977143 C5.54622,2.03291429 5.16462,1.87977143 5.38182,1.98662857 C5.51742,2.05291429 5.65302,2.11748571 5.78322,2.1952 C5.84802,2.23348571 5.91042,2.27634286 5.97402,2.31634286 C6.17862,2.44491429 5.85222,2.20491429 6.03522,2.36148571 C6.15882,2.4672 6.28122,2.57062857 6.39342,2.6872 C6.43662,2.7312 6.47682,2.77748571 6.51882,2.82377143 C6.67842,2.99691429 6.43422,2.68548571 6.56262,2.88034286 C6.64302,3.00262857 6.72642,3.12034286 6.79542,3.24891429 C6.81042,3.2752 6.90822,3.4912 6.83022,3.30491429 C6.85782,3.3712 6.88362,3.43805714 6.90582,3.50605714 C6.92862,3.57348571 6.94842,3.64205714 6.96582,3.7112 C6.97662,3.75577143 7.01142,4.0512 6.99522,3.83748571 C7.00662,3.98377143 7.00182,4.12605714 7.00242,4.27234286 C7.00362,4.49462857 7.04742,4.10377143 6.99942,4.3192 C6.98502,4.38605714 6.97182,4.45234286 6.95442,4.51862857 C6.93702,4.58434286 6.91662,4.64891429 6.89322,4.71291429 C6.88062,4.74891429 6.78522,4.94891429 6.87942,4.76034286 C6.80862,4.90262857 6.73122,5.04034286 6.64002,5.17234286 C6.61422,5.20948571 6.58602,5.24605714 6.55902,5.2832 C6.67962,5.11634286 6.54582,5.29634286 6.52182,5.32377143 C6.42822,5.42605714 6.32802,5.52377143 6.22182,5.6152 C6.16842,5.66148571 6.11382,5.70491429 6.05802,5.74948571 C6.22062,5.61977143 6.03642,5.76205714 6.00822,5.78034286 C5.86902,5.87177143 5.72382,5.95462857 5.57382,6.02777143 C5.50962,6.0592 5.44362,6.08777143 5.37822,6.11634286 C5.57622,6.03062857 5.35722,6.12148571 5.32302,6.13348571 C5.18802,6.1792 5.04942,6.21748571 4.90962,6.24891429 C4.84002,6.26377143 4.76862,6.2752 4.69842,6.28834286 C4.46742,6.33234286 4.88862,6.28434286 4.65342,6.29234286 C4.48722,6.29805714 4.32402,6.3072 4.15782,6.29691429 C4.14762,6.29577143 3.92022,6.2672 4.06602,6.29005714 C4.21182,6.31348571 3.98322,6.27291429 3.97542,6.2712 C3.83562,6.24262857 3.70242,6.20091429 3.56742,6.15748571 C3.76962,6.22205714 3.55542,6.15177143 3.51762,6.13348571 C3.45342,6.10262857 3.39102,6.06948571 3.32982,6.03462857 C3.26982,6.00034286 3.21402,5.96262857 3.15642,5.92548571 C3.07662,5.87005714 3.08262,5.87405714 3.17442,5.9392 C3.13962,5.91177143 3.10542,5.8832 3.07182,5.85348571 C2.97162,5.76605714 2.88282,5.67005714 2.79282,5.57234286 C2.93802,5.73005714 2.79462,5.57177143 2.77062,5.53805714 C2.73222,5.48434286 2.69562,5.42948571 2.66202,5.37405714 C2.59182,5.26205714 2.53122,5.14605714 2.47602,5.02777143 C2.56842,5.2272 2.47962,5.02377143 2.46702,4.98777143 C2.43702,4.90491429 2.41002,4.82148571 2.38662,4.73691429 C2.35122,4.60948571 2.32542,4.48091429 2.30322,4.35062857 C2.34222,4.57577143 2.30742,4.35691429 2.30382,4.31462857 C2.29662,4.2272 2.29242,4.13862857 2.29182,4.0512 C2.29182,3.89634286 2.30202,3.74377143 2.31942,3.59062857 C2.29362,3.81805714 2.32182,3.5992 2.33082,3.55748571 C2.34822,3.47177143 2.36922,3.38662857 2.39322,3.30262857 C2.41242,3.23977143 2.43222,3.17748571 2.45442,3.11577143 C2.47002,3.07005714 2.59482,2.81805714 2.48982,3.01748571 C2.56122,2.88205714 2.63142,2.74891429 2.71842,2.62205714 C2.74122,2.59005714 2.87862,2.4192 2.73822,2.58548571 C2.79462,2.51805714 2.85402,2.45291429 2.91702,2.3912 C2.96502,2.34434286 3.01422,2.2992 3.06522,2.2552 C3.09882,2.22662857 3.13422,2.19862857 3.16962,2.17062857 C3.08022,2.23634286 3.07542,2.24091429 3.15642,2.18548571 C3.54942,1.92091429 3.73482,1.44262857 3.47682,1.02148571 C3.24882,0.6512 2.65062,0.450628571 2.25462,0.716914286' id='Fill-3' fill='%2317FF7F' mask='url(%23mask-4)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Group-6-Copy-2' transform='translate(129.000000, 172.000000) rotate(-10.000000) translate(-129.000000, -172.000000) translate(114.000000, 138.000000)'%3E%3Cpath d='M2.66262789,9.55836305 C3.17871149,5.56957755 7.39409583,2.82965891 11.3282862,2.49786558 C14.9711797,2.19029075 18.7142591,3.42704836 21.519464,5.65434227 C28.4609147,11.1648563 27.6939454,21.0266259 23.0281456,27.6729872 C20.5243403,31.2403709 16.6667627,33.6291215 13.9339611,37.0108301 C12.5094693,38.7723217 11.6507332,40.6605567 11.1102345,42.8208462 C10.8534556,43.8469029 10.6370877,45.0247289 9.88274693,45.8400847 C9.26058415,46.5157806 8.23346834,46.9953068 7.48586273,46.2501845 C6.01169897,44.7817367 5.94013762,42.2291077 6.35687723,40.3658984 C6.86285806,38.1071205 8.11644449,36.1316989 9.65290872,34.3790874 C12.7553036,30.8415731 16.7492687,27.9902494 19.021552,23.8246689 C21.2231158,19.7882537 21.3140408,14.486826 17.4076331,11.3335785 C15.4737929,9.77310034 13.1973002,9.47602018 10.76674,9.9418225 C9.17386864,10.2469755 5.24978109,11.5773779 4.56952734,9.18782014 C4.14521064,7.69757565 1.72727898,8.33048555 2.15327948,9.82638102 C2.74850151,11.9172441 4.90544472,12.9053585 7.0295539,12.9788213 C9.5190469,13.0652006 12.12388,11.4134995 14.5611753,12.4113013 C16.4958574,13.2040533 17.7022975,15.2303337 18.0306378,17.1492455 C18.4381165,19.5299232 17.3958465,21.9267465 16.0799596,23.8908661 C13.1552053,28.2558455 8.39006141,31.1620645 5.62863528,35.6578237 C4.37168126,37.7050935 3.57608745,40.1196771 3.64091361,42.5116567 C3.69816269,44.6186655 4.49880789,47.4385051 6.53283396,48.5929199 C8.65189175,49.7957716 11.2365192,48.4484162 12.3789751,46.6142692 C13.7142257,44.47174 13.6493995,41.8408045 15.0275869,39.6845515 C17.5734871,35.7006097 21.9976622,33.1859231 24.8281239,29.3900782 C30.2516322,22.1188799 31.2223408,10.9468899 23.9112968,4.47651632 C20.435941,1.39996065 15.5470381,-0.403509661 10.7995741,0.149479221 C5.56801861,0.758170633 0.827289798,4.3723768 0.156296925,9.55836305 C-0.0415491537,11.0889717 2.46646561,11.0752479 2.66262789,9.55836305' id='Fill-1' fill='%2317FF7F'%3E%3C/path%3E%3Cg id='Group-5' transform='translate(3.523770, 56.733494)'%3E%3Cmask id='mask-6' fill='white'%3E%3Cuse xlink:href='%23path-5'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-4'%3E%3C/g%3E%3Cpath d='M3.00616,0.985757143 C1.17736,2.25311429 0.45496,4.38161429 0.76136,6.51404286 C1.05256,8.53254286 2.51096,10.3726857 4.57576,10.8574714 C6.66056,11.3477571 9.02776,10.5416143 10.41016,8.93718571 C11.91256,7.19368571 12.16776,4.74854286 10.83496,2.82118571 C9.41736,0.772828571 6.60936,-0.515742857 4.14456,0.418471429 C3.54456,0.645542857 3.13016,1.20418571 3.31256,1.85632857 C3.47016,2.41968571 4.17416,2.90211429 4.77736,2.67347143 C4.96696,2.60197143 5.15896,2.54068571 5.35816,2.49747143 C5.40856,2.48725714 5.73336,2.44718571 5.43736,2.47547143 C5.53656,2.46682857 5.63576,2.45897143 5.73496,2.45504286 C5.93496,2.44875714 6.13416,2.45975714 6.33256,2.48018571 C6.03496,2.44875714 6.36296,2.49197143 6.41096,2.5014 C6.54216,2.52811429 6.67176,2.56111429 6.79976,2.59961429 C6.89656,2.6279 6.99016,2.66325714 7.08696,2.69468571 C7.39496,2.79525714 6.88616,2.58468571 7.17576,2.73161429 C7.35656,2.82275714 7.53736,2.91154286 7.71096,3.0184 C7.79736,3.07104286 7.88056,3.12997143 7.96536,3.18497143 C8.23816,3.36175714 7.80296,3.03175714 8.04696,3.24704286 C8.21176,3.3924 8.37496,3.53461429 8.52456,3.6949 C8.58216,3.7554 8.63576,3.81904286 8.69176,3.88268571 C8.90456,4.12075714 8.57896,3.69254286 8.75016,3.96047143 C8.85736,4.12861429 8.96856,4.29047143 9.06056,4.46725714 C9.08056,4.5034 9.21096,4.8004 9.10696,4.54425714 C9.14376,4.6354 9.17816,4.72732857 9.20776,4.82082857 C9.23816,4.91354286 9.26456,5.00782857 9.28776,5.1029 C9.30216,5.16418571 9.34856,5.5704 9.32696,5.27654286 C9.34216,5.47768571 9.33576,5.67332857 9.33656,5.87447143 C9.33816,6.18011429 9.39656,5.64268571 9.33256,5.9389 C9.31336,6.03082857 9.29576,6.12197143 9.27256,6.21311429 C9.24936,6.30347143 9.22216,6.39225714 9.19096,6.48025714 C9.17416,6.52975714 9.04696,6.80475714 9.17256,6.54547143 C9.07816,6.74111429 8.97496,6.93047143 8.85336,7.11197143 C8.81896,7.16304286 8.78136,7.21332857 8.74536,7.2644 C8.90616,7.03497143 8.72776,7.28247143 8.69576,7.32018571 C8.57096,7.46082857 8.43736,7.59518571 8.29576,7.7209 C8.22456,7.78454286 8.15176,7.84425714 8.07736,7.90554286 C8.29416,7.72718571 8.04856,7.92282857 8.01096,7.94797143 C7.82536,8.07368571 7.63176,8.18761429 7.43176,8.28818571 C7.34616,8.3314 7.25816,8.37068571 7.17096,8.40997143 C7.43496,8.29211429 7.14296,8.41704286 7.09736,8.43354286 C6.91736,8.4964 6.73256,8.54904286 6.54616,8.59225714 C6.45336,8.61268571 6.35816,8.6284 6.26456,8.64647143 C5.95656,8.70697143 6.51816,8.64097143 6.20456,8.65197143 C5.98296,8.65982857 5.76536,8.6724 5.54376,8.65825714 C5.53016,8.65668571 5.22696,8.6174 5.42136,8.64882857 C5.61576,8.68104286 5.31096,8.62525714 5.30056,8.6229 C5.11416,8.58361429 4.93656,8.52625714 4.75656,8.46654286 C5.02616,8.55532857 4.74056,8.45868571 4.69016,8.43354286 C4.60456,8.39111429 4.52136,8.34554286 4.43976,8.29761429 C4.35976,8.25047143 4.28536,8.19861429 4.20856,8.14754286 C4.10216,8.07132857 4.11016,8.07682857 4.23256,8.1664 C4.18616,8.12868571 4.14056,8.0894 4.09576,8.04854286 C3.96216,7.92832857 3.84376,7.79632857 3.72376,7.66197143 C3.91736,7.87882857 3.72616,7.66118571 3.69416,7.61482857 C3.64296,7.54097143 3.59416,7.46554286 3.54936,7.38932857 C3.45576,7.23532857 3.37496,7.07582857 3.30136,6.91318571 C3.42456,7.1874 3.30616,6.90768571 3.28936,6.85818571 C3.24936,6.74425714 3.21336,6.62954286 3.18216,6.51325714 C3.13496,6.33804286 3.10056,6.16125714 3.07096,5.98211429 C3.12296,6.29168571 3.07656,5.99075714 3.07176,5.93261429 C3.06216,5.8124 3.05656,5.69061429 3.05576,5.5704 C3.05576,5.35747143 3.06936,5.14768571 3.09256,4.93711429 C3.05816,5.24982857 3.09576,4.9489 3.10776,4.89154286 C3.13096,4.77368571 3.15896,4.65661429 3.19096,4.54111429 C3.21656,4.45468571 3.24296,4.36904286 3.27256,4.28418571 C3.29336,4.22132857 3.45976,3.87482857 3.31976,4.14904286 C3.41496,3.96282857 3.50856,3.77975714 3.62456,3.60532857 C3.65496,3.56132857 3.83816,3.3264 3.65096,3.55504286 C3.72616,3.46232857 3.80536,3.37275714 3.88936,3.2879 C3.95336,3.22347143 4.01896,3.1614 4.08696,3.1009 C4.13176,3.06161429 4.17896,3.02311429 4.22616,2.98461429 C4.10696,3.07497143 4.10056,3.08125714 4.20856,3.00504286 C4.73256,2.64125714 4.97976,1.98361429 4.63576,1.40454286 C4.33176,0.8954 3.53416,0.619614286 3.00616,0.985757143' id='Fill-3' fill='%2317FF7F' mask='url(%23mask-6)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
      }
      @include breakpoint(xxlarge){
        max-width: 1070px;
      }
      label {
        font-weight: 500;
        font-size: 21px;
        color: $primary-color;
        letter-spacing: -0.39px;
        @include breakpoint(mediumplus){
          line-height: 27px;
        }
      }
      input{
        font-weight: 300;
        font-size: 18px;
        color: $secondary-color;
        letter-spacing: -0.34px;
        border: solid 0px;
        border-bottom: solid 3px $primary-color;
      }
    }
    .form-actions{
      input{
        @include button-inverse;
        color: white!important;
        text-decoration: underline;
        margin-left: auto;
        margin-right: 0;
        display: block;

        @include breakpoint(mediumplus){
          padding-left: 130px;
          padding-right: 130px;
          width: 326Px;
          margin-bottom:0px;
        }
      }
    }
  }
  .views-row{
    @include breakpoint(mediumplus){
      max-width: 400Px;
      margin-left: auto;
    }
    @include breakpoint(large){
      max-width: 550px;

    }
    @include breakpoint(xlarge){
      max-width: 710px;
    }
    @include breakpoint(xxlarge){
         max-width: 960px;
       }
    article{
      a{
        padding: 20px;
        padding-left: 0px;
        padding-right: 0px;
        border: solid 0px;
        border-bottom: solid 1px $primary-color!important;
        &:focus,&:hover{
          background-color: transparent;
        }
        &::before{
          content: "";
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='11px' viewBox='0 0 16 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3ETriangle Copy 3%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='6.0-FAQ--1440' transform='translate(-1336.000000, -1218.000000)' stroke='%2317FF7F' stroke-width='3'%3E%3Cpolygon id='Triangle-Copy-3' transform='translate(1344.500000, 1223.000000) rotate(180.000000) translate(-1344.500000, -1223.000000) ' points='1344 1220 1349 1226 1340 1226'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 9px 6px;
          width: 9px;
          height: 6px;
          display: block;
        }
        h2{
          line-height: 25Px;
          margin-bottom: 0px;
          padding-right: 45px;
          span{
            font-weight: 500;
            font-size: 21px;
            color: $primary-color;
            letter-spacing: -0.39px;

          }
        }
      }
      .body{
        font-weight: 200;
        font-size: 16px;
        color: $secondary-color;
        letter-spacing: -0.3px;
        line-height: 23px;
        background-color: #DAFFEA;
        padding: 40px;
      }
      .accordion-content{
        padding: 0px;
        border:solid 0px;
      }
    }
  }
}
.block-facets{
  @include grid-col-gutter();
  position: relative;
  @include breakpoint(mediumplus){
    max-width: 710px;
    margin: 0 auto;
  }
  @include breakpoint(large){
    max-width: 880px;
  }
  @include breakpoint(xlarge){
    max-width: 1060px;
  }
  @include breakpoint(xxlarge){
    max-width: 1290px;
  }
  div.facets-widget-checkbox{
    max-width: 264px;
    margin: 0 auto;
    margin-top: 25px;
    display: none;

    @include breakpoint(mediumplus){
      display: block;
      position: absolute;
      left: 0;
      top: 270px;
      width: 100%;
    }
    @include breakpoint(large){
      top: 380px;
    }
    @include breakpoint(xlarge){
      top: 335px;
    }
    ul{
      list-style-type: none;
      margin: 0;
      background-color: $primary-color;
      li{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 25px;
        margin-right: 25px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='10px' height='16px' viewBox='0 0 10 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3ETriangle Copy 8%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='6.0-FAQ--1440' transform='translate(-295.000000, -1143.000000)'%3E%3Crect id='Rectangle' fill='%2317FF7F' x='75' y='1114' width='264' height='148'%3E%3C/rect%3E%3Ctext id='Students-Owners' font-family='CaslonsEgyptian-Medium, Caslons Egyptian' font-size='21' font-weight='400' line-spacing='64' letter-spacing='-0.39375'%3E%3Ctspan x='100' y='1140' fill='%23091838'%3EStudents%3C/tspan%3E%3Ctspan x='191.581' y='1140' fill='%23FFFFFF'%3E%3C/tspan%3E%3Ctspan x='100' y='1204' fill='%23FFFFFF'%3EOwners%3C/tspan%3E%3C/text%3E%3Cpolygon id='Triangle-Copy-8' stroke='%23FFFFFF' stroke-width='3' transform='translate(299.500000, 1151.000000) rotate(90.000000) translate(-299.500000, -1151.000000) ' points='299 1148 304 1154 295 1154'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 10px 16px;
        background-position: center right;
        background-position-x: 190px;
        &:first-of-type{
          border-bottom: solid 1px white;
        }
        &>input{
          margin-bottom: 0px;
          display: none;
        }
        input[checked="checked"] + label{
          color: white;
        }
        &>label{
          margin: 0;
          font-weight: 500;
          font-size: 21px;
          color: $secondary-color;
          letter-spacing: -0.39px;
        }
      }
    }
  }
}

section.block-eenanderevraag{
  @include grid-col-gutter();
  @include breakpoint(mediumplus){
  margin: 0 auto;
  max-width: 710px;
  padding-left: 310px;
  padding-right: 0px;
  margin-bottom: 200px;
}
  @include breakpoint(large){
    max-width: 880px;
    padding-left: 320px;
  }
  @include breakpoint(xlarge){
    max-width: 1060px;
    padding-left: 350px;
  }
  @include breakpoint(xxlarge){
    max-width: 1290px;
    padding-left: 333px;

  }
h2.block-title{
  font-weight: 500;
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: -1.81px;
  background-color: $primary-color;
  padding: 8px;
  display: inline-flex;
  text-transform: lowercase;
  @include breakpoint(mediumplus){
    font-size: 50px;
    padding: 0px;
    padding-left: 10Px;
    padding-right: 10px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      left: -60px;
      width: 30px;
      height: 70px;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='31px' height='69px' viewBox='0 0 31 69' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EGroup 6 Copy 2%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0.693174446 0.10877236 11.7009772 0.10877236 11.7009772 11 0.693174446 11'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='6.0-FAQ--1440' transform='translate(-337.000000, -1963.000000)'%3E%3Cg id='Group-6-Copy-2' transform='translate(356.000000, 1997.088186) rotate(-10.000000) translate(-356.000000, -1997.088186) translate(341.000000, 1963.088186)'%3E%3Cpath d='M2.66262789,9.55836305 C3.17871149,5.56957755 7.39409583,2.82965891 11.3282862,2.49786558 C14.9711797,2.19029075 18.7142591,3.42704836 21.519464,5.65434227 C28.4609147,11.1648563 27.6939454,21.0266259 23.0281456,27.6729872 C20.5243403,31.2403709 16.6667627,33.6291215 13.9339611,37.0108301 C12.5094693,38.7723217 11.6507332,40.6605567 11.1102345,42.8208462 C10.8534556,43.8469029 10.6370877,45.0247289 9.88274693,45.8400847 C9.26058415,46.5157806 8.23346834,46.9953068 7.48586273,46.2501845 C6.01169897,44.7817367 5.94013762,42.2291077 6.35687723,40.3658984 C6.86285806,38.1071205 8.11644449,36.1316989 9.65290872,34.3790874 C12.7553036,30.8415731 16.7492687,27.9902494 19.021552,23.8246689 C21.2231158,19.7882537 21.3140408,14.486826 17.4076331,11.3335785 C15.4737929,9.77310034 13.1973002,9.47602018 10.76674,9.9418225 C9.17386864,10.2469755 5.24978109,11.5773779 4.56952734,9.18782014 C4.14521064,7.69757565 1.72727898,8.33048555 2.15327948,9.82638102 C2.74850151,11.9172441 4.90544472,12.9053585 7.0295539,12.9788213 C9.5190469,13.0652006 12.12388,11.4134995 14.5611753,12.4113013 C16.4958574,13.2040533 17.7022975,15.2303337 18.0306378,17.1492455 C18.4381165,19.5299232 17.3958465,21.9267465 16.0799596,23.8908661 C13.1552053,28.2558455 8.39006141,31.1620645 5.62863528,35.6578237 C4.37168126,37.7050935 3.57608745,40.1196771 3.64091361,42.5116567 C3.69816269,44.6186655 4.49880789,47.4385051 6.53283396,48.5929199 C8.65189175,49.7957716 11.2365192,48.4484162 12.3789751,46.6142692 C13.7142257,44.47174 13.6493995,41.8408045 15.0275869,39.6845515 C17.5734871,35.7006097 21.9976622,33.1859231 24.8281239,29.3900782 C30.2516322,22.1188799 31.2223408,10.9468899 23.9112968,4.47651632 C20.435941,1.39996065 15.5470381,-0.403509661 10.7995741,0.149479221 C5.56801861,0.758170633 0.827289798,4.3723768 0.156296925,9.55836305 C-0.0415491537,11.0889717 2.46646561,11.0752479 2.66262789,9.55836305' id='Fill-1' fill='%2317FF7F'%3E%3C/path%3E%3Cg id='Group-5' transform='translate(3.523770, 56.733494)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-4'%3E%3C/g%3E%3Cpath d='M3.00616,0.985757143 C1.17736,2.25311429 0.45496,4.38161429 0.76136,6.51404286 C1.05256,8.53254286 2.51096,10.3726857 4.57576,10.8574714 C6.66056,11.3477571 9.02776,10.5416143 10.41016,8.93718571 C11.91256,7.19368571 12.16776,4.74854286 10.83496,2.82118571 C9.41736,0.772828571 6.60936,-0.515742857 4.14456,0.418471429 C3.54456,0.645542857 3.13016,1.20418571 3.31256,1.85632857 C3.47016,2.41968571 4.17416,2.90211429 4.77736,2.67347143 C4.96696,2.60197143 5.15896,2.54068571 5.35816,2.49747143 C5.40856,2.48725714 5.73336,2.44718571 5.43736,2.47547143 C5.53656,2.46682857 5.63576,2.45897143 5.73496,2.45504286 C5.93496,2.44875714 6.13416,2.45975714 6.33256,2.48018571 C6.03496,2.44875714 6.36296,2.49197143 6.41096,2.5014 C6.54216,2.52811429 6.67176,2.56111429 6.79976,2.59961429 C6.89656,2.6279 6.99016,2.66325714 7.08696,2.69468571 C7.39496,2.79525714 6.88616,2.58468571 7.17576,2.73161429 C7.35656,2.82275714 7.53736,2.91154286 7.71096,3.0184 C7.79736,3.07104286 7.88056,3.12997143 7.96536,3.18497143 C8.23816,3.36175714 7.80296,3.03175714 8.04696,3.24704286 C8.21176,3.3924 8.37496,3.53461429 8.52456,3.6949 C8.58216,3.7554 8.63576,3.81904286 8.69176,3.88268571 C8.90456,4.12075714 8.57896,3.69254286 8.75016,3.96047143 C8.85736,4.12861429 8.96856,4.29047143 9.06056,4.46725714 C9.08056,4.5034 9.21096,4.8004 9.10696,4.54425714 C9.14376,4.6354 9.17816,4.72732857 9.20776,4.82082857 C9.23816,4.91354286 9.26456,5.00782857 9.28776,5.1029 C9.30216,5.16418571 9.34856,5.5704 9.32696,5.27654286 C9.34216,5.47768571 9.33576,5.67332857 9.33656,5.87447143 C9.33816,6.18011429 9.39656,5.64268571 9.33256,5.9389 C9.31336,6.03082857 9.29576,6.12197143 9.27256,6.21311429 C9.24936,6.30347143 9.22216,6.39225714 9.19096,6.48025714 C9.17416,6.52975714 9.04696,6.80475714 9.17256,6.54547143 C9.07816,6.74111429 8.97496,6.93047143 8.85336,7.11197143 C8.81896,7.16304286 8.78136,7.21332857 8.74536,7.2644 C8.90616,7.03497143 8.72776,7.28247143 8.69576,7.32018571 C8.57096,7.46082857 8.43736,7.59518571 8.29576,7.7209 C8.22456,7.78454286 8.15176,7.84425714 8.07736,7.90554286 C8.29416,7.72718571 8.04856,7.92282857 8.01096,7.94797143 C7.82536,8.07368571 7.63176,8.18761429 7.43176,8.28818571 C7.34616,8.3314 7.25816,8.37068571 7.17096,8.40997143 C7.43496,8.29211429 7.14296,8.41704286 7.09736,8.43354286 C6.91736,8.4964 6.73256,8.54904286 6.54616,8.59225714 C6.45336,8.61268571 6.35816,8.6284 6.26456,8.64647143 C5.95656,8.70697143 6.51816,8.64097143 6.20456,8.65197143 C5.98296,8.65982857 5.76536,8.6724 5.54376,8.65825714 C5.53016,8.65668571 5.22696,8.6174 5.42136,8.64882857 C5.61576,8.68104286 5.31096,8.62525714 5.30056,8.6229 C5.11416,8.58361429 4.93656,8.52625714 4.75656,8.46654286 C5.02616,8.55532857 4.74056,8.45868571 4.69016,8.43354286 C4.60456,8.39111429 4.52136,8.34554286 4.43976,8.29761429 C4.35976,8.25047143 4.28536,8.19861429 4.20856,8.14754286 C4.10216,8.07132857 4.11016,8.07682857 4.23256,8.1664 C4.18616,8.12868571 4.14056,8.0894 4.09576,8.04854286 C3.96216,7.92832857 3.84376,7.79632857 3.72376,7.66197143 C3.91736,7.87882857 3.72616,7.66118571 3.69416,7.61482857 C3.64296,7.54097143 3.59416,7.46554286 3.54936,7.38932857 C3.45576,7.23532857 3.37496,7.07582857 3.30136,6.91318571 C3.42456,7.1874 3.30616,6.90768571 3.28936,6.85818571 C3.24936,6.74425714 3.21336,6.62954286 3.18216,6.51325714 C3.13496,6.33804286 3.10056,6.16125714 3.07096,5.98211429 C3.12296,6.29168571 3.07656,5.99075714 3.07176,5.93261429 C3.06216,5.8124 3.05656,5.69061429 3.05576,5.5704 C3.05576,5.35747143 3.06936,5.14768571 3.09256,4.93711429 C3.05816,5.24982857 3.09576,4.9489 3.10776,4.89154286 C3.13096,4.77368571 3.15896,4.65661429 3.19096,4.54111429 C3.21656,4.45468571 3.24296,4.36904286 3.27256,4.28418571 C3.29336,4.22132857 3.45976,3.87482857 3.31976,4.14904286 C3.41496,3.96282857 3.50856,3.77975714 3.62456,3.60532857 C3.65496,3.56132857 3.83816,3.3264 3.65096,3.55504286 C3.72616,3.46232857 3.80536,3.37275714 3.88936,3.2879 C3.95336,3.22347143 4.01896,3.1614 4.08696,3.1009 C4.13176,3.06161429 4.17896,3.02311429 4.22616,2.98461429 C4.10696,3.07497143 4.10056,3.08125714 4.20856,3.00504286 C4.73256,2.64125714 4.97976,1.98361429 4.63576,1.40454286 C4.33176,0.8954 3.53416,0.619614286 3.00616,0.985757143' id='Fill-3' fill='%2317FF7F' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}
  .body{
    font-weight: 500;
    font-size: 29px;
    color: #00FF7B;
    letter-spacing: -1.05px;
    text-align: left;
    line-height: 47px;
    a{
      text-decoration: underline;
    }
  }
}
