.home.full {
  margin: 0 auto;
  @include breakpoint(mediumplus){
    max-width: 710px;
  }
  @include breakpoint(large){
      max-width: 880px;
    }
  @include breakpoint(xlarge){
    max-width: 1060px;
  }
  @include breakpoint(xxlarge){
    max-width: 1290px;
  }
  header{
    background-color: $primary-color;
    padding-top: 25px;

      @include flex-grid-row();
      justify-content: flex-end;
  position: relative;
    @include breakpoint(mediumplus){
      padding-bottom: 25px;
    }
    div.whiteback{
      @include breakpoint(mediumplus) {
        content: '';
        @include flex-grid-column(2 of 12);
        display: block;
        background-color: white;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
      }
      @include breakpoint(xlarge){
        @include flex-grid-column(1 of 12);

      }
    }
    div.whitebottom{
      @include breakpoint(xxlarge) {
        content: '';
        display: block;
        background-color: white;
        height: 140px;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        &::before{
          content: "";
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='520px' height='109px' viewBox='0 0 520 109' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Cdefs%3E%3Crect id='path-1' x='0' y='0.257142857' width='536' height='122'%3E%3C/rect%3E%3C/defs%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home-1440' transform='translate(-185.000000, -562.000000)'%3E%3Cg id='Group-246-Copy' transform='translate(179.000000, 551.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Mask'%3E%3C/g%3E%3Cg id='Group-246' mask='url(%23mask-2)' fill='%2317FF7F'%3E%3Cg transform='translate(-63.000000, 11.257143)'%3E%3Cpolygon id='Fill-5' points='69.2624496 5.3553719 74.6088944 5.3553719 74.6088944 0 69.2624496 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-6' points='86.192858 5.3553719 91.5393028 5.3553719 91.5393028 0 86.192858 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-7' points='103.123267 5.3553719 108.469711 5.3553719 108.469711 0 103.123267 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-8' points='120.944749 5.3553719 126.291194 5.3553719 126.291194 0 120.944749 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-9' points='137.875158 5.3553719 143.221602 5.3553719 143.221602 0 137.875158 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-10' points='154.805566 5.3553719 160.152011 5.3553719 160.152011 0 154.805566 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-11' points='171.735975 5.3553719 177.082419 5.3553719 177.082419 0 171.735975 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-12' points='188.666383 5.3553719 194.012828 5.3553719 194.012828 0 188.666383 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-13' points='205.596791 5.3553719 210.943236 5.3553719 210.943236 0 205.596791 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-14' points='223.418274 5.3553719 228.764719 5.3553719 228.764719 0 223.418274 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-15' points='240.348683 5.3553719 245.695127 5.3553719 245.695127 0 240.348683 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-16' points='257.279091 5.3553719 262.625536 5.3553719 262.625536 0 257.279091 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-17' points='275.100574 5.3553719 280.447018 5.3553719 280.447018 0 275.100574 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-18' points='292.030982 5.3553719 297.377427 5.3553719 297.377427 0 292.030982 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-19' points='308.961391 5.3553719 314.307835 5.3553719 314.307835 0 308.961391 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-20' points='325.891799 5.3553719 331.238244 5.3553719 331.238244 0 325.891799 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-21' points='343.713282 5.3553719 349.059726 5.3553719 349.059726 0 343.713282 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-22' points='360.64369 5.3553719 365.990135 5.3553719 365.990135 0 360.64369 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-23' points='377.574099 5.3553719 382.920543 5.3553719 382.920543 0 377.574099 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-24' points='394.504507 5.3553719 399.850952 5.3553719 399.850952 0 394.504507 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-25' points='411.434916 5.3553719 416.78136 5.3553719 416.78136 0 411.434916 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-26' points='428.365324 5.3553719 433.711769 5.3553719 433.711769 0 428.365324 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-27' points='446.186807 5.3553719 451.533251 5.3553719 451.533251 0 446.186807 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-28' points='463.117215 5.3553719 468.46366 5.3553719 468.46366 0 463.117215 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-29' points='480.047624 5.3553719 485.394068 5.3553719 485.394068 0 480.047624 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-30' points='496.978032 5.3553719 502.324477 5.3553719 502.324477 0 496.978032 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-31' points='513.90844 5.3553719 519.254885 5.3553719 519.254885 0 513.90844 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-32' points='530.838849 5.3553719 536.185294 5.3553719 536.185294 0 530.838849 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-33' points='548.660332 5.3553719 554.006776 5.3553719 554.006776 0 548.660332 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-34' points='565.59074 5.3553719 570.937185 5.3553719 570.937185 0 565.59074 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-35' points='583.412223 5.3553719 588.758667 5.3553719 588.758667 0 583.412223 0'%3E%3C/polygon%3E%3Cpolygon id='Fill-40' points='69.2624496 22.3140496 74.6088944 22.3140496 74.6088944 16.9586777 69.2624496 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-41' points='86.192858 22.3140496 91.5393028 22.3140496 91.5393028 16.9586777 86.192858 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-42' points='103.123267 22.3140496 108.469711 22.3140496 108.469711 16.9586777 103.123267 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-43' points='120.944749 22.3140496 126.291194 22.3140496 126.291194 16.9586777 120.944749 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-44' points='137.875158 22.3140496 143.221602 22.3140496 143.221602 16.9586777 137.875158 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-45' points='154.805566 22.3140496 160.152011 22.3140496 160.152011 16.9586777 154.805566 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-46' points='171.735975 22.3140496 177.082419 22.3140496 177.082419 16.9586777 171.735975 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-47' points='188.666383 22.3140496 194.012828 22.3140496 194.012828 16.9586777 188.666383 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-48' points='205.596791 22.3140496 210.943236 22.3140496 210.943236 16.9586777 205.596791 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-49' points='223.418274 22.3140496 228.764719 22.3140496 228.764719 16.9586777 223.418274 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-50' points='240.348683 22.3140496 245.695127 22.3140496 245.695127 16.9586777 240.348683 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-51' points='257.279091 22.3140496 262.625536 22.3140496 262.625536 16.9586777 257.279091 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-52' points='275.100574 22.3140496 280.447018 22.3140496 280.447018 16.9586777 275.100574 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-53' points='292.030982 22.3140496 297.377427 22.3140496 297.377427 16.9586777 292.030982 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-54' points='308.961391 22.3140496 314.307835 22.3140496 314.307835 16.9586777 308.961391 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-55' points='325.891799 22.3140496 331.238244 22.3140496 331.238244 16.9586777 325.891799 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-56' points='343.713282 22.3140496 349.059726 22.3140496 349.059726 16.9586777 343.713282 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-57' points='360.64369 22.3140496 365.990135 22.3140496 365.990135 16.9586777 360.64369 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-58' points='377.574099 22.3140496 382.920543 22.3140496 382.920543 16.9586777 377.574099 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-59' points='394.504507 22.3140496 399.850952 22.3140496 399.850952 16.9586777 394.504507 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-60' points='411.434916 22.3140496 416.78136 22.3140496 416.78136 16.9586777 411.434916 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-61' points='428.365324 22.3140496 433.711769 22.3140496 433.711769 16.9586777 428.365324 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-62' points='446.186807 22.3140496 451.533251 22.3140496 451.533251 16.9586777 446.186807 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-63' points='463.117215 22.3140496 468.46366 22.3140496 468.46366 16.9586777 463.117215 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-64' points='480.047624 22.3140496 485.394068 22.3140496 485.394068 16.9586777 480.047624 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-65' points='496.978032 22.3140496 502.324477 22.3140496 502.324477 16.9586777 496.978032 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-66' points='513.90844 22.3140496 519.254885 22.3140496 519.254885 16.9586777 513.90844 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-67' points='530.838849 22.3140496 536.185294 22.3140496 536.185294 16.9586777 530.838849 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-68' points='548.660332 22.3140496 554.006776 22.3140496 554.006776 16.9586777 548.660332 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-69' points='565.59074 22.3140496 570.937185 22.3140496 570.937185 16.9586777 565.59074 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-70' points='583.412223 22.3140496 588.758667 22.3140496 588.758667 16.9586777 583.412223 16.9586777'%3E%3C/polygon%3E%3Cpolygon id='Fill-75' points='69.2624496 39.2727273 74.6088944 39.2727273 74.6088944 33.9173554 69.2624496 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-76' points='86.192858 39.2727273 91.5393028 39.2727273 91.5393028 33.9173554 86.192858 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-77' points='103.123267 39.2727273 108.469711 39.2727273 108.469711 33.9173554 103.123267 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-78' points='120.944749 39.2727273 126.291194 39.2727273 126.291194 33.9173554 120.944749 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-79' points='137.875158 39.2727273 143.221602 39.2727273 143.221602 33.9173554 137.875158 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-80' points='154.805566 39.2727273 160.152011 39.2727273 160.152011 33.9173554 154.805566 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-81' points='171.735975 39.2727273 177.082419 39.2727273 177.082419 33.9173554 171.735975 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-82' points='188.666383 39.2727273 194.012828 39.2727273 194.012828 33.9173554 188.666383 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-83' points='205.596791 39.2727273 210.943236 39.2727273 210.943236 33.9173554 205.596791 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-84' points='223.418274 39.2727273 228.764719 39.2727273 228.764719 33.9173554 223.418274 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-85' points='240.348683 39.2727273 245.695127 39.2727273 245.695127 33.9173554 240.348683 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-86' points='257.279091 39.2727273 262.625536 39.2727273 262.625536 33.9173554 257.279091 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-87' points='275.100574 39.2727273 280.447018 39.2727273 280.447018 33.9173554 275.100574 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-88' points='292.030982 39.2727273 297.377427 39.2727273 297.377427 33.9173554 292.030982 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-89' points='308.961391 39.2727273 314.307835 39.2727273 314.307835 33.9173554 308.961391 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-90' points='325.891799 39.2727273 331.238244 39.2727273 331.238244 33.9173554 325.891799 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-91' points='343.713282 39.2727273 349.059726 39.2727273 349.059726 33.9173554 343.713282 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-92' points='360.64369 39.2727273 365.990135 39.2727273 365.990135 33.9173554 360.64369 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-93' points='377.574099 39.2727273 382.920543 39.2727273 382.920543 33.9173554 377.574099 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-94' points='394.504507 39.2727273 399.850952 39.2727273 399.850952 33.9173554 394.504507 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-95' points='411.434916 39.2727273 416.78136 39.2727273 416.78136 33.9173554 411.434916 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-96' points='428.365324 39.2727273 433.711769 39.2727273 433.711769 33.9173554 428.365324 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-97' points='446.186807 39.2727273 451.533251 39.2727273 451.533251 33.9173554 446.186807 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-98' points='463.117215 39.2727273 468.46366 39.2727273 468.46366 33.9173554 463.117215 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-99' points='480.047624 39.2727273 485.394068 39.2727273 485.394068 33.9173554 480.047624 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-100' points='496.978032 39.2727273 502.324477 39.2727273 502.324477 33.9173554 496.978032 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-101' points='513.90844 39.2727273 519.254885 39.2727273 519.254885 33.9173554 513.90844 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-102' points='530.838849 39.2727273 536.185294 39.2727273 536.185294 33.9173554 530.838849 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-103' points='548.660332 39.2727273 554.006776 39.2727273 554.006776 33.9173554 548.660332 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-104' points='565.59074 39.2727273 570.937185 39.2727273 570.937185 33.9173554 565.59074 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-105' points='583.412223 39.2727273 588.758667 39.2727273 588.758667 33.9173554 583.412223 33.9173554'%3E%3C/polygon%3E%3Cpolygon id='Fill-110' points='69.2624496 56.231405 74.6088944 56.231405 74.6088944 50.8760331 69.2624496 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-111' points='86.192858 56.231405 91.5393028 56.231405 91.5393028 50.8760331 86.192858 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-112' points='103.123267 56.231405 108.469711 56.231405 108.469711 50.8760331 103.123267 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-113' points='120.944749 56.231405 126.291194 56.231405 126.291194 50.8760331 120.944749 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-114' points='137.875158 56.231405 143.221602 56.231405 143.221602 50.8760331 137.875158 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-115' points='154.805566 56.231405 160.152011 56.231405 160.152011 50.8760331 154.805566 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-116' points='171.735975 56.231405 177.082419 56.231405 177.082419 50.8760331 171.735975 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-117' points='188.666383 56.231405 194.012828 56.231405 194.012828 50.8760331 188.666383 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-118' points='205.596791 56.231405 210.943236 56.231405 210.943236 50.8760331 205.596791 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-119' points='223.418274 56.231405 228.764719 56.231405 228.764719 50.8760331 223.418274 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-120' points='240.348683 56.231405 245.695127 56.231405 245.695127 50.8760331 240.348683 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-121' points='257.279091 56.231405 262.625536 56.231405 262.625536 50.8760331 257.279091 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-122' points='275.100574 56.231405 280.447018 56.231405 280.447018 50.8760331 275.100574 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-123' points='292.030982 56.231405 297.377427 56.231405 297.377427 50.8760331 292.030982 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-124' points='308.961391 56.231405 314.307835 56.231405 314.307835 50.8760331 308.961391 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-125' points='325.891799 56.231405 331.238244 56.231405 331.238244 50.8760331 325.891799 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-126' points='343.713282 56.231405 349.059726 56.231405 349.059726 50.8760331 343.713282 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-127' points='360.64369 56.231405 365.990135 56.231405 365.990135 50.8760331 360.64369 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-128' points='377.574099 56.231405 382.920543 56.231405 382.920543 50.8760331 377.574099 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-129' points='394.504507 56.231405 399.850952 56.231405 399.850952 50.8760331 394.504507 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-130' points='411.434916 56.231405 416.78136 56.231405 416.78136 50.8760331 411.434916 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-131' points='428.365324 56.231405 433.711769 56.231405 433.711769 50.8760331 428.365324 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-132' points='446.186807 56.231405 451.533251 56.231405 451.533251 50.8760331 446.186807 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-133' points='463.117215 56.231405 468.46366 56.231405 468.46366 50.8760331 463.117215 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-134' points='480.047624 56.231405 485.394068 56.231405 485.394068 50.8760331 480.047624 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-135' points='496.978032 56.231405 502.324477 56.231405 502.324477 50.8760331 496.978032 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-136' points='513.90844 56.231405 519.254885 56.231405 519.254885 50.8760331 513.90844 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-137' points='530.838849 56.231405 536.185294 56.231405 536.185294 50.8760331 530.838849 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-138' points='548.660332 56.231405 554.006776 56.231405 554.006776 50.8760331 548.660332 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-139' points='565.59074 56.231405 570.937185 56.231405 570.937185 50.8760331 565.59074 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-140' points='583.412223 56.231405 588.758667 56.231405 588.758667 50.8760331 583.412223 50.8760331'%3E%3C/polygon%3E%3Cpolygon id='Fill-145' points='69.2624496 74.0826446 74.6088944 74.0826446 74.6088944 68.7272727 69.2624496 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-146' points='86.192858 74.0826446 91.5393028 74.0826446 91.5393028 68.7272727 86.192858 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-147' points='103.123267 74.0826446 108.469711 74.0826446 108.469711 68.7272727 103.123267 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-148' points='120.944749 74.0826446 126.291194 74.0826446 126.291194 68.7272727 120.944749 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-149' points='137.875158 74.0826446 143.221602 74.0826446 143.221602 68.7272727 137.875158 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-150' points='154.805566 74.0826446 160.152011 74.0826446 160.152011 68.7272727 154.805566 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-151' points='171.735975 74.0826446 177.082419 74.0826446 177.082419 68.7272727 171.735975 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-152' points='188.666383 74.0826446 194.012828 74.0826446 194.012828 68.7272727 188.666383 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-153' points='205.596791 74.0826446 210.943236 74.0826446 210.943236 68.7272727 205.596791 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-154' points='223.418274 74.0826446 228.764719 74.0826446 228.764719 68.7272727 223.418274 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-155' points='240.348683 74.0826446 245.695127 74.0826446 245.695127 68.7272727 240.348683 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-156' points='257.279091 74.0826446 262.625536 74.0826446 262.625536 68.7272727 257.279091 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-157' points='275.100574 74.0826446 280.447018 74.0826446 280.447018 68.7272727 275.100574 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-158' points='292.030982 74.0826446 297.377427 74.0826446 297.377427 68.7272727 292.030982 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-159' points='308.961391 74.0826446 314.307835 74.0826446 314.307835 68.7272727 308.961391 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-160' points='325.891799 74.0826446 331.238244 74.0826446 331.238244 68.7272727 325.891799 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-161' points='343.713282 74.0826446 349.059726 74.0826446 349.059726 68.7272727 343.713282 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-162' points='360.64369 74.0826446 365.990135 74.0826446 365.990135 68.7272727 360.64369 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-163' points='377.574099 74.0826446 382.920543 74.0826446 382.920543 68.7272727 377.574099 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-164' points='394.504507 74.0826446 399.850952 74.0826446 399.850952 68.7272727 394.504507 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-165' points='411.434916 74.0826446 416.78136 74.0826446 416.78136 68.7272727 411.434916 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-166' points='428.365324 74.0826446 433.711769 74.0826446 433.711769 68.7272727 428.365324 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-167' points='446.186807 74.0826446 451.533251 74.0826446 451.533251 68.7272727 446.186807 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-168' points='463.117215 74.0826446 468.46366 74.0826446 468.46366 68.7272727 463.117215 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-169' points='480.047624 74.0826446 485.394068 74.0826446 485.394068 68.7272727 480.047624 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-170' points='496.978032 74.0826446 502.324477 74.0826446 502.324477 68.7272727 496.978032 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-171' points='513.90844 74.0826446 519.254885 74.0826446 519.254885 68.7272727 513.90844 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-172' points='530.838849 74.0826446 536.185294 74.0826446 536.185294 68.7272727 530.838849 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-173' points='548.660332 74.0826446 554.006776 74.0826446 554.006776 68.7272727 548.660332 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-174' points='565.59074 74.0826446 570.937185 74.0826446 570.937185 68.7272727 565.59074 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-175' points='583.412223 74.0826446 588.758667 74.0826446 588.758667 68.7272727 583.412223 68.7272727'%3E%3C/polygon%3E%3Cpolygon id='Fill-180' points='69.2624496 91.0413223 74.6088944 91.0413223 74.6088944 85.6859504 69.2624496 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-181' points='86.192858 91.0413223 91.5393028 91.0413223 91.5393028 85.6859504 86.192858 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-182' points='103.123267 91.0413223 108.469711 91.0413223 108.469711 85.6859504 103.123267 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-183' points='120.944749 91.0413223 126.291194 91.0413223 126.291194 85.6859504 120.944749 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-184' points='137.875158 91.0413223 143.221602 91.0413223 143.221602 85.6859504 137.875158 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-185' points='154.805566 91.0413223 160.152011 91.0413223 160.152011 85.6859504 154.805566 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-186' points='171.735975 91.0413223 177.082419 91.0413223 177.082419 85.6859504 171.735975 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-187' points='188.666383 91.0413223 194.012828 91.0413223 194.012828 85.6859504 188.666383 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-188' points='205.596791 91.0413223 210.943236 91.0413223 210.943236 85.6859504 205.596791 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-189' points='223.418274 91.0413223 228.764719 91.0413223 228.764719 85.6859504 223.418274 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-190' points='240.348683 91.0413223 245.695127 91.0413223 245.695127 85.6859504 240.348683 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-191' points='257.279091 91.0413223 262.625536 91.0413223 262.625536 85.6859504 257.279091 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-192' points='275.100574 91.0413223 280.447018 91.0413223 280.447018 85.6859504 275.100574 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-193' points='292.030982 91.0413223 297.377427 91.0413223 297.377427 85.6859504 292.030982 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-194' points='308.961391 91.0413223 314.307835 91.0413223 314.307835 85.6859504 308.961391 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-195' points='325.891799 91.0413223 331.238244 91.0413223 331.238244 85.6859504 325.891799 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-196' points='343.713282 91.0413223 349.059726 91.0413223 349.059726 85.6859504 343.713282 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-197' points='360.64369 91.0413223 365.990135 91.0413223 365.990135 85.6859504 360.64369 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-198' points='377.574099 91.0413223 382.920543 91.0413223 382.920543 85.6859504 377.574099 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-199' points='394.504507 91.0413223 399.850952 91.0413223 399.850952 85.6859504 394.504507 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-200' points='411.434916 91.0413223 416.78136 91.0413223 416.78136 85.6859504 411.434916 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-201' points='428.365324 91.0413223 433.711769 91.0413223 433.711769 85.6859504 428.365324 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-202' points='446.186807 91.0413223 451.533251 91.0413223 451.533251 85.6859504 446.186807 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-203' points='463.117215 91.0413223 468.46366 91.0413223 468.46366 85.6859504 463.117215 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-204' points='480.047624 91.0413223 485.394068 91.0413223 485.394068 85.6859504 480.047624 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-205' points='496.978032 91.0413223 502.324477 91.0413223 502.324477 85.6859504 496.978032 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-206' points='513.90844 91.0413223 519.254885 91.0413223 519.254885 85.6859504 513.90844 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-207' points='530.838849 91.0413223 536.185294 91.0413223 536.185294 85.6859504 530.838849 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-208' points='548.660332 91.0413223 554.006776 91.0413223 554.006776 85.6859504 548.660332 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-209' points='565.59074 91.0413223 570.937185 91.0413223 570.937185 85.6859504 565.59074 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-210' points='583.412223 91.0413223 588.758667 91.0413223 588.758667 85.6859504 583.412223 85.6859504'%3E%3C/polygon%3E%3Cpolygon id='Fill-215' points='69.2624496 108 74.6088944 108 74.6088944 102.644628 69.2624496 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-216' points='86.192858 108 91.5393028 108 91.5393028 102.644628 86.192858 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-217' points='103.123267 108 108.469711 108 108.469711 102.644628 103.123267 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-218' points='120.944749 108 126.291194 108 126.291194 102.644628 120.944749 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-219' points='137.875158 108 143.221602 108 143.221602 102.644628 137.875158 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-220' points='154.805566 108 160.152011 108 160.152011 102.644628 154.805566 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-221' points='171.735975 108 177.082419 108 177.082419 102.644628 171.735975 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-222' points='188.666383 108 194.012828 108 194.012828 102.644628 188.666383 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-223' points='205.596791 108 210.943236 108 210.943236 102.644628 205.596791 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-224' points='223.418274 108 228.764719 108 228.764719 102.644628 223.418274 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-225' points='240.348683 108 245.695127 108 245.695127 102.644628 240.348683 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-226' points='257.279091 108 262.625536 108 262.625536 102.644628 257.279091 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-227' points='275.100574 108 280.447018 108 280.447018 102.644628 275.100574 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-228' points='292.030982 108 297.377427 108 297.377427 102.644628 292.030982 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-229' points='308.961391 108 314.307835 108 314.307835 102.644628 308.961391 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-230' points='325.891799 108 331.238244 108 331.238244 102.644628 325.891799 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-231' points='343.713282 108 349.059726 108 349.059726 102.644628 343.713282 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-232' points='360.64369 108 365.990135 108 365.990135 102.644628 360.64369 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-233' points='377.574099 108 382.920543 108 382.920543 102.644628 377.574099 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-234' points='394.504507 108 399.850952 108 399.850952 102.644628 394.504507 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-235' points='411.434916 108 416.78136 108 416.78136 102.644628 411.434916 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-236' points='428.365324 108 433.711769 108 433.711769 102.644628 428.365324 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-237' points='446.186807 108 451.533251 108 451.533251 102.644628 446.186807 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-238' points='463.117215 108 468.46366 108 468.46366 102.644628 463.117215 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-239' points='480.047624 108 485.394068 108 485.394068 102.644628 480.047624 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-240' points='496.978032 108 502.324477 108 502.324477 102.644628 496.978032 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-241' points='513.90844 108 519.254885 108 519.254885 102.644628 513.90844 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-242' points='530.838849 108 536.185294 108 536.185294 102.644628 530.838849 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-243' points='548.660332 108 554.006776 108 554.006776 102.644628 548.660332 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-244' points='565.59074 108 570.937185 108 570.937185 102.644628 565.59074 102.644628'%3E%3C/polygon%3E%3Cpolygon id='Fill-245' points='583.412223 108 588.758667 108 588.758667 102.644628 583.412223 102.644628'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 100%;
          width: 540px;
          height: 125px;
          display: block;
          margin-left: 80px;
          margin-top: -42px;
        }
      }
    }
    div.left-wrapper{
      @include flex-grid-column(5 of 6);
      @include breakpoint(mediumplus){
        @include flex-grid-column(4 of 12);
      }
      position: relative;
      div.search-room-wrapper{
       margin-top: 50px;
        &>a{
          @include buttondots;
        }
      }
      div.room-wrapper{
        max-width: 360px;
        label{
          margin-bottom: 5px;
          b{
            font-weight: 300;
            font-size: 14px;
            color: #28334A;
            letter-spacing: -0.26px;
            line-height: 23px;
          }

        }
        select{
          font-weight: 500;
          background-color: white;
          border: 0px;
          font-size: 18px;
          color: #17FF7F;
          letter-spacing: -0.34px;
          line-height: 23px;
        }
      }
      padding-top: 25px;
      @include breakpoint(xlarge){
        padding-top: 80px;

      }

    }
    figure{
      display: block;
        z-index: 2;
      @include breakpoint(mediumplus) {
        @include flex-grid-column(7 of 12);
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
        position: relative;
        h1{
          position: absolute;
          margin: auto;
          top: 0;
          left:0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .field-item{
            display:flex;
            flex-direction: row;
            justify-content: center;
          }
          p{
            display: inline-block;
            margin: 0 auto;
            line-height: 48px;
            @include breakpoint(xxlarge){
              line-height: 88px;
            }
          }
        }


    }
    div.item-list--linkicon {
      position: absolute;
      bottom: 0;
      left: 0;
      border-right: solid 1px white;
      padding-right: 12px;
      padding-left: 12px;
      height: calc(100% - 65px);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 210px;
      @include breakpoint(xxlarge) {
        height: calc(100% - 300px);
        bottom: 140px;
        padding-left: 22px;
        padding-right: 22px;
        min-height: 420px;
      }
      ul#linkicon-block-content-social-links-field-links-1 {
        @include flex-grid-row();
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: nowrap;
        li{
          margin-bottom: 20px;
          @include breakpoint(xlarge){
            margin-bottom: 30px;
          }
        }
        a {
          color: white;
          font-size: 18px;
  transition: 0.3s ease;
          @include breakpoint(xlarge) {
            font-size: 30px;
          }
          &:hover{
            color: $secondary-color;
          }
        }
        li:first-of-type {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }

      }
    }
  }
  h1 {
    @include big-title;
    em{
      @include inside-out;
    }
  }
  h2 {
    font-size: rem-calc(40);
    margin-bottom: 15px;
  }
  .body{
    @include breakpoint(xlarge){
      max-width: 355px;
      margin-left: 0;
      margin-right: auto;
    }
    h3{
      font-weight: 500;
      font-size: rem-calc(16);
      color: #FFFFFF;
      letter-spacing: -0.3px;
      text-transform: uppercase;
    }
  }
  .field-name-field-link{
    .field-item{
    a {
      @include button;
      @include buttondots;
      display: inline-block;
      }
    }
  }
}

.user-login-form{
  margin-top: 100px;
}
