.kotkompas{
  .paragraph--type--text-blocks{
    h3{
      font-weight: 300;
      font-size: 36px;
      color: #00FF7B;
      letter-spacing: -1.3px;
      line-height: 47px;
      @include breakpoint(large){
        margin-bottom: 50px;
      }
    }
    p{
      a{
        color: black;
        text-decoration: underline;
        transition: 0.3s ease;
        &:hover{
          color: $primary-color;
        }
      }
    }
    .field-name-field-text-blocks{
      & > .field-items{
        & > .field-item{
          @include breakpoint(medium){
            max-width: 50%;
          }
          @include breakpoint(xxlarge){
            //padding: 0px;
          }
        }
        & > .field-item:nth-of-type(1){
          @include breakpoint(xxlarge){
            padding-left: 0px;
          }
        }
        & > .field-item:nth-of-type(2){
          @include breakpoint(medium){
            padding-top: 54px;
          }
          @include breakpoint(large){
            padding-top: 99px;
          }
        }
      }
    }
  }
  .paragraph--type--image{
    margin-bottom: 130px;
  }
  .paragraph--type--circle-text{
    .left-wrapper{
      padding-left:35px ;
      padding-right:35px ;
      @include breakpoint(mediumplus){
        padding-left:0px ;
        padding-right:0px ;
      }
      @include breakpoint(xxlarge){
        padding-left: 103Px;
      }
      .field-name-field-title{
        justify-content: flex-start;
        .field-item{
          text-align: left;
        }
      }
    }
    .right-wrapper{
      @include breakpoint(mediumplus){
        margin-top: -25px;
      }
      @include breakpoint(large){
        margin-top: -210px;
        margin-left: 17px;
      }
      @include breakpoint(xlarge){
        margin-top: -285px;
        margin-left: 0px;
      }
      @include breakpoint(xxlarge){
        padding-left: 75px;
      }
      .field-name-field-text{
        @include breakpoint(xlarge){
          margin-left: 17px;
        }
        @include breakpoint(xxlarge){
          margin-left: 127px;
        }
        .field-item{
          text-align: left;
          p{
            font-weight: 200;
          }
        }
      }
    }
  }
}

.paragraph--type--kotkompas-overview{
  max-width: 850px;
  margin: 0 auto;
  padding-left:35px ;
  padding-right:35px ;
  @include breakpoint(large){
    padding-left:0px ;
    padding-right:0px ;
  }
  .field-name-field-kotkompassen{
    & > .field-items{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      & > .field-item{
        margin-right: 30px;
        .paragraph--type--kotkompas{
          .field-name-field-image{
            margin-bottom: 30px;
            img{
              object-fit: cover;
              max-width: 230px;
              height: 150px;
            }
          }
          .label-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
          }
          .field-name-field-label{
            margin-bottom: 20px;
            margin-right: 8px;
            .field-item{
              font-size: 16px;
              color: #28334A;
              letter-spacing: -0.3px;
              font-weight: 400;
              line-height: 23px;
            }
          }
          span.file{
            display: block;
          }
          .button{
            //@include button();
            @include buttondots();
            @include button-inverse();
          }
        }
      }
    }
  }

}
.kotkompas-reveal{
  min-height: 220px;
  & > div{
    position: relative;
    z-index: 1;
  }
  form.webform-submission-form{
    justify-content: flex-start;
    background-color: white;
    .form-actions{
      justify-content: flex-start;
    }
    .webform-confirmation__message{
      display: none;
    }
  }
  position: relative;
  .hide-after-form{
    position: absolute;
    top: 96px;
    z-index: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hide-after-form a{
    @include button();
    @include buttondots();
    @include button-inverse();
  }
}
