.page.full, .building.full, .article.full,.roomtype.full {
  margin: 0 auto;
  @include breakpoint(mediumplus){
    max-width: 710px;
  }
  @include breakpoint(large){
    max-width: 880px;
  }
  @include breakpoint(xlarge){
    max-width: 1060px;
  }
  @include breakpoint(xxlarge){
    max-width: 1290px;
  }
  header {
    figure {
      position: relative;
      img {
        display: block;
        padding-left: 43px;
        @include breakpoint(mediumplus){
          position: absolute;
          top:0;
          z-index: -1;
          right: 0;
        }
        @include breakpoint(xlarge){
          padding-left: 220px;
        }
        @include breakpoint(xxlarge){
          padding-left: 0;
          margin-left: 220px;
        }
      }
      figcaption {
        background-color: $primary-color;
        position: relative;
        padding-top: 75px;
        padding-bottom: 22px;
        @include breakpoint(mediumplus){
          max-width: 345px;
          margin-left: 0px;
          margin-bottom: 150px;
        }
        @include breakpoint(xlarge){
          max-width: 353px;
          padding-top: 100px;
          padding-bottom: 90px;
        }
        @include breakpoint(xxlarge){
          max-width: 630px;

        }
        h1{
          @include big-title;
          max-width: 212Px;
          margin: 0 auto;
          @include breakpoint(xxlarge){
            max-width: 432px;
          }
          em{
            @include inside-out;
          }
          p{
            display: inline-block;
            margin: 0 auto;
            line-height: 48px;
            @include breakpoint(xxlarge){
              line-height: 88px;
            }
          }
        }
        div.item-list--linkicon {
          position: absolute;
          bottom: 0;
          left: 0;
          border-right: solid 1px white;
          padding-right: 12px;
          padding-left: 12px;
          height: calc(100% - 65px);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          min-height: 210px;
          @include breakpoint(xxlarge) {
            height: calc(100% - 140px);
            padding-left: 22px;
            padding-right: 22px;
            min-height: 420px;
          }
          ul#linkicon-block-content-social-links-field-links-1 {
            @include flex-grid-row();
            flex-direction: column;
            justify-content: flex-end;
            flex-wrap: nowrap;
            li{
              margin-bottom: 20px;
              @include breakpoint(xxlarge){
                margin-bottom: 25px;
              }
            }
            a {
              color: white;
              font-size: 18px;

              @include breakpoint(xxlarge) {
                font-size: 30px;
              }
            }
            li:first-of-type {
              display: flex;
              flex-direction: row;
              justify-content: center;
            }

          }
        }
      }
    }
  }
}
.page.full{
  header{
    @include breakpoint(large){
      margin-bottom: 280px;
    }
    @include breakpoint(xlarge){
      margin-bottom: 200px;
    }
  }
}
.article.full{
  figcaption{
    max-width: 100%!important;
    padding-bottom: 40px!important;
    h1{
      @include breakpoint(mediumplus){
        margin: 0!important;
        max-width: 727px;
        margin-left :120px!important;
      }
    }
    h2{
      font-weight: 500;
      font-size: 30px;
      color: #FFFFFF;
      letter-spacing: -1.63px;
      max-width: 212Px;
      margin: 0 auto;
      @include breakpoint(mediumplus){
        margin: 0;
        max-width: 727px;
        font-size: 45px;
        margin-left :120px;
      }
    }
    div.item-list{
      a{
        margin-bottom: 60px;
        transition: 0.3s ease;
      }
      a:hover{
      transform: rotate(-10deg);
    }
    }
  }
  div.view-mode-full{
    @include grid-row();
    div.field-name-field-paragraphs{
      @include grid-col-gutter();
      max-width: 420px;
      margin: 0 auto;
      margin-top: 50px;
      @include breakpoint(mediumplus){
        max-width: 740px;
        margin: 0;
        margin-left: 90px;
      }
      .field-name-field-text{
        strong{
          font-weight: 600;
          font-size: 16px;
          color: #28334A;
          letter-spacing: -0.3px;
          line-height: 23px;
        }
        h3{
          font-weight: 500;
          font-size: 40px;
          color: #17FF7F;
          letter-spacing: -1.45px;
          line-height: 47px;
        }
        h4{
          font-weight: 500;
          font-size: 30px;
          color: #091838;
          letter-spacing: -1.08px;
          line-height: 55px;
        }
        p{
          font-weight: 200;
          font-size: 16px;
          color: #28334A;
          letter-spacing: -0.3px;
          line-height: 23px;
        }
        ul{
          list-style-type: none;
          margin: 0;
          li{
            padding-left: 30px;
            margin-bottom: 10px;
            font-weight: 200;
            font-size: 16px;
            color: #2F3A55;
            letter-spacing: -0.3px;
            line-height: 21px;
            &::before{
              content: "";
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3EFill 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='320' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-Home---768' transform='translate(-68.000000, -1042.000000)' fill='%2317FF7F'%3E%3Cpolygon id='Fill-1' points='68 1042 68 1058 84 1058 84 1048.47242 82.5500661 1048.47242 82.5500661 1048.49046 74.2678183 1048.49046 74.2678183 1051.51441 80.9760797 1051.51441 80.9760797 1054.97621 71.0237577 1054.97621 71.0237577 1045.02395 83.9920333 1045.02395 84 1043.51222 84 1042'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              background-repeat: no-repeat;
              width: 16px;
              height: 16px;
              background-size: 16px;
              margin-right: 14px;
              margin-left: -30px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
