.block-popup{
  outline: none;
  border: solid 0px $secondary-color;
  background-color: $primary-color;
  width: 100%;
  @include breakpoint(mediumplus){
    width: 600px;

  }
  @include breakpoint(large){
    width: 850px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @include breakpoint(xlarge){
    width: 1070px;

    padding-left: 110px;
    padding-right: 80px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .body{
    position: relative;
    &::before{
      @include breakpoint(large) {
        content: "";
        position: absolute;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='59px' height='63px' viewBox='0 0 59 63' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 10%3C/title%3E%3Cdefs%3E%3Cfilter id='filter-1'%3E%3CfeColorMatrix in='SourceGraphic' type='matrix' values='0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3Cpolygon id='path-2' points='0 0 59 0 59 63 0 63'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg filter='url(%23filter-1)' id='Group-10'%3E%3Cg%3E%3Cg id='Group-3'%3E%3Cmask id='mask-3' fill='white'%3E%3Cuse xlink:href='%23path-2'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M24.0581518,60.3649346 C17.44992,60.0412453 11.022599,57.7306998 6.97774579,52.2741213 C3.32890212,47.3506364 2.03688525,41.1742751 2.24058802,35.1462714 C2.49272362,27.7049663 4.29613415,19.0803496 9.31534192,13.3242165 C11.183567,11.1826141 13.4648955,9.16026575 15.9641718,7.40197969 C16.1450827,7.41191752 16.3409507,7.37855481 16.5439413,7.27633713 C27.5602725,1.72747879 40.6392724,2.51398704 49.3821098,11.8441897 C57.485349,20.4929411 58.3927523,33.5100787 53.7225458,44.078251 C48.3935104,56.136388 36.8202016,60.9903081 24.0581518,60.3649346 M53.9148526,13.5861493 C48.018156,5.03606632 37.546694,0.331923521 27.4769396,1.26253031 C27.561697,0.582498805 27.0239502,-0.192651932 26.1557206,0.0430166068 C19.5994828,1.81904879 13.1885435,5.99932598 8.50053084,10.8759611 C3.31750616,16.2679437 1.2690825,23.6389742 0.328203624,30.8786833 C-1.37193103,43.963966 3.41437181,58.2375292 17.4285526,61.8343138 C30.5324811,65.1982692 45.8628952,61.3196761 53.4326611,49.7009332 C60.3136836,39.1377298 61.203993,24.1550315 53.9148526,13.5861493' id='Fill-1' fill='%23000000' mask='url(%23mask-3)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M18.3439887,25.8205393 C21.207325,25.0444063 22.9850393,21.4675421 21.4136546,18.5891976 C20.6846688,17.2535097 18.9663937,18.4221442 19.5307258,19.7792681 C20.4469114,21.9849641 18.7095065,23.8787285 16.6544086,23.7079793 C14.8787438,23.5601444 13.6284682,22.0514898 12.8625889,20.4474816 C12.2634131,19.1945813 10.5369395,20.2981684 11.1176687,21.551808 C12.4533457,24.4338484 15.242212,26.6609804 18.3439887,25.8205393' id='Fill-4' fill='%23000000'%3E%3C/path%3E%3Cpath d='M35.6301011,22.6737642 C37.9581278,21.5874436 38.7690135,18.1036547 37.1633983,16.3181011 C36.5094582,15.5899913 35.2477385,16.232158 35.2215809,17.0365853 C35.1738818,18.5106811 35.9109107,20.9033366 33.253606,20.655133 C31.5672099,20.4983728 29.7869543,19.6341291 28.2767374,19.0125887 C27.4889319,18.6880676 26.5141765,19.5777505 27.2758244,20.1724766 C29.1091646,21.6060073 33.1266647,23.8419026 35.6301011,22.6737642' id='Fill-6' fill='%23000000'%3E%3C/path%3E%3Cpath d='M42.4993833,33.619108 C42.3241,33.5807406 42.1272654,33.5879797 41.9103164,33.6712298 C41.1948156,33.9441451 40.4785964,34.2141648 39.7609405,34.4820128 C39.46066,33.7957429 39.143857,33.0942707 38.6826607,32.5346856 C40.120846,32.1017854 41.5540027,31.6486155 42.9799757,31.1744522 C42.9217874,31.970757 42.7184874,32.8524836 42.4993833,33.619108 M40.7566072,36.5335836 C41.0252792,36.4394748 41.2917961,36.3453661 41.5561578,36.2527052 C41.4132014,36.5864293 41.2594693,36.9158099 41.0999902,37.2444666 C40.9907973,37.0055752 40.8758574,36.7688555 40.7566072,36.5335836 M32.7345215,34.1852083 C34.2962672,33.7877798 35.8508292,33.3635665 37.397489,32.9132924 C37.4887226,33.6654384 37.8098359,34.3813889 38.1331043,35.0821371 C36.7509522,35.5838091 35.3623347,36.0659355 33.9636599,36.5154857 C33.5678357,35.7300396 33.1576439,34.9532805 32.7345215,34.1852083 M28.6045876,38.0349801 C27.5694103,38.2825585 26.5450085,38.4635369 25.5241987,38.612663 C25.079525,37.7895734 24.6348513,36.973723 24.2067002,36.1687312 C24.1995165,36.1549768 24.1873041,36.1477377 24.1786836,36.1354312 C25.8216056,35.7988114 27.4415397,35.4332351 29.0147794,35.0806893 C29.7353088,34.9192566 30.4536831,34.7498608 31.171339,34.5768455 C31.5032279,35.409346 31.8523578,36.2353312 32.2180104,37.056973 C31.0226355,37.4131384 29.8193586,37.743243 28.6045876,38.0349801 M18.82464,39.1802112 C18.544474,38.5062478 18.2801123,37.8279408 18.0236526,37.1561492 C19.8432947,36.9476621 21.6672471,36.6349315 23.4660563,36.27949 C23.4531256,36.3402987 23.4509704,36.4054509 23.4811422,36.4771183 C23.7950717,37.2285405 24.0931971,37.9951649 24.3862938,38.7646849 C22.5314513,38.9847546 20.6852294,39.0940655 18.82464,39.1802112 M46.492826,27.3109261 C45.9289022,27.5266523 45.3592314,27.7221089 44.7938708,27.9313199 C44.6379836,27.7199372 44.4605451,27.5230327 44.2486247,27.3507413 C43.6703334,26.8794737 43.0532499,26.8867128 42.4699299,27.3507413 C42.4095865,27.3985196 42.3492431,27.4470218 42.2888996,27.4948001 C41.809744,27.8748547 41.8140542,28.4539854 42.0662036,28.9209096 C37.7990603,30.3991409 33.4730103,31.6833634 29.0779963,32.7518597 C23.2124702,34.1765213 17.0437901,34.6999108 11.2745261,36.42934 C10.7558599,36.5842575 10.8837305,37.3096188 11.3980865,37.3479862 C13.043882,37.4724993 14.7248779,37.4406471 16.4173677,37.308171 C16.621386,37.9698279 16.8505474,38.6170065 17.0926395,39.2583938 C16.0409396,39.3047243 14.984211,39.3553983 13.9138333,39.4270657 C13.4325225,39.4596418 13.3592483,40.0879987 13.8024853,40.2552227 C15.1135184,40.7496556 16.4762744,41.063834 17.872794,41.2382972 C18.2980716,42.2915912 18.7233492,43.3470571 19.0940303,44.4358229 C19.6651379,46.1145782 22.104737,44.8137057 21.1737239,43.5526485 C20.6780457,42.8808568 20.2470211,42.151152 19.8526336,41.3953864 C21.6176792,41.4540234 23.4229538,41.3143081 25.2382857,41.0370492 C26.1168575,43.4071419 27.00836,45.782302 28.1433913,47.9916858 C28.5241297,48.7329732 29.7108841,48.2204425 29.4774124,47.4248616 C28.8107611,45.1633559 27.785641,42.9496286 26.6735975,40.7909186 C28.8502717,40.378288 31.0283825,39.7911942 33.1547704,39.131709 C33.6497303,40.2074444 34.1468453,41.281732 34.6195356,42.3610869 C35.1360468,43.5388941 36.9758033,42.5145566 36.3666219,41.331682 C35.8924949,40.4130358 35.4341721,39.4806353 34.9758493,38.5475108 C36.3500993,38.0928932 37.694896,37.6201777 38.9965902,37.1590448 C39.2846583,37.8909213 39.6057716,38.612663 40.0389513,39.2287134 C39.7494465,39.717355 39.4498844,40.1973096 39.1388283,40.662062 C36.8249447,44.1187488 33.626024,47.1606332 29.5255435,48.2537425 C20.8109449,50.5767808 15.5007221,43.0328786 9.81119768,37.9835822 C9.40603458,37.6245212 8.80475529,38.0711758 9.06193329,38.5663326 C13.4152815,46.9376678 23.1650575,54.0153698 32.6511901,49.6899868 C37.1525234,47.6376922 40.4656657,43.7010508 42.7687737,39.3858026 C43.769469,37.5108668 45.7018959,33.3968666 45.5395433,30.2985169 C46.078324,30.1095755 46.6171048,29.921358 47.1537304,29.7273492 C48.6551326,29.1836902 47.9863262,26.7412062 46.492826,27.3109261' id='Fill-8' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 59px;
        height: 63px;
        top: 0;
        bottom: 0;
        left: -60px;
        margin: auto;
      }
      @include breakpoint(xxlarge){
        left: -80px;
      }
    }
    &::after{
      @include breakpoint(large) {
        content: "";
        position: absolute;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='90px' height='85px' viewBox='0 0 90 85' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 14%3C/title%3E%3Cdefs%3E%3Cfilter id='filter-1'%3E%3CfeColorMatrix in='SourceGraphic' type='matrix' values='0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3Cpolygon id='path-2' points='0 0 89.6257451 0 89.6257451 83.6174876 0 83.6174876'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg filter='url(%23filter-1)' id='Group-14'%3E%3Cg transform='translate(0.000000, 0.382512)'%3E%3Cg id='Group-3'%3E%3Cmask id='mask-3' fill='white'%3E%3Cuse xlink:href='%23path-2'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M86.6580698,53.7755504 C85.9834186,57.9894347 84.7555116,62.1540298 83.2541163,66.1443769 C81.6724884,70.3506248 79.813186,75.1080793 76.5766744,78.3597818 C74.5715581,80.3743934 71.6845814,82.2015669 68.8052791,80.6000132 C66.4666744,79.2990545 65.5701628,76.4527736 65.3092326,73.9751207 C64.8466744,69.5765752 65.6524884,65.2606413 64.684814,60.8794512 C61.6066744,46.9326744 45.8783023,36.2500959 32.2645814,44.282162 C28.9952791,46.2113851 26.5617907,49.1472198 24.133186,51.9914182 C20.9622558,55.7047736 17.5994651,59.2320793 13.9638837,62.4997488 C12.0396977,64.2297322 10.0387674,66.4713521 7.45876744,66.9968727 C2.80388372,67.9458645 2.11806977,62.2276165 2.81644186,58.9155174 C3.79248837,54.2864926 5.73690698,49.5693025 7.4734186,45.1825587 C11.2680698,35.5954512 16.864814,26.138162 26.616907,21.6167405 C31.8257442,19.2008727 37.3066744,18.8405752 42.7638837,20.6184595 C45.2483023,21.427914 47.621093,22.4539636 50.0496977,23.2897983 C49.8341163,23.7937983 49.9380698,24.3804099 50.6001628,24.6698975 C54.6613256,26.445005 58.8062093,27.9889388 63.066907,29.2197818 C67.6457442,30.5422612 72.4527209,31.0809719 76.9896977,32.5082777 C86.4355116,35.4802116 88.0436512,45.122162 86.6580698,53.7755504 M85.1085349,34.5076165 C81.6578372,30.7276165 76.6234186,29.7397488 71.8185349,28.7622942 C66.7792326,27.7369388 61.8550465,26.3339306 57.0452791,24.5747901 C57.6703953,24.0971702 57.6599302,22.8142612 56.7138837,22.665005 C56.7034186,22.6629223 56.6929535,22.6608397 56.6824884,22.658757 C58.5920233,14.6919471 62.5555116,7.44017851 68.8896977,2.04265785 C70.0701628,1.0367405 68.3196977,-0.740449587 67.1706279,0.332806612 C60.814814,6.26903802 56.1738837,13.6568727 54.4387674,22.1832198 C50.081093,21.0613686 46.1022558,18.9280463 41.7327209,17.7687074 C37.4287674,16.6260298 32.944814,16.8162446 28.7127209,18.1824595 C19.6150465,21.1196826 12.9550465,28.4526744 8.63295349,36.6881455 C6.19248837,41.3386909 4.36946512,46.2870545 2.67202326,51.244443 C1.23202326,55.4534678 -1.09053488,60.4948562 0.581093023,64.9607405 C1.67504651,67.8826909 4.67923256,70.3658975 7.9534186,69.698757 C12.0327209,68.8656992 16.026907,64.0186909 18.8364419,61.2765421 C26.5443488,53.7554182 32.4452791,42.5417653 44.944814,44.2634182 C56.7794651,45.8934347 63.133186,57.2771702 62.8792326,68.3422612 C62.7822558,72.5485091 62.4578372,77.0692364 65.2045814,80.6014017 C67.3178372,83.3213355 70.753186,84.3286413 73.986907,83.099881 C77.6496977,81.707286 80.2638837,78.1917818 82.0485349,74.8699636 C84.583186,70.1513851 86.499,65.0169719 87.8657442,59.8492364 C90.004814,51.7657983 91.2703953,41.2588562 85.1085349,34.5076165' id='Fill-1' fill='%23000000' mask='url(%23mask-3)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M34.5990681,25.9426098 C34.0873373,25.1573535 33.1605691,24.7156916 32.2233877,24.6312246 C30.1325808,24.4415319 28.5378849,26.2461181 29.1217637,28.2067534 C29.3895298,29.1065412 30.0574575,29.9154196 30.9351353,30.3248695 C31.3620734,30.5238679 31.8834735,30.6684639 32.3587584,30.6004608 C32.9909839,30.5102673 33.6284159,29.969822 34.178824,29.6670295 C34.6407206,29.412197 34.7641905,28.9361756 34.686092,28.4658808 C34.6838607,28.4558593 34.6786541,28.4472695 34.6764227,28.437248 C35.1621207,27.7013834 35.0721215,26.6691687 34.5990681,25.9426098' id='Fill-4' fill='%23000000'%3E%3C/path%3E%3Cpath d='M26.929095,35.9313366 C27.0032246,35.6836952 26.9243883,35.3919371 26.7390643,35.2125295 C25.7141933,34.2219638 23.9427314,34.5137218 23.2437952,35.7495761 C23.2320286,35.7719285 23.223792,35.7942809 23.2126137,35.8166334 C23.1137743,35.9213369 23.0537646,36.0572161 23.0584712,36.2089774 C22.7413613,37.400715 23.7603491,38.5089251 24.9970189,38.6106875 C26.4184244,38.7265672 27.355046,37.3401281 26.8714386,36.0789804 C26.8914418,36.0301579 26.9137984,35.9831002 26.929095,35.9313366' id='Fill-6' fill='%23000000'%3E%3C/path%3E%3Cpath d='M23.466939,32.1359747 C24.0472904,31.8620309 24.1042148,31.2531985 23.8737403,30.7748742 C23.8348651,30.5113956 23.6835295,30.2706945 23.3746104,30.1130998 C23.3739162,30.1124842 23.373222,30.1124842 23.373222,30.1124842 C23.248266,29.9967507 23.1073434,29.8970228 22.9601729,29.8071446 C22.9615613,29.7985262 22.9650323,29.7905233 22.9671149,29.7825205 C23.0684682,29.2992713 22.8192503,28.8806606 22.2854104,28.7169099 C21.1434512,28.3678624 20.0355078,28.9834665 19.5669227,29.8526993 C19.0032322,30.019528 18.7234695,30.7908799 19.3815712,31.1590111 C19.3857364,31.1614735 19.3899016,31.1627047 19.3940668,31.1651671 C19.4447435,31.3461547 19.5252707,31.5246799 19.6474499,31.6958178 C19.8765359,32.0159319 20.2083636,32.247399 20.5860085,32.3920659 C20.7637237,32.5176491 20.9928098,32.5995245 21.2670188,32.6124522 C22.058407,32.6512352 22.7734331,32.463476 23.466939,32.1359747' id='Fill-8' fill='%23000000'%3E%3C/path%3E%3Cpath d='M33.3673168,36.6505941 C33.3836162,36.5809465 33.4018715,36.5124596 33.4077393,36.4381688 C33.4364262,36.1119858 33.1058744,35.7097708 32.7355521,35.6517311 C32.1644212,35.5617696 31.6610959,35.6430251 31.2633906,35.967467 C31.0932249,35.8339757 30.8513418,35.7585241 30.6485773,35.7852224 C30.2652155,35.8368777 30.0370239,36.0980563 30.0050771,36.4346865 C29.9574829,36.9251218 30.2495681,37.3093445 30.6687886,37.5473072 L30.6687886,37.5478876 C30.7242065,37.7272303 30.8604695,37.9007689 31.0371549,38.0249739 C31.6767433,38.7498895 32.9363607,38.8212784 33.7024324,38.1747163 C34.0923139,37.8462116 34.1060054,37.2066143 33.7024324,36.8798509 C33.5994202,36.7962737 33.4853244,36.7208221 33.3673168,36.6505941' id='Fill-10' fill='%23000000'%3E%3C/path%3E%3Cpath d='M77.2706806,44.5028908 C75.2764784,45.7883079 72.570363,44.3588665 70.7388235,42.7479544 C70.9057111,42.2748345 70.8176902,41.7008976 70.3135063,41.4229306 C70.7127693,41.1031966 71.1556906,40.9807759 71.6443828,41.0571088 C72.019704,41.0621497 72.3936169,41.0808728 72.7675299,41.1125582 C73.6153475,41.1773691 74.4737276,41.2681045 75.299716,41.4827007 C76.3404755,41.7527463 79.404308,43.1274585 77.2706806,44.5028908 M70.7613568,38.7059117 C68.4354917,38.9954006 66.8067525,41.9529401 69.1199425,43.231156 C70.9085278,45.3562349 73.5843641,46.9095373 76.3742755,46.5710801 C78.7163364,46.2873522 80.8872846,44.2134019 79.6317541,41.7073787 C78.2198984,38.8895427 73.4308556,38.3746558 70.7613568,38.7059117' id='Fill-12' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 90px;
        height: 85px;
        bottom: -45px;
        right: 110px;
      }
    }
    @include breakpoint(large){
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h2{
      font-weight: 400;
      font-size: 25px;
      line-height: 29px;
      color: #FFFFFF;
      letter-spacing: -1.63px;
      @include breakpoint(mediumplus){
        font-size: 45px;
        line-height: 49px;
      }
    }
    h3{
      font-weight: 400;
      font-size: 18px;
      color: #091838;
      letter-spacing: -0.94px;
      line-height: 18px;
      @include breakpoint(mediumplus){
        font-size: 26px;
        line-height: 28px;
      }
    }
    p{
      font-weight: 300;
      font-size: 12px;
      color: #28334A;
      letter-spacing: -0.3px;
      line-height: 15px;
      margin-top: 20px;
      @include breakpoint(mediumplus){
        font-size: 16px;
        line-height: 23px;
      }
    }
  }
  .field-name-field-image{
    position: relative;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 35px;
    @include breakpoint(large){
      margin: 0 auto;
    }
    &::before{
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='130px' height='103px' viewBox='0 0 130 103' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 15%3C/title%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Group-15' transform='translate(2.000000, 2.000000)' stroke='%23FFFFFF' stroke-width='3'%3E%3Cpath d='M3,57.4111786 C10.6853073,56.3465061 17.580728,52.2711868 24.2420737,48.2810038 C38.4180664,39.7879485 53.2962841,30.567024 60.8790087,15.8533997 C56.0874654,32.986394 59.2358208,53.0318008 71.8562872,65.536557 C74.1755882,67.8352392 77.0329819,69.9505507 80.2932457,69.9992001 C83.8509993,70.0515917 87.0692975,67.5236962 88.7572487,64.3811348 C90.4433348,61.2385733 90.8508678,57.5730313 90.9637087,54.0057235 C91.2929058,43.6462169 89.3783402,33.2212207 85.3897393,23.6597506 C83.4872971,19.0960666 80.9413817,14.5333181 76.77466,11.888477 C72.608871,9.24270039 66.4697643,9.18937321 63.243073,12.930696' id='Stroke-1'%3E%3C/path%3E%3Cpath d='M66,31.071122 C68.4312743,30.9537416 70.9068736,30.9093774 73.2570425,31.5304768 C75.6081545,32.1515763 77.8508117,33.526868 78.9872297,35.6369425 C80.0142497,37.5464537 80.0340545,39.8062576 79.9859572,41.9634691 C79.9340875,44.2602432 79.796397,46.6753219 78.548695,48.6199548 C77.1519854,50.7965757 74.631118,51.9814708 72.2234209,53' id='Stroke-3'%3E%3C/path%3E%3Cpath d='M79,69.5142052 C54.9267233,66.2345621 30.1764526,68.1166941 6.86107449,75 C4.52786279,74.3829537 1.73991195,72.5036394 0.925287221,70.2110824 C0.110662492,67.9194647 0.0511465298,65.4343743 0,63' id='Stroke-5'%3E%3C/path%3E%3Cpath d='M19,72.7212093 C22.5410585,76.9357762 25.6770851,81.5071914 28.3504792,86.3499992 C30.3619248,89.9945478 32.1237682,93.8090689 34.581389,97.1521745 C35.0449358,97.7832326 35.5605973,98.4189861 36.2655176,98.7401497 C37.0664387,99.1054497 37.9853036,99.0096641 38.8557109,98.9063659 L43.5240933,98.3560681 C44.4694728,98.2452573 45.5657106,98.0320874 46,97.1625043 C39.8751481,89.2329583 34.3546443,80.8113371 29.5061461,72' id='Stroke-7'%3E%3C/path%3E%3Cpath d='M86,9 C89.333661,6.00029937 92.666339,2.99970063 96,0' id='Stroke-9'%3E%3C/path%3E%3Cpath d='M98,33 C103.00064,31.3333333 108.00032,29.6666667 113,28' id='Stroke-11'%3E%3C/path%3E%3Cpath d='M99,59 C108.000615,61.3330409 117.000307,63.6669591 126,66' id='Stroke-13'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 130px;height: 103px;
      top: -25px; left: -55px;
    }
    &::after{
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='38px' height='61px' viewBox='0 0 38 61' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 5%3C/title%3E%3Cg id='1440' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Group-5' transform='translate(19.000000, 30.500000) scale(-1, 1) translate(-19.000000, -30.500000) translate(2.000000, 2.000000)' stroke='%23FFFFFF' stroke-width='3'%3E%3Cpath d='M15,22 C15.3833239,28.6893946 15.7686761,35.3787891 16.152,42.0661222 C16.188507,42.6783719 16.2635493,43.371018 16.7462535,43.7379555 C17.1518873,44.0471725 17.7055775,44.0162508 18.2105915,43.9729604 C23.1410704,43.5359337 28.0695211,43.1009685 33,42.6639418' id='Stroke-1'%3E%3C/path%3E%3Cpath d='M0,0 C0.166525577,18.5120064 0.333051155,37.0260835 0.501632604,55.5380899 C11.6670698,56.024703 22.8345628,56.5133869 34,57' id='Stroke-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 38px;height: 61px;
      bottom: -30px;
      right: -30px;
    }
    .field-item{
      @include breakpoint(xlarge){
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      img{
        max-width: 360px;
        margin: 0 auto;
      }
    }
  }
  button.close-button{
    font-weight: 100;
    font-size: 50px;
    color: white;
  }
}
