{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - block.subject: Block title.
 * - content: Block content.
 * - block.module: Module that generated the block.
 * - block.delta: An ID for the block, unique within each module.
 * - block.region: The block region embedding the current block.
 * - classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable classes_array from
 *   preprocess functions. The default values can be one or more of the following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user module
 *     is responsible for handling the default user navigation block. In that case
 *     the class would be "block-user".
 * - title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable classes.
 * - block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - zebra: Same output as block_zebra but independent of any block region.
 * - block_id: Counter dependent on each block region.
 * - id: Same output as block_id but independent of any block region.
 * - is_front: Flags true when presented in the front page.
 * - logged_in: Flags true when the current user is a logged-in member.
 * - is_admin: Flags true when the current user is an administrator.
 * - block_html_id: A valid HTML ID and guaranteed unique.
 * - content_attributes: Raw HTML attributes for block content.
 * - title_attributes: Raw HTML attributes for the block title tag.
 *
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see template_process()
 */
#}
{% if block.delta != 'main' %}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {% endif %}

  <div id="searchroomform">
    <div class="form-item-search">
      <div class="room-wrapper">
        <label for="room">{% trans %}<b>I'm searching for a room in :</b>{% endtrans %}</label>
        <select id="room">
          {{ drupal_view('location_list', 'block_1') }}
        </select>
      </div>
      <div class="budgetz-wrapper">
        <label for="budget">{% trans %}<b>My budget is </b>(costs excl.):{% endtrans %}</label>
        <select id="budget">
          <option value="250">€ 250</option>
          <option value="300">€ 300</option>
          <option selected="selected" value="350">€ 350</option>
          <option value="400">€ 400</option>
          <option value="450">€ 450</option>
          <option value="500">€ 500</option>
          <option value="550">€ 550</option>
          <option value="600">€ 600</option>
          <option value="650">€ 650</option>
          <option value="700">€ 700</option>
          <option value="750">€ 750</option>
          <option value="800">€ 800</option>
          <option value="850">€ 850</option>
          <option value="900">€ 900</option>
          <option value="950">€ 950</option>
        </select>
      </div>
    </div>

    <a href="" class="send-search button">{% trans %} show my studentrooms {% endtrans %}</a>
  </div>

  {% if block.delta != 'main' %}
</section>
{% endif %}
