{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}


<article id="node-{{ node.id }}" class="roomtype-teaser">
  <ul class="accordion small-show" data-allow-all-closed="true" data-accordion>
    <li class="accordion-item" data-accordion-item>
      <!-- Accordion tab title -->
      <a href="#" class="accordion-title">
        <div class="roomlabel">
          <div class="innerroom">
            {{ label }}
            {% if content.body.0 %}
              <div class="hover-body"></div>
              {{ content.body }}
            {% endif %}
          </div>
        </div>
        {{ content.field_square_feet }}
        {{ content.field_price }}
        <span class="available">
       {% if '1' in  content.field_available.0 %}
         <?xml version="1.0" encoding="UTF-8"?>
         <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>vink-01 2 copy</title>
    <defs>
        <filter id="filter-1">
            <feColorMatrix in="SourceGraphic" type="matrix" values="0 0 0 0 0.184314 0 0 0 0 0.231373 0 0 0 0 0.337255 0 0 0 1.000000 0"></feColorMatrix>
        </filter>
    </defs>
    <g id="1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="vink-01-2-copy" transform="translate(-1027.000000, -2385.000000)">
            <g transform="translate(1027.000000, 2385.000000)" id="vink-01" fill="#000000" fill-rule="nonzero">
                <path d="M8.5,1.67291471 C10.3242737,1.67291471 12.0370197,2.3819119 13.3275539,3.67244611 C14.6180881,4.96298032 15.3270853,6.67572634 15.3270853,8.5 C15.3270853,10.3242737 14.6180881,12.0370197 13.3275539,13.3275539 C12.0370197,14.6180881 10.3242737,15.3270853 8.5,15.3270853 C6.67572634,15.3270853 4.96298032,14.6180881 3.67244611,13.3275539 C2.3819119,12.0410028 1.67291471,10.3242737 1.67291471,8.5 C1.67291471,6.67572634 2.3819119,4.96298032 3.67244611,3.67244611 C4.96298032,2.3819119 6.67572634,1.67291471 8.5,1.67291471 M8.5,0 C3.80787254,0 0,3.80388941 0,8.5 C0,13.1961106 3.80787254,17 8.5,17 C13.1921275,17 17,13.1921275 17,8.5 C17,3.80787254 13.1961106,0 8.5,0 L8.5,0 Z" id="Shape"></path>
                <polygon id="Path" points="7.92964606 12.7210884 3.70068027 9.12153084 4.78176927 7.8487591 7.7150181 10.3465736 12.0075774 5.08843537 13.2993197 6.14244948"></polygon>
            </g>
        </g>
    </g>
</svg>
         {% else %}
         <?xml version="1.0" encoding="UTF-8"?>
         <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>block 2 copy</title>
    <defs>
        <filter id="filter-1">
            <feColorMatrix in="SourceGraphic" type="matrix" values="0 0 0 0 1.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0"></feColorMatrix>
        </filter>
    </defs>
    <g id="1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="block-2-copy" transform="translate(-1021.000000, -2414.000000)">
            <g transform="translate(1021.000000, 2414.000000)" id="block" fill="#FF0000" fill-rule="nonzero">
                <path d="M8.49998008,0 C3.80376031,0 0,3.80376922 0,8.5 C0,13.1962308 3.80376031,17 8.49998008,17 C13.1961998,17 17,13.1962706 17,8.5 C17,3.80372938 13.1962397,0 8.49998008,0 Z M1.70001195,8.5 C1.70001195,4.74300741 4.74299629,1.69997609 8.50001992,1.69997609 C10.072532,1.69997609 11.5132808,2.23974022 12.6650034,3.13224161 L3.13223427,12.6650331 C2.23973497,11.513268 1.70001195,10.0725157 1.70001195,8.5 Z M8.49998008,15.3000239 C6.92746803,15.3000239 5.48671915,14.7602598 4.33499661,13.8677584 L13.8677259,4.33500677 C14.7602252,5.48677185 15.299988,6.92752411 15.299988,8.5 C15.299988,12.2570324 12.2570037,15.3000239 8.49998008,15.3000239 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
       {% endif %}
    </span>

      </a>
      <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
      <div class="accordion-content" data-tab-content>
        {{ content.field_amount_people }}
        <div class="numba-wrap">
        <div class="field-label">
          {{ 'Kamer nr°'|t }}
        </div>
          {% if content.field_number_new.0 %}{{ content.field_number_new }}{% else %}{{ content.field_number }}{% endif %}
        </div>
        {{ content.field_facilities }}
        {{ content.field_floor }}
        <span class="extra-label">{{ '* excl. kosten'|t }}</span>
        <p><button class="button" data-open="reveal{{ content.field_number.0 }}">Check it out!</button></p>
      </div>
    </li>
    <!-- ... -->
  </ul>
  <div class="room-wrap mediumplus-show">
    {% if content.field_number_new.0 %}{{ content.field_number_new }}{% else %}{{ content.field_number }}{% endif %}
    <div class="roomlabel">
      <div class="innerroom">
      {{ label }}
      {% if content.body.0 %}
        <div class="hover-body"></div>
        {{ content.body }}
      {% endif %}
      </div>
    </div>
    {{ content.field_amount_people }}
    {{ content.field_facilities }}
    {{ content.field_square_feet }}
    {{ content.field_floor }}
    {{ content.field_price }}
    <span class="available">
       {% if '1' in  content.field_available.0 %}
         <?xml version="1.0" encoding="UTF-8"?>
         <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>vink-01 2 copy</title>
    <defs>
        <filter id="filter-1">
            <feColorMatrix in="SourceGraphic" type="matrix" values="0 0 0 0 0.184314 0 0 0 0 0.231373 0 0 0 0 0.337255 0 0 0 1.000000 0"></feColorMatrix>
        </filter>
    </defs>
    <g id="1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="vink-01-2-copy" transform="translate(-1027.000000, -2385.000000)">
            <g transform="translate(1027.000000, 2385.000000)" id="vink-01" fill="#000000" fill-rule="nonzero">
                <path d="M8.5,1.67291471 C10.3242737,1.67291471 12.0370197,2.3819119 13.3275539,3.67244611 C14.6180881,4.96298032 15.3270853,6.67572634 15.3270853,8.5 C15.3270853,10.3242737 14.6180881,12.0370197 13.3275539,13.3275539 C12.0370197,14.6180881 10.3242737,15.3270853 8.5,15.3270853 C6.67572634,15.3270853 4.96298032,14.6180881 3.67244611,13.3275539 C2.3819119,12.0410028 1.67291471,10.3242737 1.67291471,8.5 C1.67291471,6.67572634 2.3819119,4.96298032 3.67244611,3.67244611 C4.96298032,2.3819119 6.67572634,1.67291471 8.5,1.67291471 M8.5,0 C3.80787254,0 0,3.80388941 0,8.5 C0,13.1961106 3.80787254,17 8.5,17 C13.1921275,17 17,13.1921275 17,8.5 C17,3.80787254 13.1961106,0 8.5,0 L8.5,0 Z" id="Shape"></path>
                <polygon id="Path" points="7.92964606 12.7210884 3.70068027 9.12153084 4.78176927 7.8487591 7.7150181 10.3465736 12.0075774 5.08843537 13.2993197 6.14244948"></polygon>
            </g>
        </g>
    </g>
</svg>
         {% else %}
         <?xml version="1.0" encoding="UTF-8"?>
         <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>block 2 copy</title>
    <defs>
        <filter id="filter-1">
            <feColorMatrix in="SourceGraphic" type="matrix" values="0 0 0 0 1.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0"></feColorMatrix>
        </filter>
    </defs>
    <g id="1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="block-2-copy" transform="translate(-1021.000000, -2414.000000)">
            <g transform="translate(1021.000000, 2414.000000)" id="block" fill="#FF0000" fill-rule="nonzero">
                <path d="M8.49998008,0 C3.80376031,0 0,3.80376922 0,8.5 C0,13.1962308 3.80376031,17 8.49998008,17 C13.1961998,17 17,13.1962706 17,8.5 C17,3.80372938 13.1962397,0 8.49998008,0 Z M1.70001195,8.5 C1.70001195,4.74300741 4.74299629,1.69997609 8.50001992,1.69997609 C10.072532,1.69997609 11.5132808,2.23974022 12.6650034,3.13224161 L3.13223427,12.6650331 C2.23973497,11.513268 1.70001195,10.0725157 1.70001195,8.5 Z M8.49998008,15.3000239 C6.92746803,15.3000239 5.48671915,14.7602598 4.33499661,13.8677584 L13.8677259,4.33500677 C14.7602252,5.48677185 15.299988,6.92752411 15.299988,8.5 C15.299988,12.2570324 12.2570037,15.3000239 8.49998008,15.3000239 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
       {% endif %}
    </span>
    <p><button class="button" data-open="reveal{{ content.field_number.0 }}">Check it out!</button></p>
  </div>

  <!-- This is the first modal -->
  <div class="reveal large room-reveal-modal" id="reveal{{ content.field_number.0 }}" data-reveal>
  <div class="inner-wrapper">
    <div class="upper-wrapper">
      <div class="left-wrapper">
        {{ content.field_building }}
        <div class="roomnumber">{{ 'Kamer'|t }}#{% if content.field_number_new.0 %}{{ content.field_number_new }}{% else %}{{ content.field_number }}{% endif %}
        </div>
      </div>
      <div class="right-wrapper">
        <div class="inner-right">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="43" height="42" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <filter id="a">
              <feColorMatrix in="SourceGraphic" values="0 0 0 0 0.090196 0 0 0 0 1.000000 0 0 0 0 0.498039 0 0 0 1.000000 0"/>
            </filter>
          </defs>
          <g transform="translate(0 -3)" filter="url(#a)" fill="none" fill-rule="evenodd">
            <path d="M39 8V3l-7 3-2 1-1 3-2 1a13 13 0 00-13-8C10 3 7 5 4 7c-2 3-4 7-4 11 0 14 13 26 13 27h1a1 1 0 001 0c0-1 13-13 13-27l-1-5 3-1 3 3 2-1 7-3-3-3zM14 43C12 40 2 30 2 18 2 10 7 5 14 5c5 0 9 3 11 7l-3 1a9 9 0 00-17 4c0 5 4 9 9 9a9 9 0 008-11l3-1 1 4c0 12-9 22-12 25zm0-25l7-2v1c0 4-3 7-7 7s-7-3-7-7 3-7 7-7c3 0 5 2 6 4l-6 2v2zm21-6l-2 1-2-2V8l6-2v3l2 2-4 1z" fill="#FFF" fill-rule="nonzero"/>
          </g>
        </svg><span class="inner-right-address"></span>
        </div>
      </div>
    </div>
    <div class="bottom-wrapper">
      <div class="bottom-left">
        {{ content.field_room_images }}
      </div>
      <div class="bottom-right">
        <div class="inner-info">
          {{ content.field_amount_people }}
          <div class="roomnumber-under">
            <div class="field-label">{{ 'Kamer'|t }}</div>
            <div class="numbawrap">{{ 'Kamer'|t }}#{% if content.field_number_new.0 %}{{ content.field_number_new }}{% else %}{{ content.field_number }}{% endif %}
            </div>
          </div>
          {{ content.field_facilities }}
          {{ content.field_square_feet }}
          {{ content.field_extra_costs }}
          {{ content.field_floor }}
          {{ content.field_epc }}
        </div>
        <div class="lower-place">
        <div class="price-reveal">{{ content.field_price }}</div>
        <button class="button" data-open="reveal{{ content.field_number.0 }}-2">Get it!</button>
        </div>
      </div>

    </div>

    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  </div>

  <!-- This is the nested modal -->
  <div class="reveal large room-reveal-modal-2" academy-year="" room-number="{% if content.field_number_new.0 %}{{ content.field_number_new.0 }}{% else %}{{ content.field_number.0 }}{% endif %}" id="reveal{{ content.field_number.0 }}-2" data-reveal>
    <h3>{{ 'Ik heb interesse in '|t }}</h3>
  {{ content.field_form }}
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</article>
