{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<article {{ attributes.addClass(node.bundle, view_mode) }}>

  <header>
    <figure>
      <figcaption>
        <h2>{{ content.field_building.0 }}</h2>
        <h3>{{ 'Kamer#' |t }}{% if content.field_number_new %}{{ content.field_number_new }}{% else %}{{ content.field_number }}{% endif %}</h3>

        {{ drupal_block('block_content:db31f4b1-e833-47ff-a430-2fcbfb7f739e', wrapper=false) }}
      </figcaption>
      <div class="street-wrapper">
        {{ content.field_building.0 }}
      </div>
      {{ content.field_building.0 }}
    </figure>

  </header>

  {# We hide the comments and links now so that we can render them later. #}
  <div{{ content_attributes }}>
    <div class="uppa">
    <div class="inner-wrapper">
      <div class="upper-wrapper">
          <h4>be part of the Diggit community</h4>
      </div>
      <div class="bottom-wrapper">
        <div class="bottom-left">
          {{ content.field_room_images }}
        </div>
        <div class="bottom-right">
          <div class="inner-info">
            {{ content.field_amount_people }}
            <div class="roomnumber-under">
              <div class="field-label">{{ 'Kamer'|t }}</div>
              <div class="numbawrap">{{ 'Kamer#' |t }}{{ content.field_number }}</div>
            </div>
            {{ content.field_facilities }}
            {{ content.field_square_feet }}
            {{ content.field_extra_costs }}
            {{ content.field_floor }}
            {{ content.field_epc }}
          </div>
          <div class="lower-place">
            <div class="price-reveal">{{ content.field_price }}</div>
          </div>
          <div class="lower-price-bottom">
          <button class="button pricebottom" data-open="reveal{{ content.field_number.0 }}-2">Get it!</button>
          </div>
        </div>

      </div>

    </div>
    </div>
    <div class="paragraph--type--roomtypes">
      <div class="right-amount"><span class="amountroom"><span class="inneramount">{{ content.field_building.0 }}</span></span></div>
      <h3> {{ "Kamertypes"|t }} </h3>
      <div class="field-wrapper field field-paragraph--field-academy field-name-field-academy field-type-string field-label-hidden">
        <div class="field-items">
          <div class="field-item">{{ 'Academiejaar 2021-2022'|t }}</div>
        </div>
      </div>
      <div class="upper-table">
        <div><span>{{ 'nr°'|t }}</span></div>
        <div><span>{{ 'kamertype'|t }}</span></div>
        <div><span>{{ '#'|t }}</span></div>
        <div><span>{{ 'faciliteiten'|t }}</span></div>
        <div><span>{{ 'opp.'|t }}</span></div>
        <div><span>{{ 'verdieping'|t }}</span></div>
        <div><span>{{ 'prijs/maand'|t }}</span></div>
      </div>
      <div class="field-name-field-roomtypes">
        <div class="field-items">
          <div class="field-item">
            {{ drupal_view('building_rooms','block_2') }}
          </div>
        </div>
      </div>

    </div>
  </div>

</article>
