{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - content_attributes: HTML attributes for the content.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% set field_name_class = field_name|clean_class %}
{%
  set classes = [
    'field',
    'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
    'field-name-' ~ field_name_class,
    'field-type-' ~ field_type|clean_class,
    'field-label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field-label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}
  <div{{ content_attributes.addClass('field-items') }}>
    {% for item in items %}
      <div class="field-item am-all am{{ item.content }}">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="18" height="21" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <filter id="a">
              <feColorMatrix in="SourceGraphic" values="0 0 0 0 0.184314 0 0 0 0 0.231373 0 0 0 0 0.341176 0 0 0 1.000000 0"/>
            </filter>
          </defs>
          <g filter="url(#a)" fill="none" fill-rule="evenodd">
            <g fill="#000" fill-rule="nonzero">
              <path d="M8.8 10.1a5 5 0 003.7-1.5c1-1 1.5-2.2 1.5-3.5a5 5 0 00-5.2-5 5 5 0 00-3.6 1.4c-1 1-1.5 2.2-1.5 3.6 0 1.3.5 2.6 1.5 3.5a5 5 0 003.6 1.5zM6.1 2.4c.7-.8 1.7-1.2 2.7-1.2 1.1 0 2 .4 2.8 1.2.8.7 1.2 1.6 1.2 2.7 0 1-.4 2-1.2 2.7-.8.7-1.7 1-2.8 1-1 0-2-.3-2.7-1A3.6 3.6 0 014.9 5c0-1.1.4-2 1.2-2.7z"/>
              <path d="M18 16.1a12.2 12.2 0 00-.6-2.6c-.1-.4-.3-.9-.6-1.3l-.8-1c-.3-.3-.7-.6-1.2-.8-.5-.2-1-.3-1.6-.3l-.8.4a114.4 114.4 0 01-2 1 4.6 4.6 0 01-2.8 0 120.8 120.8 0 01-2.9-1.4l-1.5.3a4.7 4.7 0 00-2 1.8c-.3.4-.5.9-.6 1.3A10.3 10.3 0 000 16v1.3c0 1 .4 2 1 2.6.8.7 1.7 1 2.8 1h10.4c1 0 2-.3 2.7-1 .7-.6 1-1.5 1-2.6V16zm-2 3c-.4.5-1 .7-1.8.7H3.8c-.8 0-1.4-.2-1.9-.7-.4-.4-.6-1-.6-1.7a16.3 16.3 0 01.2-2.4c0-.4.1-.8.3-1.1 0-.4.2-.7.4-1l.6-.8.8-.5a3 3 0 011-.2l.3.1a116.8 116.8 0 002.3 1.2 6 6 0 005-.6 114.8 114.8 0 001.1-.7c.4 0 .7 0 1 .2.3 0 .6.3.8.5.3.2.5.4.7.8l.4 1a9 9 0 01.5 2.3v1.2c0 .7-.2 1.3-.7 1.7z"/>
            </g>
          </g>
        </svg>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="18" height="21" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <filter id="a">
              <feColorMatrix in="SourceGraphic" values="0 0 0 0 0.184314 0 0 0 0 0.231373 0 0 0 0 0.341176 0 0 0 1.000000 0"/>
            </filter>
          </defs>
          <g filter="url(#a)" fill="none" fill-rule="evenodd">
            <g fill="#000" fill-rule="nonzero">
              <path d="M8.8 10.1a5 5 0 003.7-1.5c1-1 1.5-2.2 1.5-3.5a5 5 0 00-5.2-5 5 5 0 00-3.6 1.4c-1 1-1.5 2.2-1.5 3.6 0 1.3.5 2.6 1.5 3.5a5 5 0 003.6 1.5zM6.1 2.4c.7-.8 1.7-1.2 2.7-1.2 1.1 0 2 .4 2.8 1.2.8.7 1.2 1.6 1.2 2.7 0 1-.4 2-1.2 2.7-.8.7-1.7 1-2.8 1-1 0-2-.3-2.7-1A3.6 3.6 0 014.9 5c0-1.1.4-2 1.2-2.7z"/>
              <path d="M18 16.1a12.2 12.2 0 00-.6-2.6c-.1-.4-.3-.9-.6-1.3l-.8-1c-.3-.3-.7-.6-1.2-.8-.5-.2-1-.3-1.6-.3l-.8.4a114.4 114.4 0 01-2 1 4.6 4.6 0 01-2.8 0 120.8 120.8 0 01-2.9-1.4l-1.5.3a4.7 4.7 0 00-2 1.8c-.3.4-.5.9-.6 1.3A10.3 10.3 0 000 16v1.3c0 1 .4 2 1 2.6.8.7 1.7 1 2.8 1h10.4c1 0 2-.3 2.7-1 .7-.6 1-1.5 1-2.6V16zm-2 3c-.4.5-1 .7-1.8.7H3.8c-.8 0-1.4-.2-1.9-.7-.4-.4-.6-1-.6-1.7a16.3 16.3 0 01.2-2.4c0-.4.1-.8.3-1.1 0-.4.2-.7.4-1l.6-.8.8-.5a3 3 0 011-.2l.3.1a116.8 116.8 0 002.3 1.2 6 6 0 005-.6 114.8 114.8 0 001.1-.7c.4 0 .7 0 1 .2.3 0 .6.3.8.5.3.2.5.4.7.8l.4 1a9 9 0 01.5 2.3v1.2c0 .7-.2 1.3-.7 1.7z"/>
            </g>
          </g>
        </svg>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="18" height="21" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <filter id="a">
              <feColorMatrix in="SourceGraphic" values="0 0 0 0 0.184314 0 0 0 0 0.231373 0 0 0 0 0.341176 0 0 0 1.000000 0"/>
            </filter>
          </defs>
          <g filter="url(#a)" fill="none" fill-rule="evenodd">
            <g fill="#000" fill-rule="nonzero">
              <path d="M8.8 10.1a5 5 0 003.7-1.5c1-1 1.5-2.2 1.5-3.5a5 5 0 00-5.2-5 5 5 0 00-3.6 1.4c-1 1-1.5 2.2-1.5 3.6 0 1.3.5 2.6 1.5 3.5a5 5 0 003.6 1.5zM6.1 2.4c.7-.8 1.7-1.2 2.7-1.2 1.1 0 2 .4 2.8 1.2.8.7 1.2 1.6 1.2 2.7 0 1-.4 2-1.2 2.7-.8.7-1.7 1-2.8 1-1 0-2-.3-2.7-1A3.6 3.6 0 014.9 5c0-1.1.4-2 1.2-2.7z"/>
              <path d="M18 16.1a12.2 12.2 0 00-.6-2.6c-.1-.4-.3-.9-.6-1.3l-.8-1c-.3-.3-.7-.6-1.2-.8-.5-.2-1-.3-1.6-.3l-.8.4a114.4 114.4 0 01-2 1 4.6 4.6 0 01-2.8 0 120.8 120.8 0 01-2.9-1.4l-1.5.3a4.7 4.7 0 00-2 1.8c-.3.4-.5.9-.6 1.3A10.3 10.3 0 000 16v1.3c0 1 .4 2 1 2.6.8.7 1.7 1 2.8 1h10.4c1 0 2-.3 2.7-1 .7-.6 1-1.5 1-2.6V16zm-2 3c-.4.5-1 .7-1.8.7H3.8c-.8 0-1.4-.2-1.9-.7-.4-.4-.6-1-.6-1.7a16.3 16.3 0 01.2-2.4c0-.4.1-.8.3-1.1 0-.4.2-.7.4-1l.6-.8.8-.5a3 3 0 011-.2l.3.1a116.8 116.8 0 002.3 1.2 6 6 0 005-.6 114.8 114.8 0 001.1-.7c.4 0 .7 0 1 .2.3 0 .6.3.8.5.3.2.5.4.7.8l.4 1a9 9 0 01.5 2.3v1.2c0 .7-.2 1.3-.7 1.7z"/>
            </g>
          </g>
        </svg>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="18" height="21" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <filter id="a">
              <feColorMatrix in="SourceGraphic" values="0 0 0 0 0.184314 0 0 0 0 0.231373 0 0 0 0 0.341176 0 0 0 1.000000 0"/>
            </filter>
          </defs>
          <g filter="url(#a)" fill="none" fill-rule="evenodd">
            <g fill="#000" fill-rule="nonzero">
              <path d="M8.8 10.1a5 5 0 003.7-1.5c1-1 1.5-2.2 1.5-3.5a5 5 0 00-5.2-5 5 5 0 00-3.6 1.4c-1 1-1.5 2.2-1.5 3.6 0 1.3.5 2.6 1.5 3.5a5 5 0 003.6 1.5zM6.1 2.4c.7-.8 1.7-1.2 2.7-1.2 1.1 0 2 .4 2.8 1.2.8.7 1.2 1.6 1.2 2.7 0 1-.4 2-1.2 2.7-.8.7-1.7 1-2.8 1-1 0-2-.3-2.7-1A3.6 3.6 0 014.9 5c0-1.1.4-2 1.2-2.7z"/>
              <path d="M18 16.1a12.2 12.2 0 00-.6-2.6c-.1-.4-.3-.9-.6-1.3l-.8-1c-.3-.3-.7-.6-1.2-.8-.5-.2-1-.3-1.6-.3l-.8.4a114.4 114.4 0 01-2 1 4.6 4.6 0 01-2.8 0 120.8 120.8 0 01-2.9-1.4l-1.5.3a4.7 4.7 0 00-2 1.8c-.3.4-.5.9-.6 1.3A10.3 10.3 0 000 16v1.3c0 1 .4 2 1 2.6.8.7 1.7 1 2.8 1h10.4c1 0 2-.3 2.7-1 .7-.6 1-1.5 1-2.6V16zm-2 3c-.4.5-1 .7-1.8.7H3.8c-.8 0-1.4-.2-1.9-.7-.4-.4-.6-1-.6-1.7a16.3 16.3 0 01.2-2.4c0-.4.1-.8.3-1.1 0-.4.2-.7.4-1l.6-.8.8-.5a3 3 0 011-.2l.3.1a116.8 116.8 0 002.3 1.2 6 6 0 005-.6 114.8 114.8 0 001.1-.7c.4 0 .7 0 1 .2.3 0 .6.3.8.5.3.2.5.4.7.8l.4 1a9 9 0 01.5 2.3v1.2c0 .7-.2 1.3-.7 1.7z"/>
            </g>
          </g>
        </svg>
      </div>
    {% endfor %}
  </div>
</div>
